[2013-09-11 01:52] jonathanolson opened #1 "Text thinks "Refill Kit" is as wide as "Refill Ki""
This causes the text to overshoot the button UI, and it looks ugly (gray is shaded over where the Text bounds thinks it exists):

![bam-refill-bounds](https://f.cloud.github.com/assets/480878/1119775/bb18a3dc-1a84-11e3-8a42-e9937769d995.PNG)

[2013-09-11 02:13] jonathanolson opened #2 "Work around Chrome not changing the cursor instantly without a mousemove"
See http://stackoverflow.com/questions/8720071/how-do-i-force-the-mouse-cursor-to-change-without-a-mouse-movement-in-javascript
which references https://code.google.com/p/chromium/issues/detail?id=26723 and https://code.google.com/p/chromium/issues/detail?id=20717

[2013-09-11 04:13] jonathanolson opened #3 "Don't use scissors hit areas for touch events - instead, we need a solution"

[2013-09-26 07:23] jonathanolson opened #4 "IE10 doesn't seem to support our current .cur data URIs"
This breaks the scissors cursors on IE.

[2013-09-26 07:24] jonathanolson opened #5 "3D support and interface"
Almost all of the WebGL code has already been made for the Molecule Shapes demo. Build from that for the start, but also keep three.js in mind.

Use Constants.has3d flag to determine whether to initialize.

We also need a good design for how this works (currently it shows one at a time, we'll want to decide how to close this to get back, what touch areas are used to rotate the molecule, and how th

[2013-09-26 07:24] jonathanolson opened #6 "Add extended touch areas"

[2013-09-26 07:26] jonathanolson opened #7 "Fix startup performance"
It's very slow, sometimes ~20 seconds on the iPad. This can consist of:
- Delay reading / computing all structures initially, just the ones needed for display.
- More compact way of storing molecule data, or pre-compress

[2013-09-26 07:26] jonathanolson opened #8 "Model Performance"
Model operations are slow when there are many atoms out, in addition to other operations.

[2013-09-26 07:27] jonathanolson opened #9 "Scenery Performance"
Hit all the standard optimizations, none are done as of right now.

[2013-09-26 07:27] jonathanolson opened #10 "Add game "ding"-like sound"

[2013-09-26 08:13] jonathanolson opened #11 "Linting should cover Nitroglycerin"

[2013-10-08 02:45] jonathanolson opened #12 "Add swipe to split"
Probably should leave a brief visual trail also?

[2013-10-08 05:02] #11 closed, assigned to jonathanolson

[2013-10-10 20:29] jonathanolson opened #13 "Options for changing the small 3d/split buttons"
Should they just be larger to be easier to touch on smaller screens? Do we want something radically different like a '3D view' box where dragging in a molecule will show it in 3D?

[2013-10-10 20:50] jonathanolson opened #14 "Design for pannable/scrollable kits for touch"

[2013-10-10 21:29] jonathanolson opened #15 "Try 3d gradient on 2d"

[2013-10-11 19:10] #10 closed, assigned to jonathanolson

[2013-10-15 22:43] #13 closed, assigned to jonathanolson

[2013-10-15 22:46] jonathanolson opened #16 "Dragged molecule atoms should be in front of others"

[2013-10-16 02:31] jonathanolson opened #17 "Collection Box Molecule view graphics"
After thinking about this, I believe it should match the 3D view's look precisely, but at the ideal orientation.

[2013-10-16 02:36] jonathanolson opened #18 "Prevent text cursor when moused over chemical formulas"

[2013-10-16 03:47] #18 closed, assigned to jonathanolson

[2013-10-16 04:31] #15 closed, assigned to jonathanolson

[2013-10-16 06:58] #17 closed, assigned to jonathanolson

[2013-10-16 07:00] jonathanolson opened #19 "Radii / locations for molecules"
See CCl3, BF3, other examples. BF3 is where the hydrogen 'spheres' are entirely inside of the boron. CCl3 shows a more complicated intersection example.

Do we need differences for Van der Waals / covalent / ionic? Jmol may be handling these for us?

[2013-10-16 08:16] jonathanolson opened #20 "Get rid of unnecessary imports"
(before code review)

[2013-10-16 08:34] jonathanolson opened #21 "IE10 won't load non-built copy due to require.js errors"

[2013-10-16 09:22] jonathanolson opened #22 "Ball and Stick view"

[2013-10-16 09:22] jonathanolson opened #23 "3D background shouldn't cover up navbar"

[2013-10-16 09:23] jonathanolson opened #24 "Add a close button to the 3D view"

[2013-10-16 09:23] #5 closed, assigned to jonathanolson

[2013-10-16 09:27] jonathanolson opened #25 "Discuss continuing support for option translation strings for rare molecule names"

[2013-10-16 09:41] jonathanolson opened #26 "Play/Pause for 3D view rotation"

[2013-10-16 09:53] jonathanolson opened #27 "Cutoff home screen with Hungarian"
Will cross-post to Joist. Here's the screenshot:
![bam-hungarian-home-cutoff](https://f.cloud.github.com/assets/480878/1341410/cd89c5a2-3648-11e3-8fa2-9f512e58509f.PNG)

[2013-10-16 09:56] jonathanolson opened #28 "Touch area overlapping in Korean"
See screenshot.

![bam-korean-touch-overlap](https://f.cloud.github.com/assets/480878/1341426/3d49e6ba-3649-11e3-9f7f-04133e0c1b9b.PNG)

[2013-10-16 10:19] jonathanolson opened #29 "Startup layout bug - prevents animation frame"
Seems potentially linked to an order issue or possibly require.js. Seems to happen occasionally when opening a non-cached version.
![bam-ipad-startup](https://f.cloud.github.com/assets/480878/1341550/883dc774-364c-11e3-8f97-537d2b75e647.PNG)

[2013-10-16 10:25] jonathanolson opened #30 "Lock-ups on IE10"
Reproducible every time, especially when alt-tabbing in-out.

Win 7 64bit.
IE 10.0.9200.16721 update versions 10.0.10

[2013-10-16 11:01] jonathanolson opened #31 "Consider showing open targets for dragged molecule"
Probably only in the third tab?

[2013-10-16 11:01] jonathanolson opened #32 "Ghost molecule + dotted outline (1st time)"

[2013-10-16 18:36] #23 closed, assigned to jonathanolson

[2013-10-16 18:46] jonathanolson opened #33 "Cursor fallback on Firefox not working?"

[2013-10-16 19:37] #24 closed, assigned to jonathanolson

[2013-10-16 19:42] #3 closed, assigned to jonathanolson

[2013-10-16 21:31] jonathanolson opened #34 "iOS Safari Performance slows when dragging molecules outside other's bounds"
To test, pull out a bunch of molecules on the 3rd screen. Then drag around a molecule. It's fast when the bounding box of the molecules isn't changing, and slow when it is (even though we are using SVG).

Maybe a no-fill no-stroke rectangle can speed up performance in this case?

[2013-10-16 23:05] #6 closed, assigned to jonathanolson

[2013-10-16 23:14] #16 closed, assigned to jonathanolson

[2013-10-16 23:54] #21 closed, assigned to jonathanolson

[2013-10-16 23:55] jonathanolson opened #35 "iOS 7 Safari won't load require.js live version"

[2013-10-17 01:32] jonathanolson opened #36 "Reduce 3d animation GCs"

[2013-10-17 02:22] jonathanolson opened #37 "Consider stripping/combining 2D/3D molecule info for major space savings"

[2013-10-17 05:31] jonathanolson opened #38 "Check for listener leaks"
Dragging atoms after slicing seems to be too slow.

[2013-10-17 05:33] jonathanolson opened #39 "Only do one separation on slices, instead of many!"

[2013-10-17 05:35] #12 closed, assigned to jonathanolson

[2013-10-17 05:36] jonathanolson opened #40 "Slice sound effect"

[2013-10-17 05:36] jonathanolson opened #41 "Slice limiting"
Decide between limiting the distance (and then cutting then), or potentially a fade effect (which might have lower performance).

[2013-10-17 05:36] jonathanolson opened #42 "Cursor needed for slice?"

[2013-10-17 05:38] jonathanolson opened #43 "Adjustment of threshold between atom drags and slices"

[2013-10-17 05:40] jonathanolson opened #44 "Slicing multiple bonds should be atomic"
Breaking apart H2O2 with a slice should never cause an O2 collection box to flash.

[2013-10-17 06:04] jonathanolson opened #45 "Only slice when mostly perpendicular?"

[2013-10-17 06:53] jonathanolson opened #46 "Expand touch for kit arrows and 3d button"
Those were really the only touch issues on my galaxy s3.

[2013-10-17 18:01] jonathanolson opened #47 "3D background shouldn't be as dark"
As seen on iPad.

[2013-10-17 20:29] jonathanolson opened #48 "Crisper 3D / split buttons"
Might be best to just do the background / shapes in Scenery.

[2013-10-17 20:32] jonathanolson opened #49 "Should we add the option to translate the atom labels?"
For Chinese / Korean / Japanese, this may be beneficial.

[2013-10-17 20:52] #25 closed, assigned to jonathanolson

[2013-10-17 20:58] jonathanolson opened #50 "Windowed appearance for 3D (don't take up full screen)"

[2013-10-17 21:04] jonathanolson opened #51 "Screen rename"
Single, Multiple, Larger

[2013-10-17 21:08] #31 closed, assigned to jonathanolson

[2013-10-17 21:32] jonathanolson opened #52 "Thicker smoother slice line"
Possibly ghosting, softer but fruit-ninja-esque.

[2013-10-17 23:05] #49 closed, assigned to jonathanolson

[2013-10-17 23:08] #51 closed, assigned to jonathanolson

[2013-10-18 00:04] jonathanolson opened #53 "Accessibility"

[2013-10-18 02:25] jonathanolson opened #54 "Cursor fallback over 3D view"

[2013-10-18 02:33] #50 closed, assigned to jonathanolson

[2013-10-18 02:33] #47 closed, assigned to jonathanolson

[2013-10-18 02:34] #46 closed, assigned to jonathanolson

[2013-10-18 02:44] #41 closed, assigned to jonathanolson

[2013-10-18 02:46] #39 closed, assigned to jonathanolson

[2013-10-23 19:37] jonathanolson opened #55 "Homescreen/navbar icons"

[2013-10-24 21:02] jonathanolson opened #56 "Bucket labels should be white"
Potentially adjust bucket gradients for visibility.

[2013-10-24 21:16] jonathanolson opened #57 "Add non-wrapping carousel"
Mock up arrows (right-angle style, black/grey fill with width to work)

Status circles should also be clickable. Consider top-left and bottom-center.

Swipe to switch between kits - damped motion system.

[2013-10-24 21:18] jonathanolson opened #58 "Iconinize the refill kit button"
Barebones simple (bucket shape with circles on top).

[2013-10-24 21:24] jonathanolson opened #59 "Reset All button graphic instead of Reset Collection button"
Teacher control - to reset sim?

[2013-10-28 05:59] jonathanolson opened #60 "Add high-level documentation"

[2013-10-28 05:59] jonathanolson opened #61 "Improve type names"
For example Collection<X> should be KitCollection<X>, etc.

[2013-10-28 21:04] jonathanolson opened #62 "Convert main JS to require-style"

[2013-11-07 21:33] #42 closed, assigned to jonathanolson

[2013-11-07 21:35] #43 closed, assigned to jonathanolson

[2013-11-19 17:51] jonathanolson opened #63 "Directly reference ding sound so we don't pull all game sounds in"

[2014-06-27 00:06] pixelzoom opened #64 "replace mvt with modelViewTransform"
https://github.com/phetsims/graphing-lines/issues/15

[2014-06-27 00:57] pixelzoom opened #65 "replace explicit prototype assignment with inherit(Object,...)"
see phetsims/graphing-lines#13

[2014-09-29 22:03] pixelzoom opened #66 "replace MeterBodyNode with ShadedRectangle"
molecule-shapes is the only client of scenery-phet.MeterBodyNode, it's been replaced with scenery-phet.ShadedRectangle in all other sims. I've marked MeterBodyNode as deprecated. When you've switched over to ShadedRectangle, please delete MeterBodyNode.

[2014-10-21 15:53] pixelzoom opened #67 "replace PushButtonDeprecated"
... currently used in CloseButton. This is a prerequisite to phetsims/joist#170, and a requirement for completing https://github.com/phetsims/sun/issues/94.

[2014-11-10 19:20] #67 closed, assigned to pixelzoom

[2015-01-16 19:39] pixelzoom opened #68 "Uncaught TypeError on startup"
I was about to change 'BAM' to 'BUILD_A_MOLECULE' throughout, to address #69. But before doing so, I noticed that this sim is throwing an error at startup. I'm running out of master, and this does not appear to be OS or browser specific. Here's the stack trace:

 Uncaught TypeError: Cannot set property id of [object Object] which has only a getterPropertySet.js?1421437006049:60 PropertySetNextPrev

[2015-01-16 19:42] pixelzoom opened #69 "change BAM to BUILD_A_MOLECULE"
There's no reason that this sim should be using a different convention, and it's resulting in BAM-specific code in the string.js plugin (see https://github.com/phetsims/chipper/issues/83).  Please change BAM to BUILD_A_MOLECULE throughout.

[2015-01-16 19:49] jonathanolson commented on #69
There's no reason extra logic should be required in the string.js plugin (namespace should be included in package.json), but if it significantly simplifies things I can make the conversion.

Long-term, it's annoying to need to type many more characters for imports (can be ~5kB worth of additional characters)

[2015-01-16 19:55] pixelzoom commented on #69
Then use a live template (if you're using IDEA) or similar 'macro' expansion in whatever editor you're using.

[2015-01-16 20:19] pixelzoom commented on #69
I also don't think that string.js has any business knowing about package.json, for sims or dependencies.

[2015-01-16 20:28] pixelzoom commented on #68
Calling 2 supertype constructors in NextPreviousNavigationNode.  Unless one of these was designed as a mixing, this is generally dangerous.  I'm guessing that it worked at one time, and some change to either PropertySet or Node broke it.

[code]

[2015-01-16 22:14] pixelzoom opened #70 "directory structure violates PhET convention"
Source-code directory structure for a 1-screen sim should look like this:

[code]

[2015-01-16 22:17] jonathanolson commented on #68
It will be an even more dangerous fix for Scenery 0.2, where nodes mix in Events, which PropertySet extends. I'll plan on using composition for the property set or using individual properties.

[2015-01-16 23:57] pixelzoom commented on #68
Since this is a problem in a common-code component (scenery-phet.NextPreviousNavigationNode),  I took the liberty of fixing it. I removed the PropertySet, used individual Properties, and update client code (build-a-molecule was the only client).

Assigning to @jonathanolson for review.

[2015-01-17 00:02] pixelzoom commented on #69
#68 is fixed, so I completed this issue. closing.

[2015-01-17 00:02] #69 closed

[2015-01-17 06:35] jonathanolson commented on #68
Doh, had fixed when I didn't have internet (airport), saw merge conflicts and backed everything out.

We probably want a way to add a PropertySet-like property (ES5 getters/setters are more convenient) without something being a PropertySet. Also notably, .id was added to PropertySet, making it incompatible to mix into any Node.

Changes look fine, closing.

[2015-01-17 06:37] jonathanolson commented on #70
Is this also requesting the 'control' items moved to the 'view' directory? Or just adding the top-level JS directory 'build-a-molecule'?

[2015-01-17 21:08] pixelzoom commented on #70
Just adding the top-level build-a-molecule dir for the 1 screen.  I don't care too much about whether controls are in view or their own dir.

[2015-01-19 04:54] samreid commented on #68
lint errors, i'll push fix shortly

[2015-01-19 04:56] samreid commented on #68
Fixed above, closing.

[2015-01-19 04:56] #68 closed

[2015-02-10 21:18] pixelzoom opened #71 "remove chipper from phetLibs in package.json"
chipper is automatically added as a dependency at build time.

See chipper.Gruntfile.js, line 498:

[code]

[2015-02-10 21:20] pixelzoom commented on #71
Actually... I guess it's not hurting anything by having chipper in package.json.  But no other sims include it.

[2015-02-23 18:16] jonathanolson opened #72 "Fix assertion discovered with fuzzing"
[code]

[2015-02-23 18:23] #72 closed

[2015-02-25 00:20] pixelzoom opened #73 "potential problem with mutable bounds"
This may be a problem with mutable bounds.

CollectionAreaNode, line 85:

Recommended to use `dilated`. I see `dilated` used elsewhere throughout the sim, so I'm guessing this is a typo.

[2015-02-25 17:53] jonathanolson commented on #73
Thanks for catching this! Fixed.

[2015-02-25 17:53] #73 closed

[2015-03-08 17:48] pixelzoom opened #74 "Properties should have `Property` suffix"
See https://github.com/phetsims/beers-law-lab/issues/86

Examples of anti pattern (not exhaustive):

namespace:  var soundEnabled = new Property( false );
CollectionBoxNode: this.dialog = new Property( null );

[2015-07-21 18:45] samreid opened #75 "Annotate license.json"
This simulation has many images that are not annotated in the license.txt, either in the JS or Java version.  I'm unfamiliar with the sim and I don't know which images we drew ourselves vs used from a 3rd party.  Please annotate.

[2015-07-29 02:17] samreid opened #76 "Nickname causes issues for licensing"
Using BAM instead of BUILD_A_MOLECULE in the package.json is causing issues for the licensing module.  I recall we decided to go with the full names, so I'll fix this myself shortly.

[2015-07-29 02:17] #76 closed

[2015-07-29 02:44] samreid commented on #75
I added empty stubs above for the license.json file.  This is currently the only project that is not building, and is causing difficulty for the licensing project, which requires sims to build in order to harvest their license data.  I have workarounds in place but it would be good to resolve this soon.

[2015-08-11 23:29] pixelzoom commented on #75
I hit this again today. And the build fails now that we've added license checking.  Raising priority to high.

[2015-08-12 18:14] jonathanolson commented on #75
Let me know if there's anything else that should be done here (like the modified/converted scissors images being noted as derived works?).

[2015-08-12 19:34] samreid commented on #75
Added text above.

[2015-08-12 19:39] samreid commented on #75
Everything else looks good, thanks. Closing.

[2015-08-12 19:39] #75 closed

[2016-01-11 18:39] pixelzoom opened #77 "unused strings"
[code]

[2016-01-12 17:55] #77 closed

[2016-04-07 19:46] oliver-phet commented on #30
We require Internet Explorer 11+, closing.

[2016-04-07 19:46] #30 closed

[2016-05-12 18:35] pixelzoom opened #78 "use standard PhET namespace"
This sim appears to have its own non-standard namespace (see namespace.js), so it wasn't easily addressed when adding a standard PhET namespace to other sims in https://github.com/phetsims/joist/issues/307.  @jonathanolson will need to handle this.

This sim will continue to fail automated testing until this is addressed.

[2016-10-13 18:32] oliver-phet opened #79 "User suggestion: glucose molecule"
Assigning to @emily-phet for review.

[2016-10-13 19:56] emily-phet commented on #79
@oliver-phet - we considered this during the initial development. To include glucose, we would need to have a screen in the "Larger Molecules" tab that includes a bucket with 6 carbons, and at least 12 hydrogens and 6 oxygens. Each increase in the number of carbons increases (probably exponentially) the total number of molecules that would need to be able to be built in the sim. We decided to limi

[2016-10-13 19:57] oliver-phet commented on #79
Yep, thanks for the explanation. I will reply to the user!

[2016-10-13 19:57] #79 closed

[2016-10-31 21:09] pixelzoom opened #80 "Replace getQueryParameter with QueryStringMachine"
Factored out of https://github.com/phetsims/query-string-machine/issues/15

[2016-10-31 21:27] pixelzoom commented on #80
This sim doesn't have a *QueryParameters.js file, so someone else will need to do it.

[2016-11-14 03:26] pixelzoom commented on #80
BuildAMoleculeQueryParameters was not needed. The only query parameter used by this sim is `dev`, so I used `phet.chipper.queryParameters.dev`.

Closing.

[2016-11-14 03:26] #80 closed

[2018-01-31 17:38] phet-steele opened #81 "Cannot read property 'isSuppliedAndEnabled' of undefined"
Press the close button in a 3D view.

[code]

[2018-02-01 18:07] jonathanolson commented on #81
Does PushButtonModel need to call initializePhetioObject on its phetioEventSource? (I briefly looked into this, but couldn't determine what the problem was immediately).

[2018-02-02 02:37] samreid commented on #81
I added a fix that gets it working again, but the fix is unsatisfactory because it *seems* unrelated to the problem.  The problem is that PhetioObject can be configured from a sub-constructor or a sub-mutate call, and it uses options detection to decide which.  By adding the Tandem to the mutate call options, it triggered it to know which to use (and finish its initialization).  Not sure if we sho

[2018-02-05 18:19] pixelzoom commented on #81
@samreid said:

Agreed, unsatisfactory.

If `phetioEventSource` is a part of PhET-iO that must be initialized, then it should be included in PhetioObject `DEFAULTS`.   And documented there as well, since it's currently not documented anywhere else.

I’m also not convinced of (or perhaps don’t understand) the need for `phetioEventSource`.  It appears to be only used (needed?) for buttons, and invol

[2018-02-05 22:58] samreid commented on #81
`phetioEventSource` is used to send messages from a particular (other) object.  For instance, we would like the data stream to read like:

However, PushButtonModel actually handles the user input and fires the event, but we do not want the event stream to read like:

From PhET-iO's perspective, the PushButtonModel is an implementation detail that should not leak into the API or event stream.  So i

[2018-02-05 23:08] pixelzoom commented on #81
You presumably have control over the tandem identifiers.  If `resetAllButton.buttonModel` is not desirable, why not just "flatten" the model/view distinction and have PushButtonModel use  `resetAllButton`?

[2018-02-05 23:40] samreid commented on #81
Different objects cannot be assigned the same `phetioID`, hence `PushButtonModel` cannot use the same identifier as the `resetAllButton`.

[2018-02-06 15:41] pixelzoom commented on #81
So how about adding `phetioEventSource` to PhetioObject `DEFAULTS`. Is that appropriate? Are there problems with doing that?

[2018-02-06 17:51] samreid commented on #81
It seems inappropriate to add `phetioEventSource` to PhetioObject `DEFAULTS` because there are Objects that need to use `phetioEventSource` that are not `PhetioObject`s.

[2018-02-06 19:12] pixelzoom commented on #81
@samreid Meet me on Slack to discuss when you have time.  I suspect that I have an incomplete/faulty understanding of why the reported assertion was occurring, and why https://github.com/phetsims/sun/commit/de39c347facfe4575a45bb8aec8493f6ce77ed2d resolved the assertion failure.

[2018-02-06 19:29] pixelzoom commented on #81
Using `phetioEventSource` requires that a PhetioObject have `this.phetioObjectTandem`.  So rather than defining that in the default options for `NodesPushButton`, I think that  `this.phetioObjectTandem` should be assigned a default value in the constructor, prior to the `if` statement that calls `initializePhetioObject`.  I.e.:

[code]

[2018-02-06 20:33] samreid commented on #81
To summarize, there were 2 problems.  NodesPushButton needed to send a `tandem` option, which was ultimately the resolution.  The second problem is documented here: https://github.com/phetsims/sun/issues/335

[2018-02-06 20:33] #81 closed

[2018-10-24 22:38] KatieWoe opened #82 "CT startAngle should be a finite number"
[code]

[2019-03-26 19:04] Denz1994 commented on #64
I refactored usages of mvt to use the expanded modelViewTransform. Closing this issue.

[2019-03-26 19:04] #64 closed

[2019-04-02 17:27] Denz1994 commented on #74
Addressed the current list of properties with incorrect Property naming convention. Closing.

[2019-04-02 17:27] #74 closed

[2019-04-02 17:46] Denz1994 commented on #71
Chipper was removed from phetLibs in the package.json by this commit 91013a71a92b8b974019a99ca30b236222b963f8. Closing.

[2019-04-02 17:46] #71 closed

[2019-04-23 15:16] jonathanolson opened #83 "Build a Molecule code review"
*NOTE! Prior to doing a code review, copy this checklist to a GitHub issue for the repository being reviewed.*
*Please mark failed items with* ❌

PhET code-review checklist
=============

#### **Build and Run Checks**

- [ ] Does the sim build without warnings or errors?
- [ ] Does the html file size seem reasonable, compared to other similar sims?
- [ ] Does the sim start up? (requirejs and built

[2019-04-23 15:18] jonathanolson commented on #83
I've done an initial review, and I'd like to wait to do the in-depth review until the following general things are done:

For development:

- [ ] Identify polymorphic usage (e.g. Bond, MoleculeStructure) and what types are used. Being explicit about this is the best approach.
- [ ] Missing lots of documentation (was in progress, and there were lower standards)
- [ ] Replace prototype/inherit inher

[2019-05-01 15:48] Denz1994 opened #84 "Destruct calls updated to dispose"
As a part of https://github.com/phetsims/build-a-molecule/issues/83#issuecomment-485848343:

 Currently, there are cases of destruct(). This should be updated to follow our convention how we handle dispose().

Also, I see use cases of `_.each()` in some cases. For instances related to disposal, we are iterating through arrays of nodes. `_.each()` now dubbed `_.foreach()`, has the primary benefit o

[2019-05-01 16:10] Denz1994 opened #85 "Correct directory structure"
As a part of https://github.com/phetsims/build-a-molecule/issues/83#issuecomment-485848343:

The `Control` directory contains elements that should be moved to the `view` directory. Using this issue to track these changes.

[2019-05-01 16:55] #85 closed

[2019-05-01 16:56] Denz1994 commented on #84
Changes have been made. If any issue comes up as part of the code review we can reopen this issue. Closing.

[2019-05-01 16:56] #84 closed

[2019-05-01 16:56] Denz1994 commented on #85
Control directory items moved to the view directory. Control directory was also deleted. Closing.

[2019-05-01 17:46] Denz1994 opened #86 "Update usages of StringUtils.format"
As a part of https://github.com/phetsims/build-a-molecule/issues/83#issuecomment-485848343:

There are usages of `StringUtils.format( )` that should be using `StringUtils.fillIn( )`. I'll use this issue to keep track of those changes.

[2019-05-01 18:15] Denz1994 commented on #86
StringUtils.format usages have been converted. A majority of the strings should be refactored to remove the use of this dot notation such as `molecule.molecular_fluorine`. The key should match the value for these strings. If not, it should be documented or at least evident at the call site.

I'll open a new issue and close this one.

[2019-05-01 18:15] #86 closed

[2019-05-01 18:22] Denz1994 opened #87 "Strings in .json should match their value"
As described in https://github.com/phetsims/build-a-molecule/issues/86#issuecomment-488364855:

The strings in `build-a-molecule-strings_en.json` should match their value pair. The overuse of `.` and `_` within the strings should be refactored. I'll make the appropriate changes in this issue.

[2019-05-01 19:40] Denz1994 commented on #87
String notations have been updated. Closing.

[2019-05-01 19:40] #87 closed

[2019-05-01 20:27] Denz1994 opened #88 "array.forEach preferred over _.each"
As part of https://github.com/phetsims/build-a-molecule/issues/83:

`array.forEach` has been converted from `_.each()` during disposal calls. This pattern should be expanded throughout all use cases.

[2019-05-01 20:30] Denz1994 commented on #88
Conversion complete; `array.forEach()` has been implemented.

[2019-05-01 20:30] #88 closed

[2019-05-01 20:50] Denz1994 opened #89 "Checking against types"
As a part of https://github.com/phetsims/build-a-molecule/issues/83#issuecomment-485848343:

There is a lot of missing documentation for variables and a noticeable lack of `Property` usage. Two things for this issue:

1.  Type verification should be passively done as reviewing issues, refactoring code, etc. This means adding asserts where needed.

2. Introduce `Property` (and its various types) to

[2019-05-15 13:42] Denz1994 opened #90 "Correct import statements"
Import statements need to be organized categorically (modules, strings, etc.) and given proper documentation. There are some places that need refactoring (`CompleteMolecule.js`). This issue will track changes related to import statements.

[2019-05-15 17:19] Denz1994 opened #91 "Update inheritance pattern"
I see  7 cases of `constructor:` in BAM. I think this is a deprecated pattern for inheritance following:
[code]

After discussion with @jonathanolson I’m going to refactor to use `inherit()`.

An ES6 conversion will take place soon after, but that should be handled in another issue as the latter process will touch the whole sim project.

[2019-05-15 19:57] Denz1994 opened #92 "ES6 Conversion"
This sim should be converted to ES6 since it is actively being developed. At the creation of this issue, there aren't any ES6 features in use.

 I'll use this issue to track the conversions.

[2019-05-17 14:36] KatieWoe opened #93 "CT Arc startAngle should be a finite number: NaN"
[code]

[2019-05-23 14:47] KatieWoe opened #94 "CT Cannot read property stepEmitter of undefined"
[code]

[2019-05-23 19:00] Denz1994 commented on #94
Self-assigning, I think this was due to a recent refactor I made to use `Emitter`.

[2019-05-24 14:39] Denz1994 commented on #94
This commit cae3b19a36d4b3ab6129a8434532b39d57f578fb might have fixed the issue.

Additionally, I made a change to use `Array.shift()` instead of `Array.remove`.

Both were breaking CT so I'll address them here. Awaiting a few CT cycles before closing.

[2019-05-24 17:17] Denz1994 commented on #94
CT is looking clear and I can't reproduce locally. Closing.

[2019-05-24 17:17] #94 closed

[2019-05-28 18:33] KatieWoe opened #95 "CT Cannot read property atoms of null"
[code]

[2019-05-29 18:51] Denz1994 commented on #95
I'll let CT run a few more cycles. If failures persist, I'll review cases of kit.getMolecule() are failing.

I think this can be replicated with a molecule placed in a collection box and then dragging out a single atom.

[2019-05-29 19:58] Denz1994 commented on #95
This is still an issue but can be replicated with the above suggestion. Perhaps, the previous bond isn't being disposed of properly? I'll continue to investigate.

[2019-06-05 21:46] Denz1994 commented on #92
Accidently, closed due to commit message containing the phrase "fixed" along with this issue's hyperlink. Reopening.

[2019-06-07 16:40] KatieWoe opened #96 "CT various in ElementHistogram, BAMView, and KitView"
[code]

[2019-06-07 17:35] Denz1994 commented on #96
The above commit should have fixed linting errors. The `this` reference was also corrected in a previous commit. Will let CT run a few cycles before closing.

[2019-06-10 14:57] #96 closed

[2019-06-12 14:44] KatieWoe commented on #95
There seems to be an added component:
[code]

[2019-06-18 16:26] Denz1994 commented on #95
I believe there was an issue with how the atoms were being removed from Molecule.atoms[].
I've tracked down the buggy commit to https://github.com/phetsims/build-a-molecule/commit/e9be92071c3b737aa2552a76617268fbffad4862.

Note this should fix CT, but the line of code will still need refactoring. I'll let CT test against several cycles before closing.

[2019-09-30 15:32] KatieWoe opened #97 "CT duplicates are not allowed"
[code]

[2019-10-02 15:56] KatieWoe commented on #93
[code]

[2019-10-02 20:09] Denz1994 opened #98 "Drag bounds of the KitPlayAreaNode"
Currently, the visible bonds are the limits of where a molecule should be dragged. The issue here is that larger molecules with several atoms can cause some atoms to be dragged off-screen. We keep limits on the drag bounds that are smaller than the visible bounds.

[2019-10-02 20:09] Denz1994 opened #99 "Disabled carousel scrolling animation."
The scrolling animation for the kit area carousel has been disabled. The legacy kit area component didn't support this animation, but I'm not sure if that was a design decision. This issue is opened to settle on disabling the scrolling animation. Consider that Area-Builder, CCK, and Expression-Exchange use the scrolling animation.

If we do go ahead with using the animation, we should decide how t

[2019-10-02 20:09] Denz1994 opened #100 "Desired reset behavior?"
Currently, atoms dragged into the play area cannot be reset to their kits unless the user drags them back to the kit area. Looking at an older [dev version](https://phet-dev.colorado.edu/html/build-a-molecule/0.0.0-dev.12/phet/build-a-molecule_all_phet.html), we have a reset kit button.

Do we want a similar button for this behavior? This becomes more relevant on the "Larger" screen because we can

[2019-10-03 14:38] KatieWoe opened #101 "CT cannot read property 'hasConnection' of undefined"
[code]

[2019-10-03 16:09] ariel-phet commented on #99
Discussed with @Denz1994, this issue is a bit more of a polish, but using a transition does seem like it would be nicer. Marking as a polish, since it should be done when the rest of the sim is fully functional.

[2019-10-03 16:24] ariel-phet commented on #100
Discussed with @Denz1994 10/3/2019

First of all we should have a ResetAll button in this sim, the legacy version does not have a this button, but it is standard practice to always have the ResetAll button in sims.

It may be that having ResetAll will meet the needs of resetting the sim. Currently the "Reset Collection" button in the legacy sim appears to reset everything but the "kit position", n

[2019-10-08 15:01] KatieWoe opened #102 "CT cannot read propety width of null"
[code]

[2019-10-11 14:50] pixelzoom commented on #101
Still a problem as of 10/11/19.

[2019-10-21 16:45] KatieWoe opened #103 "CT Arc startAngle should be a finite number: NaN"
[code]

[2019-10-22 14:38] KatieWoe commented on #103
The two at the top may be related:
[code]

[2019-10-22 19:13] jonathanolson opened #104 "3D view with mobius"
The common code should be ready, using ThreeNode (you give it a width/height, and it acts basically like a rectangle in the view, as long as you call layout() on it whenever its position on-screen may have changed). It's potentially in flux, but it would be good to collaborate to get this working.

I hacked up a quick test in another screen view, with:
[code]
and the following running every frame:

[2019-10-28 16:14] KatieWoe opened #105 "CT error creating WebGL context"
[code]

[2019-11-11 14:49] Denz1994 commented on #101
A check has been added for the existence of an `Atom` and its `hasConnection` attribute. CT is failing to report this bug any longer. Closing.

[2019-11-11 14:49] #101 closed

[2019-11-11 14:56] Denz1994 commented on #103
CT isn't reporting this bug due to the use of Three.js. Only `CollectionBox` is using Molecule3dNode and its `tick()` function isn't being called. Closing.

[2019-11-11 14:56] #103 closed

[2019-11-11 15:06] Denz1994 commented on #102
CT isn't reporting this bug anymore. Perhaps, this is due to the callback for Dialog.show() being moved into `BAMView`. I'll close this issue.

[2019-11-11 15:06] #102 closed

[2019-11-11 15:08] Denz1994 commented on #98
Bounds have been adjusted to fit within the play area, not the visible bounds. `this.playAreaDragBounds` is currently being used as our play area bounds. Closing this issue.

[2019-11-11 15:08] #98 closed

[2019-11-11 15:22] Denz1994 commented on #99
Note: While the carousel is animating kits in and out of its view, the atom can be grabbed. This means that a user can grab an atom from a bucket while the play area is transitioning to the next kit.

Potential solution: Disable the pickability of atoms during the animation cycle. Does Carousel.js have support for this behavior?

Hacky alternative: Shorten the duration of the carousel animation, s

[2019-11-11 15:27] Denz1994 commented on #97
This bug was due to atoms being added and removed from the buckets. Some listeners have been added to report what is being added/removed for debugging. This isn't being triggered by CT so we can close this issue.

[2019-11-11 15:27] #97 closed

[2019-11-11 15:28] Denz1994 commented on #93
This is related to https://github.com/phetsims/build-a-molecule/issues/103. We can close this issue.

[2019-11-11 15:28] #93 closed

[2019-11-11 15:53] Denz1994 commented on #90
Imports have been updated along with documentation and formatting. This issue can be closed.

[2019-11-11 15:53] #90 closed

[2019-11-11 15:54] Denz1994 opened #106 "Unexpected chained assignment when declaring variable"
Found while running `grunt lint`:

[code]

[2019-11-11 16:10] Denz1994 commented on #106
This [commit](https://github.com/phetsims/build-a-molecule/commit/c1b92b9f6b1e07afdfefe48dc9ad2074319218bc) fixed this error. Closing this issue.

[2019-11-11 16:10] #106 closed

[2019-11-13 15:49] KatieWoe opened #107 "CT: cannot read property atoms of null"
[code]

[2019-11-20 11:45] Denz1994 commented on #56
Bucket labels are made white to contrast with darker backgrounds. This is the same for atomNode labels.
See `AtomNode.getTextColor()`.

![image](https://user-images.githubusercontent.com/13894380/69236256-23e27b80-0b61-11ea-934d-653f3fbfb4bf.png)

[2019-11-20 11:45] #56 closed

[2019-11-20 11:47] Denz1994 commented on #1
The refill button has been changed to look like the image below:

![image](https://user-images.githubusercontent.com/13894380/69236422-791e8d00-0b61-11ea-8819-d5f558567e5a.png)

There is enough spacing in the margins to account for the button's text size. Closing.

[2019-11-20 11:47] #1 closed

[2019-11-20 12:08] Denz1994 commented on #20
Handled in https://github.com/phetsims/build-a-molecule/issues/90. Closing.

[2019-11-20 12:08] #20 closed

[2019-11-20 12:11] Denz1994 commented on #57
Scenery-PhET's carousel has been added to all screens. It swaps between kits in the kitCollection and contains the buckets with atoms. There is no longer a need to label the kits (i.e. Kit #1).

Closing.

[2019-11-20 12:11] #57 closed

[2019-11-20 12:14] Denz1994 commented on #66
There is no longer any usages of `MeterBodyNode`or `ShadedRectangle`. There is only the use of `ShadedSphereNode`. This issue can be closed.

[2019-11-20 12:14] #66 closed

[2019-11-20 12:16] Denz1994 commented on #62
`Build-a-molecule-main.js` now follows the same JS require convention as other sims. This issue can be closed.

[2019-11-20 12:16] #62 closed

[2019-11-20 12:25] Denz1994 commented on #53
Strings have been added to `build-a-molecule-strings_en.json`. This can be tested using the `stringTest=x` query parameter. Closing this issue.

[2019-11-20 12:25] #53 closed

[2019-11-20 13:19] Denz1994 commented on #48
Buttons were replaced by Scenery elements. This includes the `ResetAllButton`, `ShowMolecule3DButtonNode`,  `RefillButton`, and `NextCollectionButton`.  The sound button was removed and now uses the nav-bar icon to support toggling sound.

Closing.

[2019-11-20 13:19] #48 closed

[2019-11-20 13:21] Denz1994 commented on #59
A `ResetAllButton` was added. Behavior changes are being tracked in https://github.com/phetsims/build-a-molecule/issues/100.

[2019-11-20 13:21] #59 closed

[2019-11-20 13:23] Denz1994 commented on #63
Ding is being referenced via `GameAudioPlayer`.

[code]

Closing.

[2019-11-20 13:23] #63 closed

[2019-11-20 13:27] Denz1994 commented on #35
I'm not sure what the details are in this issue, but I'm able to load require.js version just fine on Safari (Version 13.0.3 (15608.3.10.1.4)). I'll close this for now and QA can open a new issue with more detail if present during dev testing.

[2019-11-20 13:27] #35 closed

[2019-11-20 13:31] Denz1994 commented on #29
Similarly to https://github.com/phetsims/build-a-molecule/issues/35#issuecomment-556002773, I can't reproduce this issue. The latest versions =seem to be opening just fine without animation hiccups. However, this is present in [0.0.0-dev.11](https://phet-dev.colorado.edu/html/build-a-molecule/0.0.0-dev.11/build-a-molecule_en.html).

Closing.

[2019-11-20 13:31] #29 closed

[2019-11-20 13:34] Denz1994 commented on #33
Cursors seem to be working fine on FireFox 68.0.1 (64-bit). I'll make sure QA pays close attention to multi-browser supports for our icons and canvas elements during dev testing.

[2019-11-20 13:34] #33 closed

[2019-11-20 13:36] Denz1994 commented on #22
This is being handled in #104. Closing this issue.

[2019-11-20 13:36] #22 closed

[2019-11-20 13:37] Denz1994 commented on #27
Tested with stringTest=long. Home screen strings aren't trailing off of the screen anymore. Closing.

[2019-11-20 13:37] #27 closed

[2019-11-20 13:38] Denz1994 commented on #28
There are still some optimizations to be done for strings. Maxwidths need to be adjusted so they aren't overlapping or expanding bounds of panels. I'm going to close this issue because it isn't locale-specific.

[2019-11-20 13:38] #28 closed

[2019-11-20 13:57] Denz1994 commented on #14
The one concern regarding touch was mentioned in [here](https://github.com/phetsims/build-a-molecule/issues/99#issuecomment-552488099). Using two fingers, a user can snag an atom out of the bucket before it completes its animation cycle.

I will use issue #99 to track this concern and close this issue.

[2019-11-20 13:57] #14 closed

[2019-11-20 17:16] Denz1994 commented on #58
The refill button is currently a bucket with "Refill" text, which works well as is. I don't think it is necessary for this sim to have an icon but I'll double-check with @ariel-phet.

[2019-11-20 17:16] Denz1994 commented on #32
From the java version: The first time a collection box molecule is created a rather larger arrow and a message appears to direct the user to drop it into the box.

It is suggested that a more subtle indication is provided to guide the user.

Suggestions:
1. https://github.com/phetsims/build-a-molecule/issues/32#issuecomment-26553690
2. Text inside the collection box reading "Drag Here", that fades

[2019-11-20 17:16] Denz1994 commented on #2
I've been able to reproduce this by:

1. setting a query parameter to `screens=1`
2. hovering the cursor over a pickable object (resetAllButton)
3. resetting the browser page
4. before the sim loads, click the cursor (without moving) so the cursor icon changes to default

When the sim loads the cursor will be over a pickable object, but won't be a pointer icon.
This is still an issue for users pos

[2019-11-20 17:16] Denz1994 commented on #52
@ariel-phet The slice node was given a slightly thicker line but it would be good to settle if we want changes in the final version.

[2019-11-20 19:36] Denz1994 commented on #37
This is referencing the molecule structures in `CompleteMolecule.js`. There are only a few `PubChemAtom` types that only have 2d or 3d representations. They are preloaded and wouldn't save much space.

After talking with @jonathanolson, we decided to close this issue.

[2019-11-20 19:36] #37 closed

[2019-11-20 19:41] Denz1994 commented on #4
The scissors icon seems supported on platforms FF, Edge, and Chrome, while testing on macOS Catalina 10.15.1. I'll leave to QA to report on any issues with image support. Until then, closing this issue.

[2019-11-20 19:41] #4 closed

[2019-11-20 19:47] Denz1994 commented on #44
This was tested on the first kit collection on the Singles screen. Tested by creating hydrogen peroxide and cutting bonds in this order: Hydrogen-Oxygen, Hydrogen-Oxygen, Oxygen-Oxygen.

Using one slice stroke, the collection box didn't flash as if Molecular Oxygen (O2) was created.
Closing this issue.

[2019-11-20 19:47] #44 closed

[2019-11-20 19:51] Denz1994 commented on #2
@jonathanolson mentioned:
This is a `Scenery` specific issue. Because we have to monitor whether the cursor is over a touch area or not, `Scenery` must track the position of the cursor. It doesn't do this until the cursor has moved. This happens in other sims as well and isn't browser-specific.

[2019-11-20 19:56] Denz1994 commented on #19
@ariel-phet this issue has been lingering for a while. Can you either address this issue or refer to @jonathanolson for more information?

[2019-11-20 22:26] Denz1994 commented on #55
The first two screens operate like a game with goals to create single or multiple same-type molecules. The third screen functions like a sandbox for users to experiment with building molecules.

@arouinfar and @ariel-phet Thoughts on icons to represent this?

[2019-11-20 23:04] Denz1994 commented on #100
The `resetAllButton` and `refill button` are functioning well enough to compare. It would also be worth deciding where the placement of the button should go on each screen.

[2019-11-20 23:20] Denz1994 commented on #40
With the recent changes to common code components (seen [here](https://github.com/phetsims/tambo/issues/73)), the sim now has a lot more sound playing. It may be worth adding a slicing sound effect.

I don't know if this should be the same sound that the separation button makes. Maybe a swoosh or chop sound? Thoughts @ariel-phet?

[2019-11-20 23:27] Denz1994 opened #108 "Sounds for intractable elements"
A recent change to common code components in https://github.com/phetsims/tambo/issues/73 caused several buttons to have sounds played when pressed. This made me question whether we should integrate more sounds for other elements.

These elements would include:
- Scissors ( a snip? tear? or base pushButtonSound)
- SliceNode (see https://github.com/phetsims/build-a-molecule/issues/40#issuecomment-55

[2019-11-21 21:52] Denz1994 opened #109 "How to mange molecule data set?"
Molecule data is stored in a rather large data set. See `collectionMoleculesData`, `otherMoleculesData`, and `structuresData`.  This data contains all the available molecules that can be built in the play area.

With this data, a build version of the sim is sized at 8.1MB. Quite larger compared to other sims. Also, note that downloading the sim via Chrome will compress the .html file to 2.3MB. Tha

[2019-11-21 21:57] arouinfar commented on #109
There is so much flexibility in the third screen, and it would be really unfortunate to reduce the number of kits/atoms. My (unsolicited) vote would be against that option.

[2019-11-21 22:11] Denz1994 commented on #109
Just for clarification, any change to the amount of kits/atoms would have the same con of data regeneration noted in the above comment.

[2019-11-21 22:44] loganbraywork opened #110 "Repeated interaction with 3D button causes reload"
**Test device**
Windows 7 laptop
**Operating System**
Windows 7
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/459

When the 3D button is pressed multiple times in rapid succession, the sim will eventually face an error and need to reload.
**Steps to reproduce**
1. Create any molecule (O2 is quickest)
2.  Repeatedly and Rapidly click the 3D button
**Visuals**

[2019-11-21 23:24] KatieWoe opened #111 "3D view of molecule in wrong location and stick model"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/459
The 3D view of the model is partially off the screen when it comes up.  Changing the window size seems to fix this. Some of the molecules, such as the ball and stick view, look wrong as well.

**Visuals**
![ballandstick](https://user-images.githubusercontent.com

[2019-11-21 23:35] KatieWoe opened #112 "Atoms float in the bucket"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/459
When atoms in a bucket are taken from the bottom layer the atoms above it do not fall, leaving them floating in mid air.
**Steps to reproduce**
1. Go to the last screen (occurs on any, but this is easier)
2. Pick a bucket with two layers
3. Remove the bottom lay

[2019-11-22 15:25] Denz1994 commented on #112
`SphereBucket.removeParticle(particle, skipLayout)` indicates that its second argument should determine whether the layout is handled automatically. Currently, this is set to false and layout is handled by BAM code.

This should be refactored, but it requires the atom.destinationProperty be updated accordingly.

[2019-11-22 15:30] Denz1994 opened #113 "Scissor icon on touch devices"
There is a scissor icon that is shown when a user hovers the cursor over a bond. This indicates that it can be broken and clicking over the bond produces a "cutting" animation by the scissors.

As mentioned by @ariel-phet, this may need to change for touch devices because a user can't hover the cursor over the bond. It is a press event that occurs.

@terracoda Also mentioned that keyboard navigabi

[2019-11-22 15:42] Denz1994 commented on #113
**Potential solution:** On a down touch event, show the scissor as open.  Then once released, show the scissor as closed for a brief moment. I think we would want to avoid touch snagging for this operation. Or atom manipulation in general.

For keyboard nav, the process could follow the same paradigm. If a bond is highlighted, then show the scissors. When the press event occurs, then show closed s

[2019-11-22 15:52] Denz1994 commented on #111
Regarding the location of the dialog box: Centering only occurs correctly after adjusting the screen bounds. If the molecule `Three.3DObject`is removed from the dialog, this isn't a problem, so I think this has to do with an internal layout problem with the object itself, not dialog.

I'm not sure whether this is due to an implementation detail in BAM or Mobius, but I will pair with @jonathanolson

[2019-11-22 16:07] KatieWoe opened #114 "Early loading screen delay"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/459
Note that this is documented/recorded from one of our faster platforms. The sim has so far shown acceptable if slow load times. However, the progress bar does not seem to move at all until the very end. This gives the impression for a few seconds that the sim is

[2019-11-22 16:33] KatieWoe opened #115 "Large memory test and leak"
For https://github.com/phetsims/QA/issues/459
Start: 136 MB
1 min: 224
2 min: 282
3 min: 333
4 min: 381
5 min: 426
6 min: 471
7 min: crash

[2019-11-22 16:35] Denz1994 commented on #114
@KatieWoe Could you compare this loading time to a lower-end device?

[2019-11-22 16:53] KatieWoe opened #116 "Small atoms can be hard to grab with touch"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
chrome
**Problem description**
For https://github.com/phetsims/QA/issues/459
When your finger drags part of the screen when not starting on an atom, a cutting action is done. However, this means that dragging to pick up an atom doesn't work. This makes the margin of error for picking up an atom, particularly a small one, smaller.

**Visu

[2019-11-22 17:50] KatieWoe commented on #114
6 or so seconds on Win 7 IE. Acceptable for IE, but still looks like nothing as progressing as above.

[2019-11-22 18:16] KatieWoe opened #117 "Play area and return behavior"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/459
The atoms floating back from being off screen seem to return to the play area. In other sims it seems like they would normally return to their buckets. Also, the area where this return is triggered is shockingly small.

**Visuals**
![area](https://user-images.gi

[2019-11-22 18:38] KatieWoe opened #118 "Molecules created with atoms spread out"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/459
When two atoms are combined to make a molecule, they can form up at odd angles and far from each other in certain conditions.
**Steps to reproduce**
1. Pick out an atom and drag it outside the play area and let it return there
2. Do the same with a second (may h

[2019-11-22 19:23] KatieWoe opened #119 "Invisible answer box?"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/459
There seems to be an area on the right of the play area in the last screen that molecules can't be placed of used. They move as if an answer box is there, even though there isn't.
**Steps to reproduce**
1. Go to the last screen
2. Drag something far to the right

[2019-11-22 19:26] KatieWoe commented on #119
Similar behavior:
![slightlyrelated](https://user-images.githubusercontent.com/41024075/69454359-46bc8d80-0d23-11ea-854a-35c97a8e1b73.gif)

[2019-11-22 19:29] loganbraywork opened #120 "Atoms being returned from off of the play area do not repel existing molecules on the play area"
**Test device**
Windows 10 Laptop
**Operating System**
Windows 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/459

Atoms which cannot bond with an existing molecule will normally repel the molecule if placed near it. This behavior does not occur when an atom is being returned from off of the play area to the play area, leading to overlap.
**Steps to reprodu

[2019-11-22 20:04] loganbraywork opened #121 "Going back to previously completed collections do not display said different collection"
**Test device**
Windows 10 Laptop
**Operating System**
Windows 10
**Browser**
Chrome
**Problem description**
From https://github.com/phetsims/QA/issues/459

After a molecule collection is completed, it is possible to navigate back to said completed collection using the arrow button near the top of the collection box. Navigating back to previous collections does not alter the box in any way and the

[2019-11-22 20:26] KatieWoe opened #122 "Reset all crash behavior"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/459
Under certain conditions, resetting the sim causes the sim to crash and the page needs to be refreshed.
**Steps to reproduce**
1. Go to either the first or second screen
2. Finish one collection
3. Either go back to a previous collection and return to the curren

[2019-11-22 20:28] KatieWoe opened #123 "Resetting does not reset collection"
For https://github.com/phetsims/QA/issues/459
When you reset on the first or second screen after having completed at least one collection, resetting leaves you with a situation where it says you are on collection one, but the questions and atoms are of the one you were on.
![resetsamesim](https://user-images.githubusercontent.com/41024075/69458144-f1d14500-0d2b-11ea-8e01-7f47ddc75022.gif)

[2019-11-22 20:28] loganbraywork commented on #121
If a molecule in the second collection is completed before moving back to the first then back to the second, the atoms used to complete said model will return and can be manipulated.

[2019-11-22 20:50] KatieWoe commented on #121
Example of https://github.com/phetsims/build-a-molecule/issues/121#issuecomment-557682447 as well as graphical issues that occur as a result.
![example](https://user-images.githubusercontent.com/41024075/69459454-0236ef00-0d2f-11ea-8f78-a8583e6db2f8.gif)

[2019-11-22 20:50] loganbraywork commented on #121
If an atom is released in the basket while on a previously completed collection screen the sim crashes. The console error is:
build-a-molecule_all_phet.html:1068 Uncaught TypeError: Cannot read property '_parents' of undefined
    at C.removeChildWithIndex (build-a-molecule_all_phet.html:1068)
    at C.removeChild (build-a-molecule_all_phet.html:1068)
    at t.value (build-a-molecule_all_phet.html

[2019-11-22 20:51] KatieWoe commented on #122
Console Error
![console](https://user-images.githubusercontent.com/41024075/69459548-3dd1b900-0d2f-11ea-96ca-d441272440e5.png)

[2019-11-22 21:09] loganbraywork opened #124 "There is no way to access the next collection if one clicks the X instead of Next Collection button after completing a collection"
**Test device**
Windows 10 Laptop
**Operating System**
Windows 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/459

When one completes a collection they are presented with a text box which has two options, Next Collection and an X button in the corner. Clicking the X will close the text box and prevent the user from accessing the next collection at all, even

[2019-11-22 21:09] KatieWoe opened #125 "Crash when manipulating previous collection"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/459
When you manipulate atoms in a previous collection and return to the current one, graphical bugs result and a crash happens if you try to answer a question.
**Steps to reproduce**
1. Go to the first or second screen
2. Finish a collection
3. Go back to a previou

[2019-11-22 21:44] KatieWoe opened #126 "Reset Button overlaps answers box"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/459
On the second screen, the answer box gets bigger due to added text as you add molecules. It starts to overlap with the orange reset all button.

**Visuals**
![toobig](https://user-images.githubusercontent.com/41024075/69462536-7e810080-0d36-11ea-814f-b65c4f82f48

[2019-11-22 22:04] lmulhall-phet commented on #111
Also, a molecule can be off-center:

![issue](https://user-images.githubusercontent.com/31285590/69463633-58109480-0d39-11ea-8d5c-8b3270e64b66.png)

[2019-11-22 23:15] KatieWoe opened #127 "Boron ate the Hydrogen"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/459
The image that appears in the answer box for Borane looks like hydrogen is inside the boron rather than around it.

**Visuals**
What it looks like in the sim:
![isit](https://user-images.githubusercontent.com/41024075/69466891-171d7d80-0d43-11ea-8642-b567224bc97

[2019-11-22 23:16] lmulhall-phet commented on #127
You are Boron me with these silly issue titles, Katie.

[2019-11-22 23:32] KatieWoe commented on #119
Happens a bit on the left side of the screen too.

[2019-11-22 23:42] KatieWoe opened #128 "Long strings not handled consistently and lead to graphical problems"
For https://github.com/phetsims/QA/issues/459
![loooooooooong](https://user-images.githubusercontent.com/41024075/69467835-f9521780-0d46-11ea-823e-7f2597a0fa16.png)
![notgreatlong](https://user-images.githubusercontent.com/41024075/69467837-f9521780-0d46-11ea-8a8e-7527b48c6803.png)

[2019-11-24 18:30] Denz1994 commented on #119
There are playAreaBounds that are set on each screen which the molecules animate to. The 3rd screen needs a different set of bounds that extends a bit further to the right.

[2019-11-24 19:07] Denz1994 commented on #119
This https://github.com/phetsims/build-a-molecule/commit/cc2f23358680e3fd8229d70a7caf50154031a299 should have fixed the exaggerated bounds on the right side. Could @arouinfar review the size of the play area bounds?

[2019-11-24 19:08] Denz1994 commented on #119
Also, the refill and resetAllButton (on 3rd screen) are included in these bounds. This means there can be overlap with the atoms when dragged to the corner. Maybe the playAreaBounds should be a custom Shape instead of rectangular bounds.

[2019-11-24 19:19] Denz1994 commented on #126
There was some extra padding that was removed for the resetAllButton positioning. Will release a new dev version to compare.

[2019-11-24 19:25] Denz1994 commented on #125
`KitCollectionList.switchTo(collection)` is being called when the yellow arrow buttons hit. This is a good place to start. Perhaps the kitPanel and kitPlayAreaNode should keep track of the current collection? Standby for more information.

[2019-11-24 20:22] Denz1994 commented on #116
A grabbable offset was assigned to the mouseArea/touchArea of the atomNodes. I will create a new dev version to compare.

[2019-11-24 20:59] Denz1994 commented on #124
This is a side effect of using common code `Dialog`. The legacy version of BAM prompts the user to go to the next collection via a button in the play area in the kitPlayArea. It also shows yellow arrows to swap collections. If a user doesn't click the "Next Collection" button then they have to option to use the yellow arrow buttons.

It looks like I shouldn't be using Dialog to support this behavi

[2019-11-25 18:19] ariel-phet commented on #113
I think this issue needs to be discussed at design meeting, to properly think through the possibilities.

[2019-11-25 18:54] ariel-phet commented on #108
@Denz1994 a proper sound design will need to take place for those other signs, probably not appropriate for 1.0, as that design process can be longer.

As for the other sounds in the sim (besides perhaps the reset all button, and the "ding" that is in the sim already associated with a correct collection), other sounds should be disabled. I believe tambo is setup for these other sounds to be off by

[2019-11-25 19:18] ariel-phet commented on #100
@Denz1994 I think now that we have the `refillButton` and the `resetAllButton` any sort of reset collection button is unnecessary.

As for the positioning of the `resetAllButton`, two comments.

1. The current sim appears to be using an "old size" button, I believe this is related to potentially having old layout bounds, you might want to ask the dev channel or @pixelzoom specifically as I believe

[2019-11-25 19:46] pixelzoom commented on #100
The sim appears to be using default (standard) layoutBounds for its ScreenViews.  But `BAMView` is setting a non-standard radius for the `ResetAllButton`.

[code]

[2019-11-25 19:53] pixelzoom opened #129 "source code directory store structure doesn't conform to PhET standards"
While investigating https://github.com/phetsims/build-a-molecule/issues/100, I noticed source code directory store structure doesn't conform to PhET standards. The js/ directory should have a subdirectory for each screen (single/, multiple/, larger/) and a common/ subdirectory for code shared by 1 or more screens.  Instead, it has model/, view/, and screen/.  This will fail code review, and should

[2019-11-25 19:57] pixelzoom opened #130 "unconventional names for ScreenView subclasses"
Noticed while investigating #100.

PhET coding convention is to name ScreenView subclasses as `{{NAME}}ScreenView`.  This sim does not follow that convention. `BAMView` and `MoleculeCollectingView` should be renamed.

[2019-11-25 20:05] pixelzoom commented on #100
@ariel-phet said:

Two ways to do this (which may be combined):

(1) Create a `ScreenView` subclass that serves as the base class in all screens.  Instantiate and set the `ResetAllButton` position in this subclass.  (Looks like `BAMView` may serve this purpose.)

(2) Create BAMConstants `SCREEN_VIEW_X_MARGIN` and `SCREEN_VIEW_Y_MARGIN` and pass these options to each call to `new ResetAllButton`:

[2019-11-25 20:43] arouinfar commented on #116
I doubt we can support both `touchSnag` and the swipe-to-cut, but the mechanism for cutting bonds is still open for discussion in #113. Seems like the best course of action would be to dilate the touch bounds for Hydrogen.

It looks like @Denz1994 has already increased the pointerAreas in master. However, it looks like the areas were dilated for both touch and mouse, and dilated for large atoms. G

[2019-11-25 21:05] arouinfar commented on #117
Looks like this matches the Java behavior. That said, this approach generally feels weird to me.

There is no reason to allow users to drag the atoms beyond the top or left side of the ?dev boundary. Similarly, there is no reason to allow atoms to be dragged below the carousel. The right side of the screen is a little trickier since we need to allow molecules to be dragged into the collection area

[2019-11-25 21:05] arouinfar commented on #127
Looks like a bug to me @Denz1994

[2019-11-25 21:59] arouinfar commented on #118
I found a similar issue. However, I think the most important detail is that the first atom is dragged out of bounds.

<img src="https://user-images.githubusercontent.com/8419308/69581587-00ba3080-0f94-11ea-9c01-44d8de84dc72.gif" height=300>

[2019-11-25 22:17] arouinfar commented on #119
@Denz1994 things are looking good in master. I don't think we need to do anything special for the `ResetAllButton`. If the button is obscured, it's because a user put something in front of it. They can simply drag the molecule out of the way. There's also precedent for this sort of behavior in `expression-exchange`. There, coins can be dragged in front of the `ResetAllButton`.

![image](https://us

[2019-11-26 14:18] Denz1994 commented on #116
Sounds good @arouinfar. I've removed the mouseArea dilation and kept the touchArea dilation. I'll close this issue since the touchArea looks good in master.

[2019-11-26 23:55] Denz1994 commented on #111
In regards to the dialog box being centered: The issue is that the content was being added after the dialog was being initialized. Dialog handles this by resizing the dialog box to the newly added content (see `resize` in Dialog.options). However, the now resized dialog doesn't re-center itself (see `layoutOption` in Dialog.options). @jonathanolson thought we should log an issue about the Dialog b

[2019-11-27 19:34] ariel-phet commented on #109
As discussed today, we might see if there is some compression that can be done, but I don't think we need to reduce the data set at all.

[2019-11-27 19:36] ariel-phet commented on #52
Unclear if we want to use this kind of slicing action or a different bond separation paradigm. Deferring until we figure that out.

[2019-11-27 19:38] ariel-phet commented on #55
Discussed today with @Denz1994 thinking of creating these programmatically.

1st screen - Water (3d style)
2nd screen - 2 sets of oxygen molecules (3d style)
3rd screen - vinegar (3d style)

[2019-11-27 19:39] ariel-phet commented on #40
Deferred until we decide how to deal with separating individual bonds

[2019-11-27 19:49] arouinfar commented on #55
@Denz1994, here's what acetic acid (vinegar) looks like
![image](https://user-images.githubusercontent.com/8419308/69754899-443ba880-1114-11ea-9df3-ccc7617315d6.png)
![image](https://user-images.githubusercontent.com/8419308/69754918-51f12e00-1114-11ea-9c72-d5846f698be4.png)

[2019-11-27 20:02] arouinfar opened #131 "Organic Nomenclature"
According to teacher tips, we should be showing the common name for organic molecules, where applicable. However, there are some quirks in the current behavior.

A notable example would be that Acetic Acid Methyl Ester displays a common name, but isopropyl alcohol does not (propan-2-ol).
<img width="376" alt="BAM-nomenclature" src="https://user-images.githubusercontent.com/8419308/69755594-c8daf68

[2019-11-27 20:06] arouinfar commented on #113
Discussed in 11/27/19 design meeting.

We would like to have a common touch and mouse UX. The cut interactions in ESP(B) and CCK have worked well, and we would like to try something parallel. We discussed a few options

1. Tap atom and get up to 4 scissor buttons around it
2. Tap atom and neighbors light up
3. Tap atom, add dashed line orthogonal to bonds with scissor button next to the line

Self

[2019-12-02 14:47] Denz1994 commented on #128
Maxwidths have been adjusted for strings. I'll release a new dev version for comparison.

[2019-12-03 15:44] KatieWoe commented on #105
build-a-molecule : fuzz : built : run
Query: fuzz&memoryLimit=1000
Uncaught Error: Error creating WebGL context.
Error: Error creating WebGL context.
    at new se (https://bayes.colorado.edu/continuous-testing/snapshot-1575341067960/build-a-molecule/build/phet/build-a-molecule_en_phet.html?postMessageOnLoad&postMessageOnError&postMessageOnBeforeUnload&fuzz&memoryLimit=1000:1077:94912)
    at new

[2019-12-04 11:14] Denz1994 commented on #124
The above changes should now match the behavior of the Java version. I'll release a dev version to compare.

[2019-12-05 00:55] lmulhall-phet opened #132 "On Chrome OS, buckets too large, spill over into next page of carousel"
<b>Test Device</b>

Lovelace

<b>Operating System</b>

Chrome OS 79.0.3945.42

<b>Browser</b>

Chrome

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/459.

<b>Visuals</b>

![1](https://user-images.githubusercontent.com/31285590/70194161-acfbc580-16be-11ea-8b40-2a8fa1e43435.png)
![2](https://user-images.githubusercontent.com/31285590/70194167-b422d380-16be-11ea-9a65-1dde4bdc7

[2019-12-05 02:50] Denz1994 commented on #110
This failure was being triggered due to the browser refreshing when too many ThreeNodes are created (see [here](https://stackoverflow.com/questions/21548247/clean-up-threejs-webgl-contexts) for more info). Reserving a single dialog node in the BAMView restricts the sim to build only one ThreeNode.

The above commit should have solved this.

[2019-12-05 12:12] Denz1994 commented on #100
As part of a design meeting  11/27/19:

It was suggested to use a refresh button for the collection panel. The reason for this is due to a user not being able to **only** reset a collection. A refresh button was added to each collection panel and follows the behavior in the java version.

Will release dev version for comparison.

[2019-12-05 12:15] Denz1994 commented on #58
As part of design meeting 11/27/19:

The idea is to have an atom going into a bucket. This should be handled well with a Shape built inside the button.

[2019-12-05 17:20] Denz1994 commented on #113
From status meeting 12/05/19 @terracoda mentioned:

[2019-12-05 20:57] Denz1994 commented on #32
It was discussed during the design meeting on 11/27/19, that we would have a flashing box for the first molecule, highlighted box for subsequent molecules.

This has been implemented in this dev version [0.0.1-dev.28](https://phet-dev.colorado.edu/html/build-a-molecule/0.0.0-dev.28/phet/build-a-molecule_en_phet.html). It is still up for debate on what we want the subsequent highlights to look like

[2019-12-06 22:19] Denz1994 commented on #128
Can @KatieWoe confirm that the strings look okay in this [dev version
](https://phet-dev.colorado.edu/html/build-a-molecule/0.0.0-dev.28/phet/build-a-molecule_en_phet.html?dev)?

[2019-12-06 22:23] Denz1994 commented on #126
This should be fixed in this [dev version](https://phet-dev.colorado.edu/html/build-a-molecule/0.0.0-dev.28/phet/build-a-molecule_en_phet.html?dev) @KatieWoe.

[2019-12-06 22:24] Denz1994 commented on #110
Can you confirm this isn't happening in this [dev version ](https://phet-dev.colorado.edu/html/build-a-molecule/0.0.0-dev.28/phet/build-a-molecule_en_phet.html?dev) @KatieWoe?

[2019-12-06 22:27] Denz1994 commented on #119
@KatieWoe This invisible box bugginess should be fixed in this [dev version](https://phet-dev.colorado.edu/html/build-a-molecule/0.0.0-dev.28/phet/build-a-molecule_en_phet.html?dev).

[2019-12-06 22:38] KatieWoe commented on #128
This does indeed look better in the dev version.

[2019-12-06 22:54] KatieWoe commented on #124
The behavior is better, but interaction behind the box should probably be stopped.
![interactwhenshouldnt](https://user-images.githubusercontent.com/41024075/70361979-9f6e4900-1840-11ea-8346-46962311fe7a.gif)

[2019-12-06 22:56] KatieWoe commented on #126
looks good in dev version

[2019-12-06 23:10] KatieWoe commented on #110
Looks good in the dev version

[2019-12-06 23:22] KatieWoe commented on #119
Looks good in the dev version

[2019-12-06 23:31] KatieWoe commented on #124
Underlying problem does seem solved in the dev version.

[2019-12-07 00:02] KatieWoe opened #133 "Push atoms into the answer box"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
Found in https://phet-dev.colorado.edu/html/build-a-molecule/0.0.0-dev.28/phet/build-a-molecule_en_phet.html?dev while testing fixed issues. Fairly minor. It is possible to push atoms into the answer area even though they would normally be pushed out.
**Steps to reproduce**
1. Make part of a molecule
2. Put

[2019-12-07 00:15] arouinfar commented on #32
In the 12/5/19 design meeting, we decided to try a cueing arrow that points to the box when the corresponding molecule has been built in the play area. The arrow will be appear when the molecule is built, and will stay visible until the molecule has been dragged into the collection box. If there are multiple target molecules built in the play area, there will will be multiple arrows.
![image](http

[2019-12-07 00:16] arouinfar commented on #32
@ariel-phet how does this look?

[2019-12-07 16:21] samreid commented on #105
@Denz1994 this problem has been appearing on CT for a long time, can you please look into it?

[2019-12-09 14:40] Denz1994 commented on #124
The legacy version of this sim allows for the interaction of the sim while the next collection box is present. If we wanted to go ahead with removing this behavior that would be a decision for designers. Thoughts @arouinfar?

[2019-12-09 14:41] #128 closed

[2019-12-09 14:42] #119 closed

[2019-12-09 14:42] #110 closed

[2019-12-09 23:59] arouinfar commented on #124
@Denz1994 I think you should take a look at https://github.com/phetsims/balancing-chemical-equations/issues/137. The game in BCE uses a sim-specific dialog-like thing that isn't actually a dialog. For a11y, a dialog would be preferable, but converting the sim to use a dialog is non-trivial.

It seems really weird to me to allow user to interact with the sim while the dialog-like-thing is open. In

[2019-12-10 17:56] Denz1994 commented on #105
This bug is present due to webgl being disabled on certain browsers when creating the 3D molecule representation (more specifically, its ThreeObject). There is no current fallback for rendering the ThreeObject without using webgl. This means we need to check if webgl is enabled and enforce an alternative.

In Density, each screen view is filled with a message regarding webgl compatibility (see ima

[2019-12-10 18:33] arouinfar commented on #105
The sim is still largely usable without the 3D dialog, so I wouldn't want to prevent users from accessing the sim when webgl is disabled. I would be in favor of including the webgl warning in the 3D dialog.

[2019-12-11 15:21] #126 closed

[2019-12-11 15:36] Denz1994 commented on #114
The stall at the beginning is due the data set being loaded. From the design meeting on 11/27/19 and https://github.com/phetsims/build-a-molecule/issues/109#issuecomment-559224124 we aren't going to proceed with truncating the data set.

If the only issue is that it looks like the sim isn't loading, I would argue that the sim loading bar has a subtle dimming and brightening to its outline and that

[2019-12-11 17:13] arouinfar commented on #114
The gif doesn't look unreasonable to me. I understand that the load time is even longer for win7 devices, but I still think it's acceptable. Windows 7 is a month out from its end-of-life, and the devices running it are likely old and slow at this point. It shouldn't be particularly surprising to users that the sim loads slowly. I think we can go ahead and close this @Denz1994.

[2019-12-11 17:13] #114 closed

[2019-12-11 19:13] Denz1994 commented on #117
The bounds have been updated to match the mockup from above.

Note the 3rd screen uses different bounds for the carousel. It would really work out nicely (due to the above change) if the refill button could be moved to the right side of the screen. The top of the refill button would be aligned with the top of the carousel. See the mockup below.

![image](https://user-images.githubusercontent.com/1

[2019-12-11 21:58] arouinfar commented on #117
@Denz1994 the boundaries in dev.29 are generally looking pretty good, but things are a little funky on the 3rd screen.

This atom will get pushed into the play area.
<img width="122" alt="Screen Shot 2019-12-11 at 2 20 43 PM" src="https://user-images.githubusercontent.com/8419308/70661499-a969c080-1c21-11ea-8482-335a84d2b281.png">

This atom will get returned to the carousel.
<img width="123" alt=

[2019-12-12 15:53] KatieWoe opened #134 "CT cannot read property addParticleNearestOpen of undefined"
[code]

[2019-12-13 15:44] KatieWoe commented on #134
Related
[code]

[2019-12-16 16:15] Denz1994 commented on #122
Commit dc895aa57224af1e128248abfe662262fae237e5 might have fixed this. Can you confirm this is fixed in this [dev version](https://phet-dev.colorado.edu/html/build-a-molecule/0.0.0-dev.33/phet/build-a-molecule_en_phet.html) @KatieWoe ?

Note: You can use the query parameter `?easyMode`. It will allow you to go to the next collection after one completed molecule. You will need to refresh the sim if

[2019-12-16 16:16] Denz1994 commented on #121
Commit dc895aa57224af1e128248abfe662262fae237e5 might have fixed this. Can you confirm this is fixed in this [dev version](https://phet-dev.colorado.edu/html/build-a-molecule/0.0.0-dev.33/phet/build-a-molecule_en_phet.html) @KatieWoe ?

Note: You can use the query parameter `?easyMode`. It will allow you to go to the next collection after one completed molecule. You will need to refresh the sim if

[2019-12-16 16:31] Denz1994 commented on #117
Hey @arouinfar can you check this[ dev version](https://phet-dev.colorado.edu/html/build-a-molecule/0.0.0-dev.33/phet/build-a-molecule_en_phet.html) for the bounds on the 3rd screen?

[2019-12-16 17:27] arouinfar commented on #117
@Denz1994 the boundaries are all looking good, but the animation speed when bumping the atom back into the play area feels slower than it needs to be. Can you speed it up?

[2019-12-16 17:46] KatieWoe opened #135 "Reset All inconsistent collection. First reset won't let you continue"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
Found when checking https://github.com/phetsims/build-a-molecule/issues/122. Seems unrelated to that issue.
When you reset the first or second screen after completing a collection, the first time it will reset to show the first collection. If you hit reset again it shows you Collection 1, but it will be the

[2019-12-16 18:11] Denz1994 commented on #117
Could you take a look at master @arouinfar? I doubled the speed.

[2019-12-16 18:19] KatieWoe commented on #135
Now that I think of it, it may be related to https://github.com/phetsims/build-a-molecule/issues/121

[2019-12-16 22:58] arouinfar commented on #117
Looks much better, thanks @Denz1994

[2019-12-17 02:19] ariel-phet commented on #105
@Denz1994 I agree with @arouinfar - a message in the 3D dialog seems appropriate.

[2019-12-17 17:33] Denz1994 commented on #105
Every time the 3d button is pressed and webgl isn't supported this dialog shows. What do you think about this [dev version](https://phet-dev.colorado.edu/html/build-a-molecule/0.0.0-dev.34/phet/build-a-molecule_en_phet.html) @arouinfar? Any polishes?

I think you can test this on edge. If not, this link shows how to disable webgl on Firefox and you can test from there.

![image](https://user-image

[2019-12-17 18:28] arouinfar commented on #105
@Denz1994 the behavior of the dialog is looking good. I wonder if we should add another sentence to explain that the 3D rendering is unavailable.  Perhaps something like this:

[code]

@ariel-phet what do you think?

[2019-12-17 19:12] ariel-phet commented on #105
@arouinfar I agree - that would be clearer to the user

[2019-12-17 19:54] arouinfar commented on #105
Thanks @ariel-phet.

@Denz1994 can you adjust the message in the dialog?

[2019-12-17 20:37] ariel-phet commented on #124
@arouinfar @Denz1994 after chewing a bit...what about this idea...

1. We still use `dialog` and keep the close button (we could perhaps choose a more muted color for the close button as a polish if necessary)

2. If you close the dialog we leave a "Next Collection" button on screen. Perhaps we put the button near the to of the play area. I think using the close button to move to the next collecti

[2019-12-17 21:05] ariel-phet commented on #124
@Denz1994 @arouinfar I agree we should probably go with the balancing chemical equations approach and stop items in the sim from being pickable when the dialog appears.

I do not think having a close button move to the next collection would be a good UX. It seems we could still allow the close button and use the dialog approach. The close button could just close the dialog

[2019-12-17 21:56] Denz1994 commented on #105
The text has been updated. See below @arouinfar.

![image](https://user-images.githubusercontent.com/13894380/71037418-9a858100-20ed-11ea-974e-381448c96645.png)

[2019-12-17 22:15] KatieWoe commented on #122
Other than https://github.com/phetsims/build-a-molecule/issues/135 this seems solved

[2019-12-17 22:21] KatieWoe commented on #121
The issue and https://github.com/phetsims/build-a-molecule/issues/121#issuecomment-557689146 both seem fixed. https://github.com/phetsims/build-a-molecule/issues/121#issuecomment-557682447 still occurs and seems odd, but it does not cause issues anymore that I can see.

[2019-12-17 23:13] arouinfar commented on #105
The screenshot looks good @Denz1994.

[2020-01-02 13:45] Denz1994 commented on #105
Closing this issue. We now have a fallback for the WebGL context.

[2020-01-02 13:45] #105 closed

[2020-01-02 13:46] Denz1994 commented on #122
Closing this one. Further issues will be addressed in #135.

[2020-01-02 13:46] #122 closed

[2020-01-02 14:51] Denz1994 commented on #121
@arouinfar What do you think about this behavior in https://github.com/phetsims/build-a-molecule/issues/121#issuecomment-557682447? Do we want to keep the atoms in the play area as the user swaps between collections?

I personally vote to reset the play area an return the atoms to their buckets when the user swaps collections (the current behavior). I think of the collections as different scenes o

[2020-01-02 16:34] Denz1994 commented on #123
This was fixed as a part of https://github.com/phetsims/build-a-molecule/issues/121#issuecomment-566130544. Closing this one.

[2020-01-02 16:34] #123 closed

[2020-01-02 16:34] Denz1994 commented on #125
This was fixed during https://github.com/phetsims/build-a-molecule/issues/121#issuecomment-566130544. Closing this one.

[2020-01-02 16:34] #125 closed

[2020-01-02 16:36] Denz1994 commented on #134
I believe this has to do with exposed atoms from other kits being dragged. This [issue](https://github.com/phetsims/build-a-molecule/issues/132) is more clear about the cause of this bug.

[2020-01-02 16:37] Denz1994 commented on #117
Closing this one. The latest dev version contains these changes.

[2020-01-02 16:37] #117 closed

[2020-01-04 00:24] zepumph opened #136 "CT value is not a member of Enumeration [object Object]"
This CT bug is occurring because validation for enumerations currently expects to only ever have one Enumeration for a set of keys. This is up for discussion over in https://github.com/phetsims/phet-core/issues/79 but in the mean time I think this assertion for this sim has an easy solution.

[2020-01-04 00:25] zepumph commented on #136
@Denz1994 please review, do you think this is an alright change?

[2020-01-06 15:36] KatieWoe opened #137 "CT ENOENT no such file or directory"
[code]

[2020-01-06 16:30] Denz1994 commented on #137
This is due to a bunch of file path changes that were done after moving the model and view directories into a js/common directory. The way this was done, was by moving the files and directories via my cmd line. This means that the files that were moved into the js/common directory were recognized as new files and not tracked. So when I made a push, it only pushed the removal of the files in their

[2020-01-06 18:46] Denz1994 commented on #129
The js directory now contains common and screen-specific directories. The relevant paths have been updated in all the `require` import statements. Closing this one.

[2020-01-06 18:46] #129 closed

[2020-01-06 18:57] Denz1994 commented on #137
CT looks clear and #129 has been closed, so relevant directories and files have been appropriately moved.

[2020-01-06 18:57] #137 closed

[2020-01-06 23:04] arouinfar commented on #121
In Java the atoms remain in the play area when scrolling through the collections. It would be nice if we could keep that behavior, as it seems more natural.

That said, if it would take significant time investment or would make the code less robust/maintainable to do, I would be fine with resetting the play area when moving between collections.

[2020-01-07 20:37] Denz1994 commented on #130
Files have been refactored in the above commits.
- BAMView -> BAMScreenView
- MoleculeCollectingView -> MoleculeCollectingScreenView

Closing.

[2020-01-07 20:37] #130 closed

[2020-01-07 20:38] Denz1994 commented on #92
This repo has been updated by ES6 standards. There is no need to continue tracking these changes, so I'm going to close this one.

[2020-01-07 20:38] #92 closed

[2020-01-07 20:39] Denz1994 commented on #91
This was handled during the ES6 conversion in #92. I'm going to close this issue.

[2020-01-07 20:39] #91 closed

[2020-01-07 20:41] Denz1994 commented on #92
Also, note that many updates were made to the documentation, visibility annotations, type docs, and overall cleanups to the code structure. This will most likely cover other related issues related to the above changes.

[2020-01-08 15:05] Denz1994 commented on #136
Minor formatting changes in https://github.com/phetsims/build-a-molecule/commit/825842a3a0708c1951c6ddd30f200ccbecec884b, but I used a similar solution for https://github.com/phetsims/masses-and-springs/issues/349. I haven't seen this pop up on CT either.

[2020-01-09 15:51] Denz1994 commented on #136
CT has been clear for about half a day's worth of cycles. I'm going to close this one.

[2020-01-09 15:51] #136 closed

[2020-01-09 16:00] Denz1994 commented on #124
A few changes that should be reviewed in this [dev version](https://phet-dev.colorado.edu/html/build-a-molecule/0.0.0-dev.38/phet/build-a-molecule_en_phet.html?easyMode):
- The `AllFilledNode` is now a modal dialog.
- The `NextCollectionButton` only shows after the dialog is closed out. It remains on the screen until either it is clicked or the user clicks the resetAllButton.
- Both UI components

[2020-01-09 16:11] Denz1994 commented on #121
The current approach was partly done because we don't have a limit on the number of possible collections for the collection screens.

This wouldn't be a straight-forward change because we are disposing of the listeners when the collections are being changed. We would need to track the listeners for each kit and reassign them, which is possible.

This will increase the memory profile as more collec

[2020-01-09 16:20] Denz1994 commented on #134
CT has been clear for several cycles. This was caused by the bounds of buckets being leaked over into other pages in the carousel. Adjusting the bounds of the kitPanel and the bucket widths makes it so a user can drag these leaked atoms into another kit's playAreaNode.

[2020-01-09 16:20] #134 closed

[2020-01-09 16:20] Denz1994 commented on #132
From https://github.com/phetsims/build-a-molecule/issues/134#issuecomment-572635601

[2020-01-09 16:24] Denz1994 commented on #107
This hasn't been showing up since https://github.com/phetsims/build-a-molecule/commit/01b6914b07788a950b3d91266df9d5efaf738d4e was implemented. Closing this one.

[2020-01-09 16:24] #107 closed

[2020-01-09 16:25] Denz1994 commented on #70
This issue is stale. This sim has 3 screens now and the directory structure has been fixed in https://github.com/phetsims/build-a-molecule/issues/129

[2020-01-09 16:25] #70 closed

[2020-01-09 16:28] Denz1994 commented on #135
I think this has been fixed in the above commit. It can be verified on the latest [dev version](https://phet-dev.colorado.edu/html/build-a-molecule/0.0.0-dev.38/phet/build-a-molecule_en_phet.html).

[2020-01-09 16:29] Denz1994 commented on #78
This issue is stale. Automated testing hasn't been failing due to namespace issues.

[2020-01-09 16:29] #78 closed

[2020-01-09 16:30] Denz1994 commented on #95
This hasn't been showing up in the latest ct cycles. Closing this one.

[2020-01-09 16:30] #95 closed

[2020-01-09 16:31] Denz1994 commented on #82
Since we have been using Mobius and THREE.js to handle 3D representations we haven't been seeing this pop up in CT. Closing.

[2020-01-09 16:31] #82 closed

[2020-01-09 16:32] Denz1994 commented on #65
Since the repo is now following ES6 standards there is no need for this issue anymore. Closing.

[2020-01-09 16:32] #65 closed

[2020-01-10 20:23] arouinfar opened #138 "[Multiple Screen] Molecules overlap 3D button in collection"
It is possible for the molecules to overlap the 3D button in the collection. Molecules should only be allowed to fill the space to the left of the button, which means they will need to be scaled down a bit.
<img width="219" alt="BAM" src="https://user-images.githubusercontent.com/8419308/72183834-37190700-33ac-11ea-9d3f-945c3865c3fc.png">

Here's what it looked like in Java.
<img width="178" alt="

[2020-01-13 23:35] ariel-phet commented on #124
@Denz1994 almost...two tweaks.

1. There should be a `NextCollectionButton` contained in the dialog. The "normal/expected" interaction should be to click this button. If there user happens to click the "close" button on the dialog, then there is another `NextCollectionButton` on screen to allow them to move on (just as you have it no, no change needed with this button once the dialog is closed)

2

[2020-01-14 21:15] Denz1994 commented on #132
Can @KatieWoe verify this isn't an issue anymore in this [dev version](https://phet-dev.colorado.edu/html/build-a-molecule/0.0.0-dev.38/phet/build-a-molecule_all_phet.html)?

[2020-01-14 21:30] KatieWoe commented on #132
There is a very, very minor overlap of the buckets in the third page of the carousel on the third screen. So the second and forth pages have slight dots on the edge. Seen on Win 10 Chrome. Super nitpicky.
![here2](https://user-images.githubusercontent.com/41024075/72384315-6a280700-36da-11ea-9df2-55714e0615a4.png)
![here4](https://user-images.githubusercontent.com/41024075/72384317-6ac09d80-36da-1

[2020-01-15 21:06] Denz1994 opened #139 "Intermediate pixel polishes"
This BAM [dev](https://phet-dev.colorado.edu/html/build-a-molecule/0.0.0-dev.39/phet/build-a-molecule_all_phet.html) has come across far enough where some pixel polishing could be addressed.

I'll note some points that I think are worth review but will leave to the design team for further input:

- [x]  NextCollectionButton color scheme.
- [x]  The color scheme of atoms, considering their view in

[2020-01-15 22:56] Denz1994 commented on #135
Can you confirm this is fixed @KatieWoe?

[2020-01-15 23:27] lmulhall-phet commented on #135
This is fixed.

This is not fixed.

[2020-01-15 23:44] loganbraywork opened #140 "Multiple molecules overlap 3D button when in collection"
**Test device**
Hanson
**Operating System**
Windows 10
**Browser**
Chrome
**Problem description**
In the multiple molecules screen, collected molecules have a chance to  overlap the 3D button when in the collection.
**Steps to reproduce**
1. Enter Multiple screen
2. Complete the hydrogen collection
3. Observe hydrogen molecules in the completed collection
**Visuals**
[_Build a Molecule_.pdf](https

[2020-01-16 00:09] lmulhall-phet opened #141 "Going back and forth between collections and adding molecules can crash sim"
**Test Device**

Hanson

**Operating System**

Windows 10

**Browser**

Chrome 79.0.3945.117

**Problem Description**

If you follow steps 1-6 (see steps to reproduce), you should see molecules from collection A in the play area. You can manipulate these molecules, and if you try to put them back in their bucket, the sim crashes. There is a console error when the sim crashes.

[code]

**Steps to R

[2020-01-16 00:16] Denz1994 commented on #141
@lmulhall-phet Is this bug reproducible in https://phet-dev.colorado.edu/html/build-a-molecule/0.0.0-dev.39/phet/build-a-molecule_all_phet.html?

[2020-01-16 00:21] Denz1994 commented on #132
Very good eye @KatieWoe. This is literally a pixel polish. Should be fixed in this [dev](https://phet-dev.colorado.edu/html/build-a-molecule/0.0.0-dev.39/phet/build-a-molecule_all_phet.html)

[2020-01-16 00:22] Denz1994 commented on #140
Related to #138

[2020-01-16 11:04] Denz1994 commented on #124
This has been implemented so this behavior also occurs if the user clicks outside of the dialog to escape the prompt, not just if they hit the close button.

The above tweaks have been implemented in https://phet-dev.colorado.edu/html/build-a-molecule/0.0.0-dev.39/phet/build-a-molecule_all_phet.html. @ariel-phet should review when possible.

[2020-01-16 12:34] Denz1994 commented on #111
The rendering of the molecules in the dialog are now supported via ThreeJS. There is still an issue of positioning as described in https://github.com/phetsims/build-a-molecule/issues/111#issuecomment-557711710. The molecules that are required for the collection boxes have been fixed but a more general solution should be applied here.

Looking at  `CompleteMolecule.PubChemAtom2` it is constructed w

[2020-01-16 12:39] Denz1994 commented on #127
This is fixed for Boron but a more general solution is explained [here](https://github.com/phetsims/build-a-molecule/issues/111#issuecomment-575132079).

[2020-01-16 14:32] Denz1994 commented on #55
This [dev version](url) should have the latest homescreen/navbar icons @arouinfar. How would you like the two sets of O2 oriented? Should they be stacked vertically, or horizontally (like in the collection box layout)?

[2020-01-16 15:42] KatieWoe commented on #132
This issue looks good on that dev version

[2020-01-16 16:38] Denz1994 commented on #118
Related to #120

[2020-01-16 16:38] Denz1994 commented on #133
Related to #120

[2020-01-16 16:59] Denz1994 commented on #135
I see. I wasn't resetting the allFilledProperty along with the flag determining if the dialog has shown once on the BAMScreenSubtypes. This change has been made in this [dev version](https://phet-dev.colorado.edu/html/build-a-molecule/0.0.0-dev.40/phet/build-a-molecule_all_phet.html).

[2020-01-16 17:09] arouinfar commented on #55
@Denz1994 the Single and Playground icons look great. For Multiple, let's try two side-by-side oxygen molecules. I think it'd be a nice parallel to the collection box.

[2020-01-16 17:35] ariel-phet commented on #124
@Denz1994 behavior is all correct now. I might have a polish or two, but we will deal with that in a main polishing issue. Closing.

[2020-01-16 17:35] #124 closed

[2020-01-16 17:37] KatieWoe commented on #132
I'll also look at a few other platforms just in case today.

[2020-01-16 19:42] loganbraywork commented on #135
Appears to be fully fixed now

[2020-01-16 21:34] loganbraywork opened #142 "String test long causes issues with the 3D view of a molecule"
**Test device**
Windows 7 Laptop
**Operating System**
Windows 7
**Browser**
Firefox
**Problem description**
The long string test causes the 3D view of the molecule to shift to the right
**Steps to reproduce**
1. Use the StringTest=long query parameter
2. Complete a molecule
3. Enter the 3D view screen
**Visuals**
![2020-01-16StrnTstlngBldMlcl](https://user-images.githubusercontent.com/54685448/725

[2020-01-16 22:06] JRomero0613 commented on #118
This happens when the atoms are placed close to the bucket area and the collection area. The atoms are placed on top of each other and a connection between the two is not made.

[2020-01-16 22:15] JRomero0613 commented on #142
The "x" seen in the upper right hand corner that closes the window is present when the string is extra long, but can not be seen in other scenarios when the strings are shorter.

[2020-01-16 22:32] JRomero0613 opened #143 "Atoms Can Enter Areas They Aren't Supposed To When Spread Out"
For the latest build of Build-a-Molecule (dev 40) atoms that are spread out can be moved to an area where they would normally not be allowed (i.e. part of the atom is in the bucket area). To replicate this behavior build a vertical molecule right above the bucket area or a horizontal molecule right next to the collection area. Spread the molecule using the spread button or by cutting it. The molec

[2020-01-16 23:14] KatieWoe commented on #132
All looks good

[2020-01-17 21:31] loganbraywork opened #144 "Using two fingers on touch enabled devices causes atom spread in molecules"
**Test device**
Hanson
**Operating System**
Windows 10
**Browser**
Chrome
**Problem description**
Similar to https://github.com/phetsims/build-a-molecule/issues/118 but can lead to buggier behavior if two fingers continue to be used.
When two fingers are used on a built molecule it causes the atoms to change distance from each other  but the molecule to not break apart which can lead to further bu

[2020-01-17 21:40] loganbraywork commented on #144
Can also cause a crash similar to https://github.com/phetsims/build-a-molecule/issues/141 if spread out molecules are placed into the buckets

[2020-01-21 15:03] Denz1994 commented on #132
Thanks for checking. Closing this one.

[2020-01-21 15:03] #132 closed

[2020-01-21 16:12] Denz1994 commented on #55
Master has been updated with the above suggestion for the Multiple Screen. Could you review @arouinfar?

[2020-01-21 22:48] Denz1994 commented on #135
Nice. Closing this one.

[2020-01-21 22:48] #135 closed

[2020-01-21 23:02] Denz1994 commented on #127
Can you confirm this was fixed in this [dev version](https://phet-dev.colorado.edu/html/build-a-molecule/0.0.0-dev.42/phet/build-a-molecule_all_phet.html) @KatieWoe?

[2020-01-21 23:02] Denz1994 commented on #120
The `CollectionLayout` includes the appropriate bounds for the play area. After the collection layout is responsible for the bounds the molecules can be contained inside of when separating (see `Kit.separateMoleculeDestinations()`). The correction here is that the play area bounds and separation bounds are now using the collection layout's bounds.

Can you confirm this isn't an issue in this [dev

[2020-01-21 23:03] Denz1994 commented on #127
Can you confirm this isn't a problem in this [dev version ](https://phet-dev.colorado.edu/html/build-a-molecule/0.0.0-dev.42/phet/build-a-molecule_all_phet.html) @KatieWoe?

[2020-01-21 23:04] Denz1994 commented on #131
These names used for the molecules can be adjusted relatively easily.  Isopropyl alcohol and propane show the suggested names from above. If there are any other molecules that should be renamed we should detail in this issue.

@arouinfar Can you confirm this looks okay in this [dev version](https://phet-dev.colorado.edu/html/build-a-molecule/0.0.0-dev.42/phet/build-a-molecule_all_phet.html). Also

[2020-01-21 23:04] Denz1994 commented on #140
Can you confirm this isn't a problem any longer in this [dev version](https://phet-dev.colorado.edu/html/build-a-molecule/0.0.0-dev.42/phet/build-a-molecule_all_phet.html) @loganbraywork?

[2020-01-21 23:04] Denz1994 commented on #138
The layout boxes' content has been centered on the Multiple Screen. Can you confirm this is fixed in this [dev version](https://phet-dev.colorado.edu/html/build-a-molecule/0.0.0-dev.42/phet/build-a-molecule_all_phet.html) @arouinfar?

[2020-01-21 23:05] Denz1994 commented on #133
This may have been corrected due to changing play area bounds in #120. Can you confirm this isn't an issue in this [dev version](https://phet-dev.colorado.edu/html/build-a-molecule/0.0.0-dev.42/phet/build-a-molecule_all_phet.html)  @KatieWoe?

[2020-01-21 23:05] Denz1994 commented on #142
Changes have been applied to the radio button texts. Also, the close button's color has been switched to `white`. Can you confirm this looks good in this [dev version](https://phet-dev.colorado.edu/html/build-a-molecule/0.0.0-dev.42/phet/build-a-molecule_all_phet.html)?

[2020-01-21 23:06] Denz1994 commented on #143
I believe this is related to #120, but has been fixed due to changing the playAreaBounds. Can you test @JRomero0613  if this has been fixed in this [dev version](https://phet-dev.colorado.edu/html/build-a-molecule/0.0.0-dev.42/phet/build-a-molecule_all_phet.html)?

[2020-01-21 23:22] KatieWoe commented on #133
This does seem fixed, but I noticed that the molecules move back to the play area in two disjointed steps.
![doublejump](https://user-images.githubusercontent.com/41024075/72851932-37e25080-3c6a-11ea-9456-3891aa17c76d.gif)

[2020-01-22 16:06] KatieWoe commented on #127
Looks much better now. This is what the Borane molecule looks like now:
![nowlookslike](https://user-images.githubusercontent.com/41024075/72910893-6b6abc80-3cf6-11ea-98a6-55a4250383a2.png)

[2020-01-22 16:44] Denz1994 commented on #127
What do you think @arouinfar? A more general solution is described [here](https://github.com/phetsims/build-a-molecule/issues/111#issuecomment-575132079).

[2020-01-22 20:17] arouinfar commented on #138
Looks good @Denz1994!

[2020-01-22 20:17] #138 closed

[2020-01-22 20:18] arouinfar commented on #127
@Denz1994 looks good! The appearance is a close match for the Java version.

[2020-01-22 20:18] #127 closed

[2020-01-22 20:25] arouinfar commented on #55
@Denz1994 looks pretty good, but the alignment of the molecule within the icon could be cleaned up.  Can you center the molecules vertically and horizontally? For Multiple, the relative position of the molecules is good, but the group alignment looks off.
<img src="https://user-images.githubusercontent.com/8419308/72930825-09bc4980-3d1a-11ea-8d2f-01d84cf343a4.png" width=200><img src="https://user-

[2020-01-22 20:30] Denz1994 commented on #111
Model molecule data has been adjusted in the above commits. This should affect the specified molecules in the collection boxes and all molecules that can be modeled with the 3d dialog but don't have 3d data (of type `PubChemAtom2`)

 @KatieWoe or @arouinfar Can you see if this is still an issue in this [dev version](https://phet-dev.colorado.edu/html/build-a-molecule/0.0.0-dev.43/phet/build-a-mole

[2020-01-22 20:34] arouinfar commented on #111
I am unable to reproduce in dev.43, but I'll leave it to @KatieWoe to verify.

[2020-01-22 21:16] KatieWoe commented on #111
Checked several molecules and it is looking pretty good in that dev test

[2020-01-22 21:17] Denz1994 commented on #111
Thanks a lot for the verification. Closing this one.

[2020-01-22 21:17] #111 closed

[2020-01-22 22:00] Denz1994 commented on #133
Right this disjointed action is due to using both the `kit.separationMoleculeDestinations()` and `Twixt` animation support. We can get away with using just the Kit's model to handle the bounds for the molecules along with constraining them to those kit bounds.

I removed support for the animation behavior so we are solely relying on `kit.js` to do this for us.

The behavior has been updated in thi

[2020-01-22 22:07] loganbraywork commented on #133
Appears to be fixed

[2020-01-22 22:08] Denz1994 commented on #133
Nice closing this one.

[2020-01-22 22:08] #133 closed

[2020-01-22 22:22] loganbraywork commented on #142
Appears to be fixed

[2020-01-22 22:23] loganbraywork commented on #140
Appears to be fixed

[2020-01-22 22:26] loganbraywork commented on #120
Appears to be fixed

[2020-01-22 22:28] loganbraywork commented on #143
Appears to be fixed

[2020-01-22 22:31] Denz1994 commented on #143
Thanks, closing this one.

[2020-01-22 22:31] #143 closed

[2020-01-22 22:31] Denz1994 commented on #120
Nice. Closing.

[2020-01-22 22:31] #120 closed

[2020-01-22 22:34] Denz1994 commented on #142
Cool. Closing.

[2020-01-22 22:34] #142 closed

[2020-01-22 22:34] Denz1994 commented on #140
Thanks for verifying. Closing this issue.

[2020-01-22 22:34] #140 closed

[2020-01-22 22:39] Denz1994 commented on #118
An atom shouldn't be bonding when the atom is separating. We can use a flag to determine when an atom can be bonded and when it can't. This should be fixed in this [dev version](https://phet-dev.colorado.edu/html/build-a-molecule/0.0.0-dev.45/phet/build-a-molecule_all_phet.html). Can you confirm @KatieWoe?

[2020-01-22 23:00] Denz1994 commented on #113
The model elements for the cutting nodes have been implemented. This is ready for visual fine-tuning @arouinfar.

[2020-01-22 23:02] Denz1994 commented on #118
This is still buggy and shouldn't be reviewed yet. The flag for separation isn't resetting properly. Self-assigning.

[2020-01-22 23:46] Denz1994 commented on #36
Performance hasn't been noted as a major issue. If this comes up during dev testing a new issue should be opened. Closing this issue.

[2020-01-22 23:46] #36 closed

[2020-01-22 23:51] Denz1994 commented on #7
It has been noted that start up time isn't an issue and performance issues haven't been reported in the latest dev-test. See here: https://github.com/phetsims/build-a-molecule/issues/109.

[2020-01-22 23:52] Denz1994 commented on #9
Performance at this time isn't an issue. I will defer to QA to open any new performance-related issues. Closing this issue.

[2020-01-22 23:52] #9 closed

[2020-01-22 23:53] Denz1994 commented on #8
Performance has not been noted as an issue. There are still a few todos to be handled regarding performance in the code. Those should be tracked in a code review issue or an issue opened by QA during dev testing. Closing.

[2020-01-23 01:08] #8 closed

[2020-01-23 02:52] Denz1994 commented on #118
Patch applied to `Kit.canBond()`. The kit now checks if the atom is contained within the play area bounds. The previous implementation was a remnant of when we were checking for an `isAnimationProperty`.

This [dev version](https://phet-dev.colorado.edu/html/build-a-molecule/0.0.0-dev.46/phet/build-a-molecule_all_phet.html) should have the appropriate fixes @KatieWoe.

[2020-01-23 15:23] Denz1994 commented on #100
This can be reviewed in this [dev version](https://phet-dev.colorado.edu/html/build-a-molecule/0.0.0-dev.46/phet/build-a-molecule_all_phet.html) @ariel-phet. I think we have the desired behavior settled.

[2020-01-23 15:27] Denz1994 commented on #104
ThreeJS implementation has been completed with the help of @jonathanolson. `Molecule3DDialog.js` houses all of the main components for visual modeling and `BAMScreenView.js` is responsible for rendering. Additional features include an automated rotation with the ability to pause and stop the rotation, along with the ability to drag the 3D model around in the dialog

The 3D modeling is stable in it

[2020-01-23 15:27] #104 closed

[2020-01-23 15:33] Denz1994 commented on #61
Most of the type names, along with many variable names have been adjusted as part of the ES6 conversion. Closing this one.

[2020-01-23 15:33] #61 closed

[2020-01-23 15:35] Denz1994 commented on #26
The play and pause functionality has been implemented for the 3D dialog. There is an [issue](https://github.com/phetsims/build-a-molecule/issues/139) open for pixel polishes if further detailing is needed for visuals.

[2020-01-23 15:35] #26 closed

[2020-01-23 16:04] KatieWoe commented on #118
Looks good in that dev version after a quick check

[2020-01-23 16:05] Denz1994 commented on #118
Nice, thanks for the check. Closing.

[2020-01-23 16:05] #118 closed

[2020-01-23 16:33] Denz1994 commented on #139
Raising priority. Many bug related issues have been addressed. It was suggested that we should include pixel polishes in the next round of dev testing.

[2020-01-23 16:35] Denz1994 commented on #58
Did you have a mockup in mind for this @arouinfar?

[2020-01-23 16:39] Denz1994 commented on #32
Upping priority for input on visuals related to https://github.com/phetsims/build-a-molecule/issues/32#issuecomment-562790082.

[2020-01-23 17:27] mattpen opened #145 "Matt should be present for the next RC deploy"
See https://github.com/phetsims/perennial/issues/146#issuecomment-577354683.

I'd like to be present for the next RC deploy so I can investigate permissions issues on bayes if needed.

[2020-01-23 22:32] lmulhall-phet commented on #7
As of today (2020-01-23), I would say the startup time is a bit long.

Testing BAM on master gave the following results. (These times were measured from hitting the reload page button to the time the home screen was loaded.)

| Device                        | Time (s) |
|-------------------------------|----------|
| newish macOS (my MacBook Air) | 8.49     |
| newish Win10 (Logan's Lenovo) | 15.79

[2020-01-23 22:45] lmulhall-phet commented on #7
@Denz1994, I just tested https://phet-dev.colorado.edu/html/build-a-molecule/0.0.0-dev.47/phet/build-a-molecule_en_phet.html and the performance was much faster on all the above platforms. Load time took ~5 seconds on all platforms, and this seems acceptable.

[2020-01-23 22:56] lmulhall-phet opened #146 "If cursor is in play area, should it be knife icon?"
If cursor is in play area, should it be a knife icon? This way the user will know that you can slice the molecules. Or maybe change it to a knife when you're slicing the molecules...

[2020-01-23 23:13] loganbraywork opened #147 "Double and Triple digit collection numbers obscure right arrow"
**Test device**
Windows 10 Laptop
**Operating System**
Windows 10
**Browser**
Chrome
**Problem description**
Once the collection number reaches the double digits it touches the right collection view arrow. Once the collection number reaches the triple digits it is obscured by the right collection view arrow.
**Steps to reproduce**
1. Add the query parameter ?easyMode
2. Enter the "Single" screen
3

[2020-01-23 23:26] Denz1994 commented on #146
I think this is being further discussed as a part of https://github.com/phetsims/build-a-molecule/issues/52.

[2020-01-24 18:36] arouinfar commented on #58
I've mocked up a few options for an iconic button. We could also consider using a local reset, but I think it would only be appropriate if we decide to place the button on top of the carousel. At scale, I think the 2nd option is the easiest to read, so I've used it in the placement mockups below.
![image](https://user-images.githubusercontent.com/8419308/73093808-8a0ab800-3e9c-11ea-8e55-608a43065f

[2020-01-24 19:06] arouinfar commented on #131
Thanks @Denz1994. After playing around quite a bit with the simulation, I couldn't find any other organic molecules that need a nomenclature override.

I would, however, recommend that we use "isopropanol" for the override, since it's more parallel to "methanol" and "ethanol".

[2020-01-24 20:59] arouinfar commented on #58
The buttons in the mockups in https://github.com/phetsims/build-a-molecule/issues/58#issuecomment-578248931 are 40x40 px.

We could probably reduce the button to 30x30 px, but the icon will be a bit harder to read.
![image](https://user-images.githubusercontent.com/8419308/73103550-8cc3d800-3eb1-11ea-8ffe-f05ff48d3292.png)

[2020-01-24 21:04] arouinfar opened #148 "unable to create 4-carbon chain"
Noticed during #131

It should be possible to connect four carbons in a straight chain, but that's not currently possible.
![4-c](https://user-images.githubusercontent.com/8419308/73103813-2b503900-3eb2-11ea-9218-6bc5cc6910e9.gif)

However, it is possible to connect them in this arrangement
![image](https://user-images.githubusercontent.com/8419308/73103886-55a1f680-3eb2-11ea-8871-2bed6166f1ae.png

[2020-01-24 21:24] arouinfar commented on #139
For the ResetAllButton, we could bottom-align it with the body of the carousel and right-align it with the collection panel.
![image](https://user-images.githubusercontent.com/8419308/73104937-dcf06980-3eb4-11ea-89b1-d95bb21fb317.png)
![image](https://user-images.githubusercontent.com/8419308/73104956-e8dc2b80-3eb4-11ea-886b-0bd7c25de30f.png)

[2020-01-26 19:09] ariel-phet commented on #100
@Denz1994 behavior looks correct to me, closing

[2020-01-26 19:09] #100 closed

[2020-01-26 20:12] ariel-phet commented on #139
@Denz1994 here are some polishes I would like:

- [ ] Home screen and Navbar icons should probably use the sim play area background color, this will give them good contrast on the the homescreen and navbar, and follows the general convention of other sims

- [ ] For the "Single" screen, reduce the size of the water molecule slightly (it is just a bit big in the navbar now, perhaps about 15% reduct

[2020-01-26 20:15] ariel-phet commented on #139
@arouinfar two questions for you

- It might be better in the 3d window to just have icons for "Space Filling" and "Ball and Stick" view, that would reduce issues we could run into with layout and translation and such. Thoughts?

- I was thinking on the playground screen it might be nice if the bottom of the buckets stayed aligned as you flip the carousel back and forth, on some carousel pages tha

[2020-01-27 18:06] Denz1994 commented on #147
An additional option was added to `NextPreviousNavigationNode` to adjust the arrow padding (https://github.com/phetsims/scenery-phet/commit/af25310bf7688bfcc25d550607755802e3f117c3).

It looks like you had to complete about 100 collections. I added a query parameter to change the labeling on the collections so it starts off at specific collection. It doesn't create `x` amount of collections but it

[2020-01-27 18:15] arouinfar commented on #139
I like this idea, though I wonder if it's important to include the actual names of the representations of molecular structure. I've pinged @emily-phet to ask her thoughts.

Here's a rough mockup of what the dialog could look like.
![image](https://user-images.githubusercontent.com/8419308/73201408-309dc580-40f6-11ea-833c-aeb82c01b07e.png)

@ariel-phet I think the tallest bucket is vertically cente

[2020-01-27 18:26] arouinfar commented on #139
@Denz1994 we've defined the various colors for atoms in [Nitroglycerin/Element](https://github.com/phetsims/nitroglycerin/blob/master/js/Element.js#L71). I believe BAM is already using this. While similar to the Java colors, we did end up making some changes to improve colorblind contrast in https://github.com/phetsims/nitroglycerin/issues/12.

[2020-01-28 05:58] ariel-phet commented on #139
@Denz1994 let's leave the bucket alignment as is for now on the third screen.

Let's also wait until we get some chemist input from @emily-phet if we should consider icons or not.

[2020-01-28 15:17] Denz1994 commented on #139
Most of the changes have been committed. Just awaiting input from @emily-phet on text vs. icon representation for the radio button.

This is true. There would be nothing to change here.

[2020-01-28 15:20] Denz1994 commented on #55
Could you review this [dev version](https://phet-dev.colorado.edu/html/build-a-molecule/0.0.0-dev.49/phet/build-a-molecule_all_phet.html) @arouinfar for the alignment changes?

[2020-01-28 15:31] Denz1994 commented on #131
Override provided for `isopropyl alcohol` -> `isopropanol `. If this looks good then I'll leave for you to close @arouinfar.

![image](https://user-images.githubusercontent.com/13894380/73277700-8b97f100-41b8-11ea-842d-1aa29b468dee.png)

[2020-01-28 17:19] arouinfar commented on #131
👍

[2020-01-28 17:19] #131 closed

[2020-01-28 17:21] arouinfar commented on #55
Looking pretty good @Denz1994, but the alignment of the acetic acid molecule in Playground is still looking a bit vertically off-center. Can you shift the molecule up a bit?
![image](https://user-images.githubusercontent.com/8419308/73288279-ed0b9000-41b7-11ea-9cdf-7afdd925bfb7.png)

[2020-01-28 17:40] arouinfar opened #149 "incorrect nomenclature override"
[Ethenone](https://en.wikipedia.org/wiki/Ethenone) is the preferred IUPAC name of C2H2O (arranged H2C=C=O), but is also known as ketene.

Currently, the sim is showing ethenone to be this structure:
![image](https://user-images.githubusercontent.com/8419308/73289454-f72e8e00-41b9-11ea-80f6-6bf92b73b260.png)

This is the correct structure of ethenone, but the nomenclature override is using the less

[2020-01-28 17:48] arouinfar commented on #149
Okay, scratch what I said about the preferred name. Looking at [pubchem](https://pubchem.ncbi.nlm.nih.gov/compound/ketene) (which is what I should have checked first) the preferred name is indeed "ketene".

@Denz1994 the problem is that this structure is being named, when it isn't actually a molecule that exists.
![image](https://user-images.githubusercontent.com/8419308/73290377-9607ba00-41bb-11e

[2020-01-28 17:57] arouinfar opened #150 "ball and stick representation is missing some sticks"
@Denz1994 looks like there is a missing bond between the oxygen and hydrogen in this structure. Can you investigate?
<img width="600" alt="Screen Shot 2020-01-28 at 10 49 11 AM" src="https://user-images.githubusercontent.com/8419308/73290862-59888e00-41bc-11ea-87e8-7c77986bd742.png">

I'm fairly certain this structure would be an ion, but I don't think that should affect the O-H bond. I'll dig aro

[2020-01-28 18:02] arouinfar commented on #150
Actually, this may be the crux of the problem. I don't think we should be naming ions. It has a 3D button because it's a named thing, but perhaps it shouldn't be named at all.

[2020-01-28 18:21] arouinfar commented on #150
Hydroxymethanone doesn't have any direct hits on pubchem, but searching through various CHO2 structures, I think the closest match is [hydroxycarbonyl](https://pubchem.ncbi.nlm.nih.gov/compound/5460610) which is a radical. Radicals have an unpaired electron, but no net charge.

[2020-01-28 18:24] arouinfar commented on #150
Here's another problematic case, which appears to be a [formyl radical](https://pubchem.ncbi.nlm.nih.gov/compound/123370).
![image](https://user-images.githubusercontent.com/8419308/73293172-9f475580-41c0-11ea-9393-cf460262d4c7.png)

[2020-01-28 18:28] arouinfar commented on #150
For comparison, here are the Java structures.
<img width="590" alt="Screen Shot 2020-01-28 at 11 26 37 AM" src="https://user-images.githubusercontent.com/8419308/73293509-3f9d7a00-41c1-11ea-87c4-4ca6e14200a5.png">
<img width="634" alt="Screen Shot 2020-01-28 at 11 27 12 AM" src="https://user-images.githubusercontent.com/8419308/73293511-3f9d7a00-41c1-11ea-8374-898dedd4ef4d.png">

[2020-01-28 18:38] arouinfar opened #151 "ball and stick representation should show bond order"
Noticed during #150. The the ball and stick representation is not showing double or triple bonds. This is a deviation from Java, and is pedagogically problematic.

Example of a molecule containing a double bond
![image](https://user-images.githubusercontent.com/8419308/73293758-b175c380-41c1-11ea-96d5-2571e05ac048.png)
<img width="602" alt="Screen Shot 2020-01-28 at 11 29 40 AM" src="https://user-

[2020-01-28 19:03] emily-phet commented on #139
Weighing in on text vs icon:
- I think it's a good idea to consider.
- There are situations where a teacher would appreciate the use of the written out form, but it's pretty secondary to the goals of the sim overall, so not a deal-breaker in its own right (in my mind).
- I think the important thing is for the icons to convey "generic" representations. Keep in mind, any molecule representation is i

[2020-01-29 15:53] Denz1994 commented on #149
Ethenone was removed from the data set so it can't be created. I'm not sure when this data set was generated (the earliest record I could find was 09/6/13 ), but perhaps at that time, this data set was generated ethenone was listed as a molecule in the PubChem database.

I don't know the standard for how these molecules are named and if they can change over time, but for the time being it has been

[2020-01-29 20:28] arouinfar opened #152 "Items for Teacher Tips"
- [x] Nomenclature, including #149, #217
- [x] i18n of molecule names - #178
- [x] Radicals/3D rendering - #150, #189
- [x] Resonance structures/bond order - #207
- [x] Legal structures - #198

[2020-01-29 20:31] Denz1994 commented on #151
Great catch @arouinfar. The bonds were being created according to their bond order. However, they needed to be adjusted so the higher-order bonds would be displaced from a specific offset. What do you think about this [dev version](https://phet-dev.colorado.edu/html/build-a-molecule/0.0.0-dev.50/phet/build-a-molecule_all_phet.html)?

Here are some visuals:
Single Bond
![image](https://user-images.

[2020-01-29 20:35] arouinfar commented on #149
Looks good in master @Denz1994.

H2C=C=O is being named "ketene" which is consistent with the [pubchem entry](https://pubchem.ncbi.nlm.nih.gov/compound/10038), and C-C-O is no longer being given a name.

This issue has also reminded me that we should include some information about nomenclature in the Teacher Tips, but I've created a separate issue for that.

[2020-01-29 20:35] #149 closed

[2020-01-29 20:41] arouinfar commented on #151
Looks great @Denz1994!

[2020-01-29 20:41] #151 closed

[2020-01-29 20:46] Denz1994 commented on #150
After talking this over with @arouinfar, it looks like this requires a larger discussion. Currently, we are displaying both ions and radicals. This behavior matches what is done in Java, but we should decide if we should either not show ions/radicals. Or do nothing, with the understanding that no bond assumes either a ion or radical (perhaps noting in teacher tips)

If we choose to not show ions/r

[2020-01-29 20:47] Denz1994 commented on #52
Labeling for the next design meeting to continue the discussion. We should also consider #146.

[2020-01-29 20:58] Denz1994 commented on #54
It isn't obvious that you can rotate the molecule in the dialog. The cursor has been updated to use a pointer for the area the molecule can be rotated. Closing.

[2020-01-29 20:58] #54 closed

[2020-01-29 21:33] arouinfar opened #153 "More examples of incorrect nomenclature"
In #149 we discovered that the database had an incorrect entry for ethenone. Since that issue contained some tangential discussion, @Denz1994 and I decided to open a new issue to document other examples. There are more than 9000 named molecules in [otherMoleculesData.js](https://github.com/phetsims/build-a-molecule/blob/master/js/common/model/data/otherMoleculesData.js), and it's unreasonable to c

[2020-01-29 23:23] arouinfar opened #154 "decrease threshold for connecting atoms"
Discovered during #113

The threshold for connecting atoms is currently too large. As a result, it can be a really frustrating experience to cut multiple atoms/pieces off of a molecule.  After severing a bond, clicking elsewhere in the molecule will cause the pieces to rejoin.

![cut](https://user-images.githubusercontent.com/8419308/73404688-515d4b00-42af-11ea-8c29-388d8e7bdcb3.gif)

When severin

[2020-01-30 00:04] arouinfar commented on #150
I think the problem here is solely the radicals. There appear to be several in otherMoleculeData.js which was pulled from PubChem in 2013. Examples include:
* methanone/[formyl radical](https://pubchem.ncbi.nlm.nih.gov/compound/123370)
* hydroxymethanone/[hydroxycarbonyl](https://pubchem.ncbi.nlm.nih.gov/compound/5460610)
* nitrilomethane/[cyano radical](https://pubchem.ncbi.nlm.nih.gov/compound/5

[2020-01-30 00:16] arouinfar opened #155 "Build a Molecule master checklist"
# Build a Molecule Port Master Checklist

## Design
- [x] **Sim folder and design doc created** (Date: 09/26/2013)
  - [x] Create sim folder in [PhET Sim Design Folder](https://drive.google.com/drive/folders/0B6CMwxdP0NGYUUhvZnlCUDF0bGc) using phet-docs account
  - [x] Place design doc in the sim folder
- [x] **Legacy sim docs/info gathered**
  - [x] [Sim suggestions doc](https://phet.unfuddle.com

[2020-01-30 03:26] Denz1994 commented on #154
The bonding and separation thresholds have been reduced to match what is described above. This will need to be reviewed on master @arouinfar.

[2020-01-30 03:44] Denz1994 commented on #153
The entry for `C4H9|Butane` was removed. The PubChem entry for [Butane](https://pubchem.ncbi.nlm.nih.gov/compound/7843) includes an alternate listing for Butane as `C4H10|n-Butane`, which is currently being used.

I think #148 needs to be fixed before we can create it though. I was only able to create isobutane.
![image](https://user-images.githubusercontent.com/13894380/73418245-d9ac1200-42e8-11e

[2020-01-30 03:55] Denz1994 commented on #153
Also worth noting, the full source of molecules can be found here:
[Collection Molecules](https://raw.githubusercontent.com/phetsims/build-a-molecule/master/js/common/model/data/collectionMoleculesData.js) and [Other Molecules](https://raw.githubusercontent.com/phetsims/build-a-molecule/master/js/common/model/data/otherMoleculesData.js)

The data is formated so it is read like so:
`moleculeName|ge

[2020-01-30 03:56] arouinfar commented on #153
@Denz1994 we should have two entries for C4H10: `n-butane` and `isobutane`. The Java behavior currently handles both cases correctly. The C4H9 entry for `butane` is the incorrect one.

[2020-01-30 03:58] Denz1994 commented on #153
Confirmed in `otherMoleculesData.js` we have both `n-butane` and `isobutane`.

[2020-01-30 06:20] ariel-phet commented on #58
The button in its current location (left aligned above the carousel) seems best

[2020-01-30 06:32] ariel-phet commented on #19
Looking at the current version, things seem to be looking pretty good, but we should consult with @jonathanolson at design meeting to see if it can be closed.

[2020-01-30 06:35] ariel-phet commented on #32
All visuals look good to me. Marking for design meeting, since it would be good to get @kathy-phet sign off

[2020-01-30 06:39] ariel-phet commented on #2
Yes, agreed, this bug is of very minor (if any) concern. The user will move the cursor almost immediately upon interacting with the sim regardless.

Marking as `wontfix` and closing

[2020-01-30 06:39] #2 closed

[2020-01-30 16:59] Denz1994 commented on #58
The current implementation is built using a sample `Bucket` with `BucketHole` and `BucketFront` visuals.

The arrow is using FontAwesome's [Reply arrow](https://fontawesome.com/icons/reply?style=solid). There is a bit more of a curve at the base of the arrow, but this is the closest we can get without building a specific arrow using `Path`. I opted into using FontAwesome in light of reusing common

[2020-01-30 18:51] Denz1994 commented on #19
I found in the Jmol [docs](http://jmol.sourceforge.net/docs/) the various radii used for each element [here](http://jmol.sourceforge.net/docs/). I think we only ran into problems described in https://github.com/phetsims/build-a-molecule/issues/111#issuecomment-577371906.

[2020-01-30 21:25] arouinfar opened #156 "Collection box pixel polishing"
Design meeting 1/30/20

Pixel polishes
* Move strings above the box
* Add padding between boxes
* Larger collection panel
* Bottom-align ResetAllButton with carousel dots

Self-assigning for mockups

[2020-01-31 15:13] Denz1994 commented on #113
Noting for @samreid: The moleculeBondNode includes a scissor icon. The `.cur` files for the scissor cursor will still need to be supported as a module import during the ES6 module conversion work.

[2020-01-31 15:20] Denz1994 commented on #19
As discussed at the design meeting on 01/30/20:

We shouldn't do anything different than what was done in the java version. The Java version is working and users haven't complained. Closing this one.

[2020-01-31 15:20] #19 closed

[2020-01-31 15:37] Denz1994 commented on #52
From design meeting 01/31/20:

The design team is on board with removing this feature for a few reasons. It isn't obvious that it is possible to draw a slice node to break bonds. Slicing can happen by accident while trying to drag the molecule. Additionally, the ability to draw freely in the play area should be limited.

[2020-01-31 16:10] Denz1994 commented on #52
The slice node along with has been removed as a feature. Closing this issue.

[2020-01-31 16:10] #52 closed

[2020-01-31 16:17] Denz1994 commented on #58
From design meeting on 01/31/20

The design team agrees the current implementation looks great as is. @ariel-phet suggested extending the size by 10px from the top-right corner.

[2020-01-31 16:24] Denz1994 commented on #58
The refill button size has been increased. Just for context the hydrogen atom now fits well within the size of the refill button. Closing this issue.

[2020-01-31 16:24] #58 closed

[2020-01-31 16:46] Denz1994 commented on #99
From design meeting 01/31/20:

The design team is on board with removing the animation due to its simplicity. Also on the Playground screen, the carousel pages don't share equal negative space in regards to the buckets and the vertical edges of the carousel.

This is most evident on the 3rd and 5th pages. We will opt out of animating the carousel pages and the play area. Closing this issue.

[2020-01-31 16:46] #99 closed

[2020-01-31 16:49] Denz1994 opened #157 "Collection box names and goals should be placed above the boxes"
From design meeting on 01/31/20:

The design team agreed the labeling of the boxes should be located above the box. This is consistent with the java version.

[2020-01-31 17:52] Denz1994 commented on #157
Labels have been adjusted. Can you make sure this looks okay in this [dev version](https://phet-dev.colorado.edu/html/build-a-molecule/0.0.0-dev.52/phet/build-a-molecule_all_phet.html) @arouinfar?

[2020-01-31 18:01] Denz1994 commented on #146
We are removing the slice feature from the sim. See #52.

Closing this issue.

[2020-01-31 18:01] #146 closed

[2020-01-31 18:04] Denz1994 commented on #45
The slice is removed as a part of #52. Closing this one.

[2020-01-31 18:04] #45 closed

[2020-01-31 18:06] Denz1994 commented on #40
The separation button uses a press listener and has an associated sound with the common code component. The slice node referred to in the [comment](https://github.com/phetsims/build-a-molecule/issues/40#issuecomment-556540047) above, has been removed as a part of #52.

This issue can be closed.

[2020-01-31 18:06] #40 closed

[2020-01-31 22:20] arouinfar commented on #157
Looks good @Denz1994. Further pixel polishing of the collection panel will be handled in #156.

[2020-01-31 22:20] #157 closed

[2020-01-31 22:53] arouinfar commented on #154
@Denz1994 I'm not longer running into issues with parts automatically reconnecting, but the threshold still seems a bit off.

Here are a few gifs showing atoms reaching the threshold distances. In all cases the distance seems quite a bit larger than the last screenshot in https://github.com/phetsims/build-a-molecule/issues/154#issue-557176995. Often, moving an atom/molecule close to another will c

[2020-01-31 23:18] arouinfar commented on #139
@emily-phet thanks for reviewing! Let's move forward with the iconic radio buttons.

This is great to keep in mind. I think a diatomic molecule with the generic coloring would work nicely.

@Denz1994 the generic molecules in Molecule Shapes  are purple/white:
<img src="https://user-images.githubusercontent.com/8419308/73580806-2bb57a80-4444-11ea-93e7-1103d32ac774.png" width=300>

`rgb( 159, 102, 2

[2020-02-01 00:25] arouinfar commented on #113
In the 1/30/20 design meeting, we decided that we like the general direction of current behavior, including the scissor cursor on hover.
![image](https://user-images.githubusercontent.com/8419308/73582565-fceed280-444a-11ea-9768-65c1cdf05567.png)

I mocked up a few changes to make the nodes look more interactive. The yellow dots are now 50% the size of hydrogen, with an added halo that makes the e

[2020-02-03 19:15] arouinfar commented on #156
- [ ] Molecule strings match Collection string -- 16 pt bold (Single screen)
- [ ] 15 px padding between bottom of the black boxes and the molecule string below it. (Single & Multiple)
- [ ] Bottom-align ResetAllButton with carousel dots and right-align with Your Molecules panel (same position on all 3 screens).
![image](https://user-images.githubusercontent.com/8419308/73682807-5ee34e00-467e-11ea

[2020-02-03 20:21] Denz1994 commented on #139
@arouinfar Can you check this [dev version](https://phet-dev.colorado.edu/html/build-a-molecule/0.0.0-dev.53/phet/build-a-molecule_all_phet.html) to make sure this behavior and appearance are in the correct direction?

Note: I still need to add the radio buttons. Will need @jonathanolson advice to get pass assertion check for the parent type when rendering icons.

[2020-02-03 20:38] arouinfar commented on #139
@Denz1994 that's exactly what I was thinking!

For future reference, icons in the dev version look like this:
![image](https://user-images.githubusercontent.com/8419308/73688942-614ba500-468a-11ea-88bd-66190a3de6f7.png)

[2020-02-04 03:22] Denz1994 commented on #113
@arouinfar Can you review this [dev version](https://phet-dev.colorado.edu/html/build-a-molecule/0.0.0-dev.54/phet/build-a-molecule_all_phet.html) and critique the bond node visuals?

[2020-02-04 15:06] Denz1994 commented on #156
Adjustments have been made as specified above in this [comment](https://github.com/phetsims/build-a-molecule/issues/156#issuecomment-581572455). Can you review this [dev version](https://phet-dev.colorado.edu/html/build-a-molecule/0.0.0-dev.55/phet/build-a-molecule_all_phet.html) @arouinfar?

[2020-02-04 15:47] Denz1994 commented on #154
This should have been fixed in master in the latest commit. Can you review @arouinfar?

[2020-02-04 16:26] BLFiedler commented on #150
I think leaving the current behavior and making a note in the teacher tips is probably the best course of action.

Is there any way to isolate the radicals in Pubchem based on the fact that they don't tend to have 3D structures? Not sure what other criteria we can work with, But yeah, ball and stick without some sort of accompanying notation (lewis dot structure) is not really a useful view for ra

[2020-02-04 16:41] arouinfar commented on #150
Thanks @BLFiedler! I'll add this to the Teacher Tips issue #152, and we can close this one.

We think it might be possible to remove the radicals if we pull all the data from PubChem again, but it's a bit complicated. In last week's design meeting, we decided that this could be a project for a visiting/intern developer, but it's not something we plan to do before the 1.0 release.

I tried building

[2020-02-04 16:41] #150 closed

[2020-02-05 22:52] Denz1994 commented on #7
Thanks for double-checking on the start up time. Closing this one.

[2020-02-05 22:52] #7 closed

[2020-02-06 16:20] Denz1994 commented on #32
Discussed from design meeting on 02/06/20:

It was decided to revise the curing behavior. The desired behavior is for the arrow and blinking highlight to only appear on the first kit of the kit collection. They should not appear at all on any other collection. The highlight and cue should show until the first item is added in the box.

[2020-02-06 16:29] Denz1994 commented on #32
This [dev version](https://phet-dev.colorado.edu/html/build-a-molecule/0.0.0-dev.56/phet/build-a-molecule_all_phet.html) has the above changes. Can you review @arouinfar and comment on the behavior of the Multiple screen cueing?

[2020-02-06 23:19] arouinfar commented on #156
@Denz1994 this is definitely a nice improvement. A few more minor things:

* It looks like the `ResetAllButton` is still bottom-aligned with the carousel body instead of its dots, so things are currently pretty tight on the Single screen.

* On the Multiple screen, the `You have: {{#}}` string is being obscured a bit by the black box. This is most noticeable when the boxes are empty (bottom of p a

[2020-02-06 23:23] arouinfar commented on #113
This is looking really nice @Denz1994! My one nit-picky comment is that the dashed lines look slightly off-center. I realize they are probably centered correctly, but the dash spacing creates an illusion that they are not. Can you look into it?
![image](https://user-images.githubusercontent.com/8419308/73987220-de7e5080-48fc-11ea-95db-a79617a670bc.png)

[2020-02-07 14:33] Denz1994 commented on #139
During status meeting on 02/06/20, @arouinfar asked to be reassigned to this issue for additional input on the design of the radio buttons. Is this correct @arouinfar?

[2020-02-07 15:22] Denz1994 opened #158 "Import new data set from PubChem"
This sim requires that all possible molecules and molecule structures are defined prior to being built. This data is stored in `js/data` and was derived from [PubChem](https://pubchem.ncbi.nlm.nih.gov/). Taking a look at `js/data/` we see the current data set is comprised of:
- `collectionMoleculesData.js`: Shortlist of Pubchem molecules used for collection boxes.
- `otherMoleculesData.js`: Respon

[2020-02-07 15:31] Denz1994 commented on #153
It was discussed during the design meeting on 01/31/20:

We haven't gotten reports of problematic molecules. We should leave up to users to report on any molecules that are incorrect. QA shouldn't have to check against each molecule for its existence.

[2020-02-07 17:57] Denz1994 commented on #121
During an impromptu meeting, @arouinfar and I thought that we should leave the behavior the way it is. Aside from the complexity described above (https://github.com/phetsims/build-a-molecule/issues/121#issuecomment-572631705), @arouinfar mentioned that limiting the number of collections would require a separate UI for completing the last collection.

[2020-02-07 18:05] Denz1994 commented on #109
@ariel-phet mentioned via a zoom meeting on 02/07/20:

Deferring this issue until then.

[2020-02-07 18:07] Denz1994 commented on #153
@ariel-phet mentioned:

I will close this issue and any erroneous molecules that are noted during testing a separate issue should be opened. Closing this issue.

[2020-02-07 18:07] #153 closed

[2020-02-07 18:08] Denz1994 commented on #121
From meeting on 02/07/20 @ariel-phet mentioned:

We'll proceed with the current behavior, closing this issue.

[2020-02-07 18:08] #121 closed

[2020-02-10 01:32] Denz1994 commented on #113
Good catch. The dashed line spacing needed to be slighting adjusted. Master should be updated for review @arouinfar.

[2020-02-10 04:00] Denz1994 commented on #55
Could you review master @arouinfar? The playground icon has been adjusted.

[2020-02-10 04:59] Denz1994 commented on #156
The above changes have been applied to Master. The bottom of the resetAllButton is aligned with the bottom of the page control buttons (not the top). Also, there was a spacing added to the `CollectionBoxNode` VBox options so the box's edge doesn't overlap its label text.

Could you review @arouinfar?

[2020-02-10 05:02] Denz1994 commented on #89
There have been several pass-throughs of the code thus far (ES6 conversion, numerous refactors, and initial code review). I will close this issue for now because there aren't any outstanding type related concerns or lack of documentation. `*Property` has been used where appropriate.

Any further issues should be created during the code review after dev testing. Closing this one.

[2020-02-10 05:02] #89 closed

[2020-02-10 14:40] Denz1994 commented on #148
This issue is due to `structuresData.js` not containing the valid structure for `C4` as-built above.

_More details regarding implementation:_

The allowed structures are validated every time and atom is attempted to bond (see `Kit.attemptToBondMolecule`). From this, the attempted bond is validated against the master list `structuresData.js` of allowed structures via a hash string. If the structur

[2020-02-10 15:20] Denz1994 opened #159 "AtomNode z-order layering is inconsistent"
The atom nodes are layered based on the order they are added to the play area. They retain this ordering despite being dragged. This can cause an atom to awkwardly layer in front of another and interrupt the look of a bonded molecule (see image below).
![image](https://user-images.githubusercontent.com/13894380/74162482-dbca7680-4bee-11ea-8080-6b1cd47619b7.png)

[2020-02-10 15:25] Denz1994 commented on #159
When a molecule is dragged all of its associated molecules are moved to the front of the z-order layering. This should fix the bug and the above case isn't reproducible in Master. Closing.

[2020-02-10 15:25] #159 closed

[2020-02-10 15:43] Denz1994 commented on #141
The issue here is that when swapping collections, the previous kits weren't being reset, but their listeners were being deleted. We have to reset the kit to a clean state and then delete its listeners so when we return back to that collection's kit there aren't any lingering molecules without listeners.

Can you confirm this isn't an issue anymore in this [dev version](https://phet-dev.colorado.ed

[2020-02-10 15:51] Denz1994 commented on #32
Minor tweak to the order of reset callbacks for the resetCollectionButton. There was a bug where the arrow would remain visible after clicking the resetCollectionButton if valid molecules were left in the kit play area.

 That change is now on Master, it is **NOT** the dev version posted above @arouinfar.

[2020-02-10 16:11] KatieWoe commented on #141
Looks good in that dev version (didn't test much beyond issue above, but looked good from what I saw). We'll keep an eye out in the next test, but I think this is good for now.

[2020-02-10 16:25] Denz1994 commented on #141
Good to know. Closing this issue.

[2020-02-10 16:25] #141 closed

[2020-02-12 01:15] Denz1994 commented on #148
Note: The above measures to prevent looping were implemented to prevent structures like this.

![image](https://user-images.githubusercontent.com/13894380/74294247-4244b700-4d0b-11ea-844c-0f8dd6d0b550.png)

[2020-02-12 19:18] arouinfar commented on #55
Looks great @Denz1994

[2020-02-12 19:18] #55 closed

[2020-02-12 19:19] arouinfar commented on #156
Looks good @Denz1994, thanks!

[2020-02-12 19:19] #156 closed

[2020-02-12 19:22] arouinfar commented on #113
It's looking much better now, thanks @Denz1994.

[2020-02-12 19:22] #113 closed

[2020-02-12 21:42] arouinfar commented on #148
@Denz1994 something's still not quite right.  I can connect 4 carbons in a straight line, but I'm then unable to attach any hydrogens to the carbon chain UNLESS I first attach something else like an N or O.

![C4](https://user-images.githubusercontent.com/8419308/74379813-aae07200-4da5-11ea-990b-c69d581b6d99.gif)

I'm also finding cases like this that I can make in Java, but not in HTML5:
<img src

[2020-02-12 21:54] arouinfar commented on #154
@Denz1994 I'm not longer seeing the scooting behavior demonstrated in https://github.com/phetsims/build-a-molecule/issues/154#issuecomment-580946345. However, the distance of the threshold still seems quite a bit larger than what was requested.

![threshold](https://user-images.githubusercontent.com/8419308/74380709-51794280-4da7-11ea-9a4d-b6bcaf9ce7f1.gif)

This is the approximate threshold from

[2020-02-13 23:14] loganbraywork commented on #147
Seems fixed!

[2020-02-13 23:14] #147 closed

[2020-02-14 18:37] arouinfar commented on #139
@Denz1994 here's a mockup of the RadioButtonGroup.
![image](https://user-images.githubusercontent.com/8419308/74557865-544a7380-4f1e-11ea-9ce3-00b5c47a0ebd.png)

[2020-02-14 20:15] loganbraywork opened #160 "Screen Bug on IPad when page is refreshed"
**Test device**
IPad 6th generation
**Operating System**
IOS 13
**Browser**
Safari
**Problem description**
For https://github.com/phetsims/QA/issues/479

The molecules represented on the various screens (in the home screen or on the bar at the bottom) seem to be misplaced. Occurs on page refresh usually.
**Steps to reproduce**
1. Open Build a Molecule
2. Refresh the page
**Visuals**
![2020-02-14Bl

[2020-02-14 20:44] loganbraywork opened #161 "Atoms fail to separate properly from molecules using touch"
**Test device**
IPad 6th generation
**Operating System**
IOS 13
**Browser**
Safari
**Problem description**
For https://github.com/phetsims/QA/issues/479

When using touch to separate atoms, it does not always work and sometimes simply creates gaps in the molecule.
**Steps to reproduce**
1. Create a molecule
2. Attempt to separate the atoms of the molecule by using touch on the yellow dot
**Visuals

[2020-02-14 21:11] loganbraywork opened #162 "Multitouch interaction with collections allows for movement of atom outside of boundry"
**Test device**
IPad 6th generation
**Operating System**
IOS 13
**Browser**
Safari
**Problem description**
For https://github.com/phetsims/QA/issues/479

If an atom is held  and the collection is changed using multitouch, then when returning to the inital collection it is still possible to manipulate atom outside of bounderies
**Steps to reproduce**
1. Complete at least 1 collection
2. Lift up an

[2020-02-14 21:35] arouinfar commented on #32
@Denz1994 there are a few issues with the cueing behavior.

General rules
* Blue cueing box/arrow appears on Collection 1 only (current behavior is correct)
* Cueing should only appear until one of the collection boxes is filled
   * Single screen: cueing stops after first item added to collection box
   * Multiple screen: cueing stops after the first target is completely filled & yellow stroke ap

[2020-02-17 15:21] Denz1994 commented on #139
Master now includes the `RadioButtonGroup` for the two models. Can you review @arouinfar?

![image](https://user-images.githubusercontent.com/13894380/74665985-abdf1e00-516e-11ea-9190-f61d7c419ec8.png)

[2020-02-17 15:44] Denz1994 commented on #154
The bonding threshold has been reduced by half. The bonding threshold is essentially the distance from the tolerable distance away from a potential bond position. Reducing this threshold means that users will have to focus on dragging close to the position where the bond is formed (think of the yellow circle's position) and not by just dragging the molecule near the other molecule.

If this is the

[2020-02-19 21:59] arouinfar commented on #139
Looks great @Denz1994!

[2020-02-19 21:59] #139 closed

[2020-02-19 22:56] arouinfar commented on #154
I generally think this is desirable behavior -- users should bring atoms close together when trying to create bonds. Previously, it felt like things were getting sucked together too easily.

@Denz1994 it looks like the scooting/repelling shown in https://github.com/phetsims/build-a-molecule/issues/154#issuecomment-580946345 has been reintroduced. I'm not sure why I can't set two molecules near-ish

[2020-02-26 21:06] loganbraywork commented on #115
For https://github.com/phetsims/QA/issues/479
Start: 156 MB
10 Minute interval: 658 MB
After the snapshot was taken and saved (which took about 20 minutes to finish) the sim crashed without starting up again and began to cause immense slowdowns on my PC.

[2020-02-26 21:35] loganbraywork opened #163 "Long molecule names can cause floating X in 3D view"
**Test device**
Windows 10 Laptop
**Operating System**
Windows 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/479

Long molecule names in 3D view can cause the X in the corner to float off of the black background.
**Steps to reproduce**
1. Go to the playground screen
2. Combine carbon - nitrogen - carbon -carbon
3. Attach bromine to the nitrogen
4. Attach 8

[2020-02-26 22:28] lmulhall-phet commented on #163
Also, it doesn't look like the molecule names are treated as strings:

![Screen Shot 2020-02-26 at 3 22 58 PM](https://user-images.githubusercontent.com/31285590/75394041-8956ae80-58ac-11ea-97eb-63f96b4b7a80.png)

Should they be treated as strings?

[2020-02-26 23:54] arouinfar commented on #163
@lmulhall-phet I don't think we will support i18n of molecule names, since the sim pulls from a database of 9000+ molecules from PubChem.

That said, we definitely should have a `maxWidth` for the molecule name in the dialog.

[2020-03-02 14:28] Denz1994 commented on #163
Max width applied to the common name. Will deploy dev version for verification.

[2020-03-03 22:08] Denz1994 commented on #162
The drag events for other atoms are now interrupted while dragging or interacting with other touch events. Will release dev version for comparison.

[2020-03-04 02:12] Denz1994 commented on #161
The atomNodes were getting hit by touch snag events after clicking the bond targets. The touch snag has been removed and the atoms can be separated now. Will release a dev version for verification.

[2020-03-04 15:58] Denz1994 commented on #162
The interrupt also occurs when the collections are swapped.

[2020-03-04 16:26] Denz1994 commented on #163
Can you confirm this was fixed in this [dev version](https://phet-dev.colorado.edu/html/build-a-molecule/1.0.0-dev.59/phet/build-a-molecule_all_phet.html) @loganbraywork?

[2020-03-04 16:28] Denz1994 commented on #161
Can you confirm this was fixed in this [dev version](https://phet-dev.colorado.edu/html/build-a-molecule/1.0.0-dev.59/phet/build-a-molecule_all_phet.html) @loganbraywork?

[2020-03-04 16:35] Denz1994 commented on #154
The atoms now repel when the two atoms bonding locations are diagonally aligned. Bromine and Hydrogen are the most extreme case (see 3rd screen, 7th kit) Can you review this [dev version](https://phet-dev.colorado.edu/html/build-a-molecule/1.0.0-dev.59/phet/build-a-molecule_all_phet.html) @arouinfar?

[2020-03-04 16:50] Denz1994 commented on #144
Can you confirm this is fixed in this [dev version](https://phet-dev.colorado.edu/html/build-a-molecule/1.0.0-dev.59/phet/build-a-molecule_all_phet.html) @loganbraywork?

[2020-03-04 22:06] arouinfar commented on #154
This is looking so much better @Denz1994! I think we can go ahead and close.

[2020-03-04 22:06] #154 closed

[2020-03-06 20:35] loganbraywork opened #164 "StringTest Long causes collection box and atom box to overlap"
**Test device**
Windows 10 laptop & Lovelace
**Operating System**
ChromeOS and Windows 10
**Browser**
Chrome
**Problem description**

For https://github.com/phetsims/QA/issues/479

The long stringtest query parameter causes the collection box and atom box to overlap

**Steps to reproduce**

1. Add ?stringTest=long query parameter
2. Enter the Single screen

**Visuals**
![2020-03-06BLDMCL](https://

[2020-03-09 14:39] Denz1994 commented on #164
Max widths were adjusted to the `CollectionPanel` texts. I will release a new dev version for verification.

[2020-03-09 23:13] KatieWoe opened #165 "IE, only secure content shown."
**Test device**
Dell

**Operating System**
Win 10

**Browser**
IE

**Problem description**
For https://github.com/phetsims/QA/issues/479
Some visuals seem to be blocked in IE. When the cursor is meant to turn into scissors, it disappears instead. If you give IE permission it will reload and show it then.

**Visuals**
![securecontent](https://user-images.githubusercontent.com/41024075/76265082-36c0

[2020-03-11 18:56] Denz1994 commented on #115
The latest memory test was recorded over with 15 min intervals (Chrome Version 80.0.3987.122, macOS Catalina 10.15.1). It looks like there is significant improvements but there are some TODOs left in the code related to optimization, so we may be able to squeeze out a better performance.

Here are my results:
![image](https://user-images.githubusercontent.com/13894380/76452473-93e26f00-63a7-11ea-9

[2020-03-11 21:05] Denz1994 commented on #115
Also assigning @loganbraywork since he reported in this issue as well. Whoever gets to it first, should be fine to test it.

[2020-03-11 22:05] KatieWoe commented on #115
Results:
Start: 109 MB
1 min: 145 MB
2 min: 164 MB
3 min: 183 MB
4 min: 196 MB
5 min: 209 MB
6 min: 219 MB
7 min: Memory tab crashed and closed

[2020-03-11 22:16] Denz1994 commented on #115
@KatieWoe What device and browser where you using?

[2020-03-11 22:20] KatieWoe commented on #115
Windows 10 Chrome Laptop

[2020-03-12 16:14] Denz1994 commented on #164
This should be fixed in this dev [version](https://phet-dev.colorado.edu/html/build-a-molecule/1.0.0-dev.61/phet/build-a-molecule_all_phet.html) @loganbraywork. Can you verify?

[2020-03-12 18:46] pixelzoom opened #166 "follow naming convention for Enumerations"
From https://github.com/phetsims/phet-core/issues/43...

In Direction.js, rename `DIRECTION` to `Direction`.

In Molecule3DDialog.js, rename `VIEW_STYLE` to `ViewStyle`

[2020-03-13 01:36] Denz1994 commented on #166
The casing was corrected for `DIRECTION` to `Direction` and `VIEW_STYLE` to `ViewStyle`. Closing this one.

[2020-03-13 01:36] #166 closed

[2020-03-13 02:48] mattpen opened #167 "Delete temp production deploy"
Per request from @kathy-phet, there was a temporary dev version deployed to the production location. This must be removed from phet-server before version 1.0 is deployed with the build server.

It can be removed by running the following on phet-server:

`rm -rf /data/web/static/phetsims/sims/html/build-a-molecule`

Contact me if there are any questions.

[2020-03-13 16:19] Denz1994 commented on #145
Note for self: Make sure that no RC deploys interfere with https://github.com/phetsims/build-a-molecule/issues/167.

[2020-03-13 17:06] mattpen commented on #145
RC deploys should be fine.  Its just production deploys that could be problematic as there could be some filesystem level conflicts.

[2020-03-18 20:40] loganbraywork commented on #164
Appears to be fixed!

[2020-03-18 20:40] #164 closed

[2020-03-18 20:43] loganbraywork commented on #161
Assigning @KatieWoe  as well as I currently have no access to an IPad

[2020-03-18 20:46] loganbraywork commented on #162
Also assigning @KatieWoe due to having no access to an IPad currently due to the coronavirus pandemic

[2020-03-18 20:50] loganbraywork commented on #163
Appears to be fixed!

[2020-03-18 20:50] #163 closed

[2020-03-18 21:38] Denz1994 commented on #160
An icon factory has been introduced to manage the homescreen/nav-bar icons. Also, there were some options added to `Image( {initialWidth, initialHeight})`. Can you try this out on an IPad @loganbraywork?

[2020-03-18 22:15] KatieWoe commented on #162
Seems fixed in that dev version

[2020-03-18 22:15] #162 closed

[2020-03-18 22:25] KatieWoe commented on #161
Was not able to reproduce the issue in the above dev version

[2020-03-18 22:33] KatieWoe commented on #160
Looks good

[2020-03-18 22:33] #160 closed

[2020-03-18 22:40] Denz1994 commented on #161
Thanks for testing. I'll close this one.

[2020-03-18 22:40] #161 closed

[2020-03-19 13:58] Denz1994 commented on #38
The listeners that were implemented at the time this issue was created have been removed. DragListeners have been implemented instead. These listeners are now being added and removed at disposal.

Also, this sim has gone through two dev cycles and dragging was reported as being laggy or slow. Closing this issue and any further leaks will be handled in #115.

[2020-03-19 13:58] #38 closed

[2020-03-23 16:30] Denz1994 commented on #115
Additional memory leaks have been identified and removed in the above commits. Can @KatieWoe do another memory test similar to https://github.com/phetsims/build-a-molecule/issues/115#issuecomment-597901038?

[2020-03-23 18:42] KatieWoe commented on #115
From Master:
Start: 109 MB
1 min: 118 MB
2 min: 120 MB
3 min: 121 MB
4 min: 121 MB
5 min: 122 MB
6 min: 123 MB
7 min: 125 MB
8 min: 126 MB
9 min: 126 MB
10 min: 127 MB

Looks good

[2020-03-25 21:57] Denz1994 opened #168 "Add Proper Credits"
This issue is being opened to track changes to credits for 1.0.0 publication.

Currently, the credits are as follows:
[code]

@arouinfar and @KatieWoe are there any others that should be added?

[2020-03-25 22:00] KatieWoe commented on #168
Logan Bray has done a fairly large amount on it. There also isn't a space between Jacob's name and mine

[2020-03-25 22:18] arouinfar commented on #168
@Denz1994 I added the legacy design team to the credits and addressed https://github.com/phetsims/build-a-molecule/issues/168#issuecomment-604110007 in the above commit.

Back to @Denz1994 to decide whether or not to keep this issue open for finalizing QA credits once we're in rc or open a new issue when the time comes.

[2020-03-30 19:08] Denz1994 commented on #148
The structure data has been inputted for the above-mentioned molecules. Can you confirm this is the case on Master @arouinfar?

[2020-03-30 20:26] arouinfar opened #169 "Zoom out a bit in 3D dialog"
Discovered in #148

If a molecule is very large, it may not fit inside the viewing window of the 3D dialog, regardless of the representation (space filling or ball-and-stick). For example:
![image](https://user-images.githubusercontent.com/8419308/77958375-2fbe1700-7292-11ea-9b1d-c2164237aa36.png)

@Denz1994 can you zoom the view out a bit? This would be a universal adjustment, not just for large

[2020-03-30 20:33] arouinfar commented on #148
Things are generally working now @Denz1994. I'm seeing some buggy behavior that I'm not 100% sure how to consistently reproduce. Occasionally, I am unable to create large molecules, and it seems like it happens if I've used the button to cut all bonds

![image](https://user-images.githubusercontent.com/8419308/77959060-3c8f3a80-7293-11ea-8b08-eb9c88b31563.png)

Can you play around with it a bit an

[2020-03-30 21:56] Denz1994 commented on #169
Can you check out the zoom distance on master @arouinfar? The camera should be zoomed out to capture more of the molecule.

[2020-03-30 22:25] arouinfar commented on #148
@Denz1994 something strange is going on. I'm currently trying to verify #169, and was trying to build acetic ethyl acid ester from https://github.com/phetsims/build-a-molecule/issues/148#issuecomment-585432259. I was able to build it earlier today on master (see the screenshot in #169), but now I don't seem to be able to.

My current procedure is:
1. Open Playground
2. Make `C-C-O-C` by dragging p

[2020-03-30 22:29] arouinfar commented on #169
The zoom level in master is looking good. Thanks @Denz1994.
![image](https://user-images.githubusercontent.com/8419308/77967995-82ec9580-72a3-11ea-94aa-a459467c24ba.png)
![image](https://user-images.githubusercontent.com/8419308/77968004-8849e000-72a3-11ea-8ab5-c81f8b4a5ffb.png)

[2020-03-30 22:29] #169 closed

[2020-03-31 19:02] kathy-phet opened #170 "Unable to build Butane on screen 3"
I tried to build Butane - which is possible given the atoms - but for some reason it doesn't seem to allow it. Can you look at the database to see that it is included? And if not figure out why, or if it is, why I can't build it? Thanks! Also assigning JO, since you both worked on the database together.

[2020-03-31 19:35] Denz1994 commented on #170
In the database, the entry is currently listed as `n-butane C4H10`. In this [dev version](https://phet-dev.colorado.edu/html/build-a-molecule/1.0.0-dev.65/phet/build-a-molecule_en_phet.html), I was able to build `n-Butane | C4H10` on the 3rd screen due to recent changes in https://github.com/phetsims/build-a-molecule/issues/148.

![image](https://user-images.githubusercontent.com/13894380/78067415

[2020-03-31 19:40] kathy-phet commented on #170
If you can build it now, we should replace the current public version. Thanks, Kathy. I am not concerned about the name, just could not even build it. Please post the new version. Thanks!

Sent from my iPhone

On Mar 31, 2020, at 1:36 PM, Denzell Barnett <notifications@github.com> wrote:

﻿

In the database, the entry is currently listed as n-butane C4H10. In this dev version<https://phet-dev.colo

[2020-03-31 19:41] Denz1994 commented on #170
Got it I'll follow up with @mattpen to post a new version.

[2020-03-31 20:01] Denz1994 commented on #165
The cursor on IE and Edge has been adjusted to its default pointer because it violates the default browser security settings. Can you try this [dev version](https://phet-dev.colorado.edu/html/build-a-molecule/1.0.0-dev.65/phet/build-a-molecule_en_phet.html) @arouinfar on Edge or IE? Is using the default pointer a satisfactory fallback on these browsers or should we look for another solution?

[2020-03-31 20:04] KatieWoe commented on #165
@Denz1994 not Edge I believe. Just IE

[2020-03-31 20:19] Denz1994 commented on #165
Good catch. This [dev version](https://phet-dev.colorado.edu/html/build-a-molecule/1.0.0-dev.66/phet/build-a-molecule_en_phet.html) should only affect IE.

[2020-03-31 22:23] kathy-phet opened #171 "Tolerance on bump-away vs connect"
@arouinfar - When I was playing with the posted prototype version, it seemed like the tolerance on creating a bond was pretty small. I had to be more precise about placement then I expected. It seems like the usability would be improved by lowering the tolerance, so if you are a bit overlapping an atom and drop say a H, it will attach at the nearby open spot if it is an allowed attachment spot.

C

[2020-03-31 22:39] arouinfar commented on #171
@kathy-phet there was a lot of back-and-forth with this in #154. Initially the threshold distance for atoms to bond was so large that atoms cut off of a molecule would automatically reconnect to the molecule when clicked.

I think the underlying issue here is that atoms will repel each other if the approach is diagonal. This behavior is different from Java.
![javaDiagonal](https://user-images.gith

[2020-03-31 22:50] arouinfar commented on #165
Since this is an IE-only issue, and IE is a low-use platform, I believe this is probably acceptable. The warning message looks a bit scary, though, so I'd like @ariel-phet to weigh in here.

[2020-03-31 23:59] kathy-phet commented on #171
Yes, it is related to this, but also to the fact that it doesn't "jump to the nearest allowable position".

This is what the current HTML behavior is:
![BAM_html_atomsdoesnotstick](https://user-images.githubusercontent.com/5096804/78085797-34a9c600-7379-11ea-9e98-22928b02de60.gif)

This is what the old Java sim did:
![BAM_Java_atomsticks](https://user-images.githubusercontent.com/5096804/78085802-

[2020-04-02 05:38] kathy-phet commented on #171
@Denz1994 - Can you take a look at this issue? It would really help the usability of the sim to address this in the short term if possible. Perhaps we can have a shortish meeting tomorrow during design time (@arouinfar)?

[2020-04-02 13:40] Denz1994 commented on #171
`Kit.bondDistanceThreshold` determines how far from the bonding position an atom has to be before bonding. Along with this, `Kit.attemptToBondMolecule()` would need to proceed with bonding if `atomA.destinationBounds.intersectsBounds( atomB.destinationBounds ) === true`. After checking if the atoms are within the bonding threshold we can check if their bounds are overlapping.

The best location is

[2020-04-02 15:32] kathy-phet commented on #171
@Denz1994 - I think it might be preferable UI to first check if atoms are overlapping and if so "always bond to the closest bond", and only use Distance Threshold if the atoms are not overlapping. That way DistanceThreshold only applies for atoms that are physically separated.

[2020-04-02 15:44] Denz1994 commented on #171
This [dev version](https://phet-dev.colorado.edu/html/build-a-molecule/1.0.0-dev.67/phet/build-a-molecule_en_phet.html) will bond overlapping atoms to the atom's nearest bonding option (North, South, East, or West).

(Re diagonal bonding) Because we are now considering the bounds of the full atom, the threshold for diagonal bonding is a bit more lenient in the diagonal directions. This is because

[2020-04-02 15:45] arouinfar commented on #171
Thanks @Denz1994, I was just reading through this issue, and I thought the proposals all sounded good. Excited to test it out!

[2020-04-03 19:34] mattpen commented on #171
https://phet.colorado.edu/sims/html/build-a-molecule/latest/build-a-molecule_en.html is now available.

[2020-04-06 17:38] Denz1994 commented on #171
@arouinfar Mentioned via slack, that she will write up a slight improvement. I'll remove the high-priority label because this is currently available as mentioned above.

[2020-04-08 01:42] ariel-phet commented on #165
@Denz1994 - can the default pointer be used by "default" when on IE so we never get this warning? I believe we have IE detection in multiple sims.

[2020-04-08 13:44] Denz1994 commented on #165
@KatieWoe Can you confirm on IE that the pointer doesn't change to a scissor icon when the cursor is positioned over the yellow bond target? The cursor should look like its hovering over an interactable object with a hand icon.

The dev version can be found [here](https://phet-dev.colorado.edu/html/build-a-molecule/1.0.0-dev.67/phet/build-a-molecule_en_phet.html).

[2020-04-08 13:47] Denz1994 commented on #144
Adding @KatieWoe to this confirm this issue, due to QA devices being moved between members. This [dev version](https://phet-dev.colorado.edu/html/build-a-molecule/1.0.0-dev.67/phet/build-a-molecule_en_phet.html) should have the same fixes from above. Atoms shouldn't be separated when dragging with two fingers.

[2020-04-08 13:57] Denz1994 commented on #170
Thanks for the explanation @arouinfar. This change was included in the dev version in this comment. I'll close this issue.

[2020-04-08 13:57] #170 closed

[2020-04-08 14:45] Denz1994 opened #172 "Bond cut targets don't restore when switching kits"
To replicate this bug follow these steps:

1. Create a molecule on Kit A
2. Click on an atom in the molecule to show all the bond cut targets (yellow circles)
3. Click carousel button to go to Kit B
4. Click carousel button to go back to Kit A
5. Click on an atom in the molecule. At this point, the bond cut targets won't show up.

[2020-04-08 14:52] Denz1994 commented on #172
The `MoleculeContainerBondNode` and `MoleculeControlsHBox` are added to the `KitPlayAreaNode.metadataLayer`. This means this check will fail for MoleculeControlsHBox  because MoleculeContainerBondNode.molecule is undefined.
 `
metadataNode.visible = kit.molecules.includes( metadataNode.molecule ) && active
`;

It would be best to separate the molecule controls and the molecule bond containers into

[2020-04-08 14:56] Denz1994 commented on #172
The above commit fixed the buggy behavior described above. This is an overall improvement to the organization of the `KitPlayAreaNode` components.

[2020-04-08 14:56] #172 closed

[2020-04-08 16:15] KatieWoe commented on #165
This looks fixed on IE

[2020-04-08 16:22] KatieWoe commented on #144
This issue seems fixed from what I can tell in that dev version

[2020-04-08 16:24] Denz1994 commented on #112
This can be fixed by adjusting the `skipLayout` parameter from above. Also, the `Atom2.isSeparatingProperty` can be removed because it was restricting stepping the Atom to update the position property based on its destination property.

@KatieWoe Can you confirm that the atoms don't float in the buckets anymore? Also, the remaining atoms should fill the space that a removed/dragged atom was occupy

[2020-04-08 16:25] Denz1994 commented on #165
Thanks for checking closing this one.

[2020-04-08 16:25] #165 closed

[2020-04-08 16:25] Denz1994 commented on #144
Nice. Closing.

[2020-04-08 16:25] #144 closed

[2020-04-08 17:05] KatieWoe commented on #112
The floating issue seems fixed. I did notice some other odd behavior of the remaining atoms in bucket though. Sometimes one will jump to a higher position, move to the side, rather than drop down, and become unable to be stacked back up.
![randomshift](https://user-images.githubusercontent.com/41024075/78812493-bbb5fa00-7988-11ea-9625-3e41016eab2c.gif)
![shiftovernodrag](https://user-images.github

[2020-04-08 17:50] Denz1994 commented on #148
Regarding https://github.com/phetsims/build-a-molecule/issues/148#issuecomment-606233607:

A testing cycle may look something like this:

1. Build a specific molecule from a set of large molecules, while tracking the order by which the molecule was built.
2. Break the molecule using the blue arrowed button
3. Reconstruct the molecule from step 1, using a different build order.
4. Repeat 1-3 for th

[2020-04-08 17:56] Denz1994 commented on #148
@arouinfar Could you try this [dev version](https://phet-dev.colorado.edu/html/build-a-molecule/1.0.0-dev.68/phet/build-a-molecule_en_phet.html) for reviewing https://github.com/phetsims/build-a-molecule/issues/148#issuecomment-606283587. The build order for `acetic ethyl acid ester` shouldn't matter in this build.

[2020-04-08 18:07] Denz1994 commented on #112
Note to self: `Bucket.addParticleNearestOpen()` may need to be used where the restoring bucket state isn't important. `Bucket.placeAtom()` should distinguish this using an argument.

[2020-04-08 18:52] Denz1994 commented on #112
Adjusting `Bucket.placeAtom()` worked well for handling the odd behavior described above. @KatieWoe can you verify in this [dev version](https://phet-dev.colorado.edu/html/build-a-molecule/1.0.0-dev.69/phet/build-a-molecule_en_phet.html)?

[2020-04-08 19:31] KatieWoe commented on #112
Looks much better now. You can't really restack the atoms, like in the second gif, but you can move them around now, so I think this is probably satisfactory.

[2020-04-08 19:35] Denz1994 commented on #112
In the java version, a user could stack the atoms until the exited the carousel and spilled into the play area. I don't think we want this behavior but I'll let @arouinfar decide and close. @arouinfar Could you review and close if this looks good?

Here is the Java version:
![image](https://user-images.githubusercontent.com/13894380/78825766-7f959000-79ae-11ea-87b7-08ddbaa428f9.png)

[2020-04-08 21:03] Denz1994 commented on #115
The latest memory test is looking good. We can close this one.

[2020-04-08 21:03] #115 closed

[2020-04-08 21:07] Denz1994 commented on #34
Drag hasn't been noted as being slow or laggy. It is also worth noting that we are now using `DragListeners`. Will reopen if this becomes an issue.

[2020-04-08 21:07] #34 closed

[2020-04-08 21:17] Denz1994 commented on #83
This initial code review was done to measure the state of this sim after not being touched for a long time. The remaining TODOs and Reviews have been handled in related issues or in the above commits. At this point, a new issue should be opened to conduct the last code review. I'm going to close this issue and when the sim is ready for a code review, I'll open a new issue.

[2020-04-08 21:17] #83 closed

[2020-04-08 21:18] Denz1994 commented on #168
I'll keep this issue open to finalize during RC.

[2020-04-16 15:40] Denz1994 commented on #171
While meeting with @arouinfar, she mentioned that sometimes the molecules bump away when they are diagonally near another molecule. Molecules are bumped away when they are not within the range to bond (kit.bondDistanceThreshold) but are still overlapping the padded molecule bounds (kit.interMoleculePadding). Because the java version had this same behavior, we decided to only slightly increase the

[2020-04-16 15:48] Denz1994 commented on #148
@arouinfar and I revisited the issue mentioned in https://github.com/phetsims/build-a-molecule/issues/148#issuecomment-606233607. I wasn't able to reproduce locally, and @arouinfar thought this may be related to chrome caching an older version of BAM. We thought a QA member could take a look at this.

@KatieWoe **Summary**: The order by which a molecule is built shouldn't matter. It was noted that

[2020-04-16 15:50] Denz1994 commented on #112
@arouinfar and I went over this and the stacking behavior mentioned above is something we don't want. As it stands we can't intentionally stack atoms anymore. Closing this issue.

[2020-04-16 15:50] #112 closed

[2020-04-16 15:51] Denz1994 commented on #32
The logic for the cueing has been reworked. Most of the changes involve, updating the kit emitters for adding/removing molecules. We also need to check for valid molecules when switching kits. The buggy example mentioned above should be resolved.

This [dev version](https://phet-dev.colorado.edu/html/build-a-molecule/1.0.0-dev.70/phet/build-a-molecule_en_phet.html), follows the guidelines provided

[2020-04-16 22:39] KatieWoe commented on #148
You can create https://github.com/phetsims/build-a-molecule/issues/148#issuecomment-584965693 in the above dev version @Denz1994

[2020-04-21 18:46] Denz1994 commented on #148
Were you able to replicate https://github.com/phetsims/build-a-molecule/issues/148#issuecomment-611099900 @KatieWoe?

[2020-04-21 18:51] KatieWoe commented on #148
No, but I haven't been able to dedicate a lot of testing time to it due to other tests.

[2020-04-22 17:33] Denz1994 commented on #32
From a conversation on slack with @arouinfar:

My reply via slack:

The dev version for comparison can be found [here](https://phet-dev.colorado.edu/html/build-a-molecule/1.0.0-dev.71/phet/build-a-molecule_all_phet.html).

[2020-04-22 19:36] arouinfar commented on #32
@Denz1994 thanks for implementing this in dev.71. It was a really helpful comparison! I think the blinking was a little buggy, but it was close enough to get the idea across. I agree that the blinking can become excessive, so let's stick with the behavior in dev.70.

[2020-04-22 19:37] Denz1994 commented on #32
Good to know. I'll revert to match dev.70. Thanks for the review.

[2020-04-22 21:15] Denz1994 opened #173 "Final code review"
This sim was originally code reviewed by @jonathanolson in #83. The codebase has changed since then and new features were added. @jonathanolson has been nominated for the final review since he has been in close proximity to its development and worked on the legacy version.

Only the Build-A-Molecule codebase should be reviewed. I will paste the CRC checklist below for reference. Also, this publica

[2020-04-22 21:17] Denz1994 commented on #173
*NOTE! Prior to doing a code review, copy this checklist to a GitHub issue for the repository being reviewed. Delete the Table of Contents section, since the links will be incorrect.*

# PhET Code-Review Checklist (a.k.a "CRC")

* Mark failed items with ❌
* Call attention to items with ⚠️
* Mark items that are not applicable with "N/A"

## GitHub Issues

The following standard GitHub issues should

[2020-04-22 21:20] Denz1994 commented on #32
Changes have been reverted back to dev.70 and a new dev version has been pushed [here](https://phet-dev.colorado.edu/html/build-a-molecule/1.0.0-dev.71/phet/build-a-molecule_all_phet.html).

Thanks @arouinfar closing this one.

[2020-04-22 21:20] #32 closed

[2020-04-22 21:34] arouinfar commented on #148
@Denz1994 @KatieWoe I am unable to reproduce the exact problem described in https://github.com/phetsims/build-a-molecule/issues/148#issuecomment-606283587, but I'm running into a related problem. It seems like the issue is localized to molecules containing chains like `C-C-O-C-C` or `C-O-C-C-C`. After building these chains, I am unable to attach any hydrogens to the carbons, despite there being se

[2020-04-22 21:35] arouinfar commented on #171
@Denz1994 I think the bonding behavior is looking pretty good, but @kathy-phet should also take it for a spin.

[2020-04-23 15:56] jonathanolson opened #174 "Unused strings noted during build"
See code review: https://github.com/phetsims/build-a-molecule/issues/173

The strings in question:
[code]

[2020-04-23 17:30] Denz1994 commented on #174
Unused strings were removed from the strings.json. Running `grunt` isn't reporting any unused strings any longer.

[2020-04-23 17:30] #174 closed

[2020-04-27 15:42] oliver-phet opened #175 "User suggestion: collection design, ions"

[2020-04-29 22:47] arouinfar commented on #175
No. Our database of molecules is a subset of the data in PubChem. Currently, it does not include ions, only neutral molecules. If we wanted to add ions, it would add 1000's of new entries, and students would often encounter named ions while building their atoms. This would be distracting, and does not serve this sim's learning goals.

Yes, even with the limitations currently in place, the database

[2020-04-29 22:56] oliver-phet commented on #175
Thanks Amy, email to user sent!

[2020-04-29 22:56] #175 closed

[2020-05-07 17:47] jonathanolson opened #176 "Bucket input handling"
It seems like an improvement to do what we've done in some other sims, where you can grab an atom by pressing on the bucket itself (which will grab an atom from the bucket), not just grabbing individual atoms. Right now it takes a lot more effort to grab an individual atom.

[2020-05-07 17:49] jonathanolson opened #177 "Pointer area review"
As noted in the code review doc (https://github.com/phetsims/build-a-molecule/issues/173), there should be a review of pointer areas done and signed off.

[2020-05-07 17:59] jonathanolson opened #178 "i18n of molecule names"
Just want to check in and see if we were planning on allowing translation of molecule names at all (came up in https://github.com/phetsims/build-a-molecule/issues/173).

[2020-05-07 18:11] jonathanolson opened #179 "Can assets/3d.xcf be deleted?"
I believe this is unused as we've removed the associated image.

[2020-05-07 18:14] jonathanolson opened #180 "Common prefix name for source files"
From the code review in https://github.com/phetsims/build-a-molecule/issues/173:

It looks like BAM is the prefix, but we have BuildAMoleculeQueryParameters... can we rename that to be consistent?

[2020-05-07 18:16] jonathanolson opened #181 "Is twixt a dependency?"
It's noted in the package.json, but I don't see any usages in the sim. Can we remove that?

https://github.com/phetsims/build-a-molecule/issues/173

[2020-05-07 18:18] jonathanolson opened #182 "There are branches without issues"
As noted in the code review issue, these should have either issues mentioning why they exist, or ideally they can be deleted.

https://github.com/phetsims/build-a-molecule/issues/173

[2020-05-07 18:28] jonathanolson opened #183 "Implementation details in model.md documentation"
As noted in the code review doc (https://github.com/phetsims/build-a-molecule/issues/173):

Can we move implementation details to the implementation-notes.md?

[2020-05-07 18:33] arouinfar commented on #178
I think it would be nice to allow for i18n of the names of the 26 molecules in [collectionMoleculesData.js](https://github.com/phetsims/build-a-molecule/blob/master/js/common/model/data/collectionMoleculesData.js). It would be overkill (and not particularly useful) to allow i18n of the names of the 9000+ molecules in otherMoleculesData.js.

[2020-05-11 17:00] Denz1994 opened #184 "Branch: mobiusBAM"
From #173: This branch was created to build Mobius support for the 3d Molecule representation. Those changes were merged into master and this branch no longer needs to exist. I'll delete the branch and close this issue.

[2020-05-11 17:02] Denz1994 commented on #184
The branch was deleted. We can close this issue.

[2020-05-11 17:02] #184 closed

[2020-05-11 17:06] Denz1994 opened #185 "Branch: updatedDrag"
From #173: This branch was created for testing changes related to dragging molecules. Most of the changes involved drag handlers and managing the layers for adding/removing items within the play area. Master is the most stable version of these changes so this branch can be deleted.

[2020-05-11 17:08] Denz1994 commented on #185
This branch was deleted. We can close this issue.

[2020-05-11 17:08] #185 closed

[2020-05-11 17:09] Denz1994 commented on #182
Issues #184 and #185 were created with some details about why those branches were created and deleted. Master is stable and should be the only branch in existence at this time. Closing.

[2020-05-11 17:09] #182 closed

[2020-05-12 14:53] Denz1994 commented on #181
At one time we were using our Animation library to handle separating molecules and returning them to the buckets and play area. The implementation has changed and we are not using twixt anymore. The dependency has been removed. Closing.

[2020-05-12 14:53] #181 closed

[2020-05-12 15:05] Denz1994 commented on #180
The filename has been changed along with its usages. Closing this issue.

[2020-05-12 15:05] #180 closed

[2020-05-12 15:09] Denz1994 commented on #179
The asset has been removed. Closing this issue.

[2020-05-12 15:09] #179 closed

[2020-05-12 15:23] Denz1994 commented on #178
The 26 molecules in collectionMoleulesData.js are responsible for the molecules that show in the collection box. These strings are translatable as indicated by the `stringTest` query parameter. There are no further actions for this issue. Closing this issue.

[2020-05-12 15:37] Denz1994 commented on #177
Note: Pointer areas are shown for buckets that aren't yet visible but exist in the carousel's preceding and succeeding pages.

Assigning to @arouinfar to sign off on pointer areas.

[2020-05-12 16:23] arouinfar commented on #177
The pointerAreas look sufficiently dilated to me, but I don't have a touch device to test it on. @Denz1994 if this sim has already been tested on an iPad, I think it's safe to assume the touch areas are fine as-is.

[2020-05-12 18:11] Denz1994 commented on #177
This sim has been tested on an iPad and the only issues that came up regarding touch areas were https://github.com/phetsims/build-a-molecule/issues/116. This issue is safe to close.

[2020-05-12 18:11] #177 closed

[2020-05-12 19:36] jonathanolson commented on #116
It looks like the touch areas on atoms can be big enough where it's possible to press your finger directly over an atom and actually pick up a different one. Has this been an issue? This has been resolved in other sims by having a background that detects "misses" and searches for the closest item.

<img width="107" alt="Screen Shot 2020-05-12 at 1 35 43 PM" src="https://user-images.githubuserconte

[2020-05-12 19:41] Denz1994 commented on #116
For usability purposes, this would only be concerning if this occurred in the play area. The separation threshold prevents this from happening in the play area. Atoms in the bucket are homogenous and if a user picks up the incorrect hydrogen atom that shouldn't be an issue. Thoughts @arouinfar?

[2020-05-13 18:41] jonathanolson commented on #173
The main review work has been completed. After review items/issues have been handled, @Denz1994 and I plan to do memory leak reviews/fixes.

[2020-05-13 23:49] arouinfar commented on #116
Agreed! I think we can close.

[2020-05-13 23:49] #116 closed

[2020-05-15 02:32] Denz1994 commented on #158
**Additional Details:**

The approach to importing the data set in the legacy version required a parser, some filters, and a post-processor.

The parser (MoleculeSDFCombinedParser) is responsible for importing all the data from PubChem using an SDF file. This will generate two text files of molecule data (collection-molecules.txt and other-molecule.txt). Collection-molecules.txt contains molecule

[2020-05-15 02:35] Denz1994 commented on #158
Here is a zip file of the BAM legacy source code: [build-a-molecule-java.zip](https://github.com/phetsims/build-a-molecule/files/4631943/build-a-molecule-java.zip)

[2020-05-21 12:28] Denz1994 commented on #176
This feature has been added in the commit above. Clicking on the bucket will grab the closest atom within the bucket. The new behavior is a nice addition. Tagging @arouinfar for any other input.

[2020-05-21 12:33] Denz1994 commented on #148
I misinterpreted the check that prevents https://github.com/phetsims/build-a-molecule/issues/148#issuecomment-584965693. This was allowed in the legacy version as well.

The concern was regarding a user no knowing what atoms are bonded in the example in https://github.com/phetsims/build-a-molecule/issues/148#issuecomment-584965693. However, with the addition of the cut targets (yellow circles), it

[2020-05-21 12:36] Denz1994 commented on #148
Also, the above commits should have fixed the order dependent bonding problem that was mentioned by @arouinfar above. Can you test in this dev version @arouinfar?

@jonathanolson and I did some intense deep-diving into the visitor arrays in `checkEquivalency()`. It looks like I was removing the incorrect items from the visited atoms causing these false equivalencies.

[2020-05-24 21:44] arouinfar commented on #176
@Denz1994 this is a really nice feature. I like it!

[2020-05-24 21:44] #176 closed

[2020-05-24 21:51] arouinfar commented on #148
This appears to be fixed in dev.74 @Denz1994.

If the sim is in a good place, it would be nice to publish a new prototype to the website.

[2020-06-01 13:16] Denz1994 commented on #173
Thanks a lot, @jonathanolson for the review. The initial concerns have either been addressed by a REVIEW comment or an associated issue. I will close this issue.

[2020-06-01 13:16] #173 closed

[2020-06-01 13:17] Denz1994 commented on #60
Documentation has been added due to changes in #173.

[2020-06-01 13:17] #60 closed

[2020-06-01 14:38] Denz1994 commented on #148
This issue has been listed for QA to test with specific instructions in https://github.com/phetsims/build-a-molecule/issues/148#issuecomment-611099900.

[2020-06-02 21:16] muedli opened #186 "Right clicking on buckets puts atoms in the play area"
<b>Test Device</b>

MacBook Air

<b>Operating System</b>

macOS 10.15.4

<b>Browser</b>

Google Chrome 81.0.4044.138

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/506. Not a big issue, and you might decide to close it right away. I just wanted to bring it up in case you or @arouinfar don't like the behavior or think it's problematic in some way.

Anyway, if you right click

[2020-06-03 22:44] Denz1994 commented on #186
I don't think this is problematic but @ariel-phet may have some further input. Reassigning.

[2020-06-04 18:21] ariel-phet commented on #186
Although this behavior is not ideal, it does not really cause any pedagogically problematic issues.

I think most people would realize fairly soon that they are right clicking and avoid it. Fixing this issue would likely be much more effort than worth.

Closing as `wontfix`

[2020-06-04 18:21] #186 closed

[2020-06-04 20:31] loganbraywork opened #187 "Reset all button does not reset pause button in 3D model view"
**Test device**

Windows 10 laptop

**Operating System**

Windows 10 v. 1903

**Browser**

Chrome Version 83.0.4103.61

**Problem description**

For https://github.com/phetsims/QA/issues/506

The reset all button does not unpause the molecule in 3D view, despite the molecule in 3D view being initially unpaused.

**Steps to reproduce**

1. Build a molecule
2. Enter 3D view using the 3D button
3. Pa

[2020-06-05 16:53] Denz1994 commented on #187
This should be fixed in the above commit. I'll release a new dev version to verify.

[2020-06-05 21:43] loganbraywork opened #188 "Long strings slightly covered up in collections"
**Test device**

Windows 10 Laptop

**Operating System**

Windows 10 v.1903

**Browser**

Edge Version 83.0.478.44 (Official build) (64-bit)

**Problem description**

For https://github.com/phetsims/QA/issues/506

The long strings are slightly covered up in collection view.

**Visuals**

![2020-06-05BldBlclLngStringtest](https://user-images.githubusercontent.com/54685448/83924993-475ac580-a743-11e

[2020-06-08 13:55] Denz1994 commented on #188
Some vertical spacing was added between the black box highlight and the goal text. There isn't much space to work with but there shouldn't be an overlap anymore.

I'll release a dev version for verification.

[2020-06-08 22:25] JRomero0613 opened #189 "Sphere 3D Model Doesn't Show Hydrogen For Specific Molecules"
For https://github.com/phetsims/QA/issues/506 the sphere 3D models for dimercaptoboron (BH2S2) and thioxoborinothioic acid (BHS2) do not show the hydrogen atoms. The hydrogen atoms can be seen in the ball-and-stick 3D model, just not on the sphere 3D model. To replicate go to the playground screen and navigate to the 5th panel with hydrogen, boron, sulfur, silicon, and phosphorus (this is the only

[2020-06-09 16:51] KatieWoe commented on #148
I noticed (using https://github.com/phetsims/QA/issues/506) that, if the molecule is built in a certain way, there may not be room to add some of the atoms needed. Is this acceptable?
Trying to build this in a slightly different configuration:
![cantfinishthis](https://user-images.githubusercontent.com/41024075/84176387-88522300-aa3e-11ea-8eaf-1533849aacc3.png)
No room to add last atoms:
![notfini

[2020-06-09 18:21] KatieWoe opened #190 "Overlapping hydrogen or others"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/506.
I noticed that, when atoms would need to be in the same spot, though linked to different atoms, the sim does not allow this. However, with hydrogen atoms it is allowed and this causes an overlap of the atoms. This can also occur to an extent with very large ato

[2020-06-09 19:25] KatieWoe opened #191 "Type of 3D model doesn't reset with reset all"
**Test device**

**Operating System**

**Browser**

**Problem description**

**Steps to reproduce**

**Visuals**

Troubleshooting information:

<details>

!!!!! DO NOT EDIT !!!!!
Name: ‪Build a Molecule‬
URL: https://phet-dev.colorado.edu/html/build-a-molecule/1.0.0-dev.75/phet/build-a-molecule_all_phet.html
Version: 1.0.0-dev.75 2020-06-01 13:20:12 UTC
Features missing: touch
Flags: pixelRatioSca

[2020-06-09 19:25] loganbraywork commented on #189
It seems that the larger molecules overlap with the hydrogen. When you attach hydrogen to Boron for example, they Hydrogen appears to be inside of the Boron atoms.
![2020-06-09BldMlcHydrogen](https://user-images.githubusercontent.com/54685448/84190778-b3e00800-aa54-11ea-867b-f9ab704803cc.PNG)

[2020-06-09 19:26] KatieWoe commented on #191
Sorry, accidentally posted early. Give me a minute

[2020-06-09 19:48] loganbraywork opened #192 "Changing Atom Selection Buckets while Built molecule exists causes freeze in IE"
**Test device**

Windows 10 Laptop

**Operating System**

Windows 10 v. 1903

**Browser**

Internet Explorer v. 11.836.18362.0

**Problem description**

For https://github.com/phetsims/QA/issues/506

If a molecule is built in the play area and the selection of atom buckets is switched, the built molecule remains in the play area and causes a freeze.
The follow console error occurs:
SCRIPT438: Obje

[2020-06-09 20:08] KatieWoe opened #193 "Multitouch can't pick up multiple atoms at onces"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/506. Using multitouch on Windows touch screen.
You can only pick up and drag one atom or molecule at a time. If you grab a second, the first is dropped. This happens whether you are dragging from the bucket or are in the play area. If this is intended behavior, plea

[2020-06-09 20:34] KatieWoe commented on #191
The same goes for the play/pause state of the view.

[2020-06-09 21:18] Denz1994 commented on #192
It looks like Array.includes() isn't supported by IE. After using _.includes(). things seem to be working fine in IE, but I'll release a dev version for verification.

[2020-06-09 21:21] KatieWoe opened #194 "Able to skip levels by re-doing a previous one"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/506.
It is possible to skip a level by going back to a previous one and redoing it. Once the old level is re completed, the "go to the next level" prompt will come up, and it will create a new level past the uncompleted one.
**Steps to reproduce**
1. Complete Level

[2020-06-09 22:46] KatieWoe opened #195 "503 Backend Fetch"
For https://github.com/phetsims/QA/issues/506. When looking at the console (Win 10 Chrome) on both the sim and the debug sim, there seems to be an error that occurs during loading. I haven't seen any issues that I can relate to this while playing with the sim itself.
![notsureerror](https://user-images.githubusercontent.com/41024075/84208245-81dc9f00-aa70-11ea-8432-fa999285956a.png)

[2020-06-09 23:41] Denz1994 commented on #191
Play/pause state is addressed in https://github.com/phetsims/build-a-molecule/issues/187 and is awaiting a dev version for verification.

Regarding the view style described above, this should have been fixed in the above commit. The ResetAllButton wasn't resetting the viewStyleProperty.

[2020-06-10 00:13] Denz1994 commented on #194
Great catch! The allFilledDialog has been fixed to only show if there isn't a nextCollection present on the currentCollection. This means we should only get the next collection prompt on the last collection (or level).

I'll post a dev version to verify.

[2020-06-10 00:22] Denz1994 commented on #190
I would vote to pass on fixing this one. There would most likely be an intrusive patch to the model that determines bonding locations based on molecules that aren't neighbors to an atom. For instance, the bottom-most Phosphorus isn't aware of the position/bounds of the uppermost Phosphorus. The bottom-most Phosphorus only knows about its neighbor, bottom-most carbon.

Also note, this is present in

[2020-06-10 00:33] Denz1994 commented on #193
This behavior was implemented to handle #162 and #118 (maybe another multitouch related issue too). I didn't consider that we would want to drag two molecules at the same time. If that is the case, I'll have to revisit how we are interrupting input handlers and specify which inputs should be interrupted.

I don't think this would be a minor change so I'll leave for @arouinfar to decide. Raising pr

[2020-06-10 00:38] Denz1994 commented on #193
I did a brief look around other sims like Build-An-Atom, Function-Builder-Basics, and Masses-and-Springs. It looks like draggable items will hold their drag state during a multi-touch event.

This goes as far as allowing a dragged item to still be draggable even when switching scenes (seen in Function-Builder-Basics and Masses-and Springs). It seems like we are very lenient with our multi-touch po

[2020-06-10 00:45] Denz1994 commented on #148
Correct me if I'm wrong @arouinfar, but I think the second image in https://github.com/phetsims/build-a-molecule/issues/148#issuecomment-641437201 is technically a different molecule. For instance, the center carbon doesn't have two fluorines bonded to it.

If that is the case then this is acceptable.

[2020-06-10 00:55] Denz1994 commented on #189
More context around this issue can be found at this comment chain after this [comment](https://github.com/phetsims/build-a-molecule/issues/150#issuecomment-580021713).

I believe the issue is we currently don't have a neat way of handling radicals in our space filled modeling. This is because we never initially, filtered out these molecule types in the original pub chem data pull and the space fil

[2020-06-10 01:01] Denz1994 commented on #191
This [dev version](https://phet-dev.colorado.edu/html/build-a-molecule/1.0.0-dev.76/phet/build-a-molecule_all_phet.html) can be used for verification.

[2020-06-10 01:01] Denz1994 commented on #188
This [dev version](https://phet-dev.colorado.edu/html/build-a-molecule/1.0.0-dev.76/phet/build-a-molecule_all_phet.html) can be used for verification.

[2020-06-10 01:04] Denz1994 commented on #187
This [dev version](https://phet-dev.colorado.edu/html/build-a-molecule/1.0.0-dev.76/phet/build-a-molecule_all_phet.html) can be used for verification.

[2020-06-10 01:04] Denz1994 commented on #194
This [dev version](https://phet-dev.colorado.edu/html/build-a-molecule/1.0.0-dev.76/phet/build-a-molecule_all_phet.html) can be used for verification.

[2020-06-10 01:04] Denz1994 commented on #192
This [dev version](https://phet-dev.colorado.edu/html/build-a-molecule/1.0.0-dev.76/phet/build-a-molecule_all_phet.html) can be used for verification.

[2020-06-10 03:11] ariel-phet commented on #189
@Denz1994 I am fine with the teacher tips solution and looking to eventually filter out radical data.

[2020-06-10 16:19] KatieWoe opened #196 "Should molecule names be translatable?"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/506
The molecule names that pop up when you build a molecule don't seem to be translatable. For some, such as water, this may be an issue.

**Visuals**
![shouldmoleculenamestranslate](https://user-images.githubusercontent.com/41024075/84292551-c49b8700-ab03-11ea-9ae

[2020-06-10 23:34] arouinfar commented on #196
In Java, we allowed for i18n of the molecule names in the play area and the collection panel.
![image](https://user-images.githubusercontent.com/8419308/84326516-4efedd80-ab3a-11ea-9785-a5503906f0af.png)

This is a more consistent experience for users as they try to match up molecules in the play area to the corresponding collection box.

Looking at the molecules in collectionMoleculesData.js, mos

[2020-06-10 23:36] arouinfar commented on #148
Agreed @Denz1994. I think it's important for students to thoughtfully place their atoms when building large molecules. I don't see the current behavior as a bug, but rather a productive constraint.

[2020-06-10 23:36] #148 closed

[2020-06-10 23:40] arouinfar commented on #193
@Denz1994 if you can implement a solution that is more in line with other sims while not reintroducing #162 and #118, go for it. However, I do not see an inherent problem with only allowing one molecule to be dragged at a time.

[2020-06-10 23:43] arouinfar commented on #190
Thanks for reporting @KatieWoe. I agree with @Denz1994's decision to leave this as-is.

[2020-06-10 23:43] #190 closed

[2020-06-11 11:13] Denz1994 commented on #196
I was assuming that only the built molecules in the play area that are goals in the collection panel would be translated. This would indicate that if a string is translated into the user's language, it must have a corresponding goal in the collection panel. After implementing the above request, I see that that isn't the case. All of the built molecules in the play area can be translated, whether o

[2020-06-11 11:28] Denz1994 commented on #193
If there isn't a problem with the current implementation then I'll leave as is. Dragging more than one item has some consequences in this sim.

**Some considerations:**

Every time Molecule A (first dragged item) is dragged we would need to make sure it isn't contained within Molecule B (second dragged item).

Also, if both Molecule A and Molecule B are released at the same time, there may be conf

[2020-06-11 11:28] #193 closed

[2020-06-11 11:29] Denz1994 commented on #193
Also noting, the specific listener that would need to be reviewed would be in `BAMScreenView.addAtomNodeToPlayArea`.

[2020-06-11 11:33] Denz1994 commented on #195
I'm not sure what this is related to and I can't reproduce consistently, despite seeing this message before. I'll ask other devs if they have any insight.

[2020-06-11 11:39] Denz1994 commented on #195
In regards to the reproducibility of this error, I can only replicate this in a dev version.

[2020-06-11 11:51] Denz1994 commented on #195
I'm not sure what the origin of this issue is, but it isn't sim specific. I'll label this issue as "won't-fix" and when I get more information address this in a separate issue if it warrants a fix.

[2020-06-11 11:53] #195 closed

[2020-06-11 14:23] Denz1994 commented on #196
This [dev version](https://phet-dev.colorado.edu/html/build-a-molecule/1.0.0-dev.77/phet/build-a-molecule_en_phet.html) can be used for verification @KatieWoe and @arouinfar.

[2020-06-11 15:26] KatieWoe commented on #196
Looks good in the dev version to me

[2020-06-11 15:51] pixelzoom commented on #195
I see a similar 404 error all the time when running sims locally from my working copy.  I have not seen this 403 error when running from phet-dev, and I cannot reproduce.  and I'm not sure why it would be a 403 error.   If you're unfamiliar with favicon.icon, see https://en.wikipedia.org/wiki/Favicon.  A favicon.icon for a non-production version is probably safe to ignore.

[2020-06-11 18:23] KatieWoe commented on #188
Noticed some overlap when strings were normal, so I took a second look at dev.76 and it looks better there, but I did notice a very, very small amount of overlap. @Denz1994 feel free to close again if you don't think this needs to be addressed. Not sure myself.
![moreoverlap76](https://user-images.githubusercontent.com/41024075/84425146-54adff00-abde-11ea-9668-6876de571f24.png)
![overlapindev76](h