[2020-06-12 17:05] KatieWoe opened #197 "Full crash when building a large molecule"
**Test device**
Dell and Lovelace
**Operating System**
Win 10 and ChromeOS
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/506.
When building a particular large molecule the sim crashed as I added the last hydrogen. I have not seen this with any other molecule, and no error happened in the console. This means I'm unsure if this occurs with other molecules. I wi

[2020-06-12 17:11] KatieWoe commented on #197
Happens with a nitrogen in the center, 4 carbon, and 7 hydrogen as you try to add the 8th.

[2020-06-12 18:07] KatieWoe opened #198 "Unsure if bonding should be possible"
For https://github.com/phetsims/QA/issues/506. There are instances where you are able to bond a hydrogen to something, but other atoms that you would expect to be able to make the same bond (such as fluorine and chlorine) may not be able to. This does not seem to have anything to do with the order of adding atoms, so I don't think it is connected to https://github.com/phetsims/build-a-molecule/iss

[2020-06-12 18:18] KatieWoe commented on #198
Clarification, I've seen this in a large number of instances, the above is just one example.

[2020-06-12 22:52] KatieWoe opened #199 "Multitouch still dragging molecule when looking at different part of carousel"
**Device**
iPad
**OS**
iPadOS 13
**Browser**
Safari
Problem Description
For https://github.com/phetsims/QA/issues/506.
If you are dragging a molecule with one finger and use the other to change the carousel to another page, you will still be dragging an invisible molecule. You can even drop it into the answer box like this. May not be worth addressing.
**Steps**
1. Go to first screen
2. Build a ta

[2020-06-15 14:22] Denz1994 commented on #188
I've given as much room to the strings as possible without compromising the positioning of the resetAllButton. The collection panel will encroach on the upper bounds on the button if we add more spacing. I'll close for now since the button positioning takes a higher priority than the very very small overlap mentioned above.

[2020-06-15 14:22] #188 closed

[2020-06-16 16:30] KatieWoe opened #200 "Hydrogen are not always picked up from bucket"
**Test device**
Mac and Dell
**Operating System**
MacOS 10.15 and Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/506.
You are not always able to pick up a hydrogen atom by clicking on the bucket, rather than the atom. This tends to happen on the bottom of the bucket, and the locations it does/doesn't work change depending on the number and position of t

[2020-06-16 16:31] KatieWoe commented on #200
Occurs on other screens as well.

[2020-06-16 16:41] KatieWoe commented on #200
Reproduced with a carbon bucket, so it does occur with other elements.

[2020-06-17 11:38] Denz1994 commented on #197
I believe there was a runtime error in MoleculesStructure.checkEquivalencyMatrix(). We were targetting the incorrect index for the submatrices to be removed. This should have been corrected in this dev version. Can you test it out [here](https://phet-dev.colorado.edu/html/build-a-molecule/1.0.0-dev.78/phet/build-a-molecule_all_phet.html) @KatieWoe?

[2020-06-17 11:40] Denz1994 commented on #199
Good catch. We can kill the dragging input when the carousel pages change. Should be fixed in this [dev version](https://phet-dev.colorado.edu/html/build-a-molecule/1.0.0-dev.78/phet/build-a-molecule_all_phet.html) @KatieWoe.

[2020-06-17 11:41] Denz1994 commented on #200
In the legacy version where was a check to prevent grabbing atoms that weren't in the bucket. Specifically, if the atom was closer to the bucket but technically outside of the bucket. This was implemented before the use of the carousel and the many changes to the bucket's positioning and touch areas.

This check was being fired before the atom's drag listener was being called and it caused the dra

[2020-06-17 14:05] Denz1994 commented on #200
Sorry the dev version posted didn't include the patched commit. Standby for new dev version.

[2020-06-17 14:34] Denz1994 commented on #200
Instead of bailing out immediately (in this unique case), we can select the first atom in the particle list. This way the user will still grab an atom when clicking on the bucket. Grabbing the closest atom is limited by the atom's size. Because Hydrogen is so small, we need an additional fallback.

This was also failing for Carbon buckets with 3 or more atoms. If a user left the rightmost and left

[2020-06-17 16:59] KatieWoe commented on #197
This looks fixed in the two instances I saw. I'll keep an eye out for any others, but the two I did find seem good.

[2020-06-17 17:01] KatieWoe commented on #200
I think I'm still seeing this in the dev version

[2020-06-17 17:02] Denz1994 commented on #197
Good to know. I'll make sure to include this for further inspection in the next RC. Closing this one for now.

[2020-06-17 17:02] #197 closed

[2020-06-17 17:08] KatieWoe commented on #200
Never mind. I think I was looking at the wrong version. This seems ok. I'll keep an eye out in future tests.

[2020-06-17 17:09] Denz1994 commented on #200
Good to know. Closing.

[2020-06-17 17:09] #200 closed

[2020-06-17 17:17] KatieWoe commented on #199
Looks good in the dev version

[2020-06-17 17:58] arouinfar commented on #196
Looks great, thanks @Denz1994!

[2020-06-17 17:58] #196 closed

[2020-06-17 18:17] Denz1994 commented on #199
Nice. Closing this one.

[2020-06-17 18:17] #199 closed

[2020-06-17 18:20] arouinfar commented on #198
@Denz1994 I think this is another permutation of #148.

There seems to be some order-dependence for how atoms are added to the molecule. My initial thought was that the repulsion might be related to the atomic radii, but that doesn't seem to be the case, since I can build structures like this:
![image](https://user-images.githubusercontent.com/8419308/84933270-e0b69f80-b092-11ea-8467-9f44efdfa9a8.

[2020-06-17 19:40] Denz1994 commented on #198
If this was order-dependent as described in #148, then there should be a build order that will produce the initial molecule posted by @KatieWoe (with Chlorine in place of the Hydrogen). I've tried numerous amounts of permutations and can't build that molecule attempted in the original post. So for that reason I'll agree with @KatieWoe that this isn't order-dependent.

The fact that this can't be b

[2020-06-17 20:08] Denz1994 commented on #198
Okay, more digging with a minor revision...

We do have C4H3Cl3F4 entries in our data:
- `2,2,3-trichloro-1,1,1,3-tetrafluoro-butane|C4H3Cl3F4`
- `2,2,4-trichloro-1,1,1,4-tetrafluoro-butane|C4H3Cl3F4`
- `1,1,2-trichloro-1,4,4,4-tetrafluoro-butane|C4H3Cl3F4`

However, it isn't just the molecule elements we are building, it is the position we are bonding the atoms. So in the original post, the atoms

[2020-06-17 20:25] Denz1994 commented on #198
A bit more, more digging...

We can build all of the 3 entries related to C4H3Cl3F4 if we follow the IUPAC nomenclature.

![image](https://user-images.githubusercontent.com/13894380/84946080-19b43b80-b0b6-11ea-975a-f5f73d74bfc6.png)

![image](https://user-images.githubusercontent.com/13894380/84946294-76175b00-b0b6-11ea-84f6-fe5218e4132a.png)

![image](https://user-images.githubusercontent.com/138

[2020-06-17 20:27] Denz1994 commented on #198
In summary, the arrangements of the atoms were incorrect @KatieWoe. I'll leave to @arouinfar to close this one.

[2020-06-17 20:57] arouinfar commented on #198
Thanks for digging into this @Denz1994. I am fine with closing, but I would like a bit more clarification for the Teacher Tips.

I didn't realize that molecules had to be named in the database for their connections to be legal. Does that only occur for the kits on the Playground?

For example, I can build this, despite it not being a real molecule:
![image](https://user-images.githubusercontent.co

[2020-06-17 21:20] Denz1994 commented on #198
Sure. Your example is legal because it can be used to build `hydroperoxy(methy)ldiazene`, which is an entry in our data set.
![image](https://user-images.githubusercontent.com/13894380/84950199-87fbfc80-b0bc-11ea-8404-a949ec4b0d65.png)

The molecule @KatieWoe was trying to build is illegal because it doesn't build into any entry molecule in our data set.
![image](https://user-images.githubusercont

[2020-06-17 21:21] Denz1994 commented on #198
Back to @arouinfar to close.

[2020-06-17 21:27] arouinfar commented on #198
Thank for that explanation @Denz1994! That makes sense to me. I've tagged this issue for the Teacher Tips, so we can go ahead and close it.

[2020-06-17 21:27] #198 closed

[2020-06-18 01:58] Denz1994 commented on #183
Implementation notes and the model.md have both been updated. The model.md is geared towards an audience of teachers, while the implementation notes are written for devs.

Closing this one.

[2020-06-18 01:58] #183 closed

[2020-06-18 15:32] Denz1994 commented on #171
Latest on this issue: @kathy-phet just needs to look at over the latest [dev version](https://phet-dev.colorado.edu/html/build-a-molecule/1.0.0-dev.79/phet/build-a-molecule_all_phet.html) to sign off on the bonding distance and separation distance.

Raising priority on this issue because we are getting close to an RC.

[2020-06-18 18:41] chrisklus commented on #145
from 06/18/20 dev meeting:

@mattpen and @Denz1994 will find time to overlap on this

[2020-06-19 19:21] ariel-phet commented on #171
I think I feel comfortable "signing off" for @kathy-phet in this case. The behavior feels very natural and seamless to me currently in dev.79

Closing.

[2020-06-19 19:21] #171 closed

[2020-06-19 19:58] kathy-phet commented on #171
Just for the record, it does feel good to me too!

[2020-06-19 20:44] Denz1994 commented on #145
@mattpen @jonathanolson and I created a successful deploy with no issues. Closing this one.

[2020-06-19 20:44] #145 closed

[2020-06-19 20:47] Denz1994 commented on #167
Make sure to run the above command BEFORE `grunt production`.  In between running the rm command above and making the sim visible on the website, the sim won't be available.

[2020-06-19 20:51] Denz1994 commented on #145
Correction: We did run into problems with `build-a-molecule_en.html` not committing after being built. @jonathanolson mentioned this was related to https://github.com/phetsims/perennial/issues/172 and the last call to `gitIsClean()` in `updateHTMLVersion.js`. This was sorted out after manually committing and pushing this file on Master.

[2020-06-29 19:35] loganbraywork opened #201 "Molecules added to the play area by using RMB on the buckets occupy same space until interacted with"
**Test device**

Windows 10 Laptop

**Operating System**

Windows 10 v. 1903

**Browser**

Chrome v. 83.0.4103.116

**Problem description**

For https://github.com/phetsims/QA/issues/509

When the bucket is interacted with using the Right Mouse Button, atoms will automatically be added to the play area. These atoms tend to occupy the same space at times, and will only move away from each other onc

[2020-06-29 19:38] Denz1994 commented on #201
Related to #186. @ariel-phet does your comment [here](https://github.com/phetsims/build-a-molecule/issues/186#issuecomment-639024382) also classify this issue as a `wontfix`?

[2020-06-30 17:23] ariel-phet commented on #201
I am going to mark this issue as deferred. I still think it is a rare use-case, but we can see if we get any reports into phethelp, or if we feel it is worth solving in the future.

[2020-07-01 22:05] loganbraywork opened #202 "Atoms and Buckets seem to shake while manipulating molecules in the play area"
**Test device**

Windows 10 laptop

**Operating System**

Windows 10 v. 1903

**Browser**

Edge  v.83.0.478.56

**Problem description**

For https://github.com/phetsims/QA/issues/509

Appears on Chrome as well. Does NOT appear in Firefox. Atoms in the buckets in the Playground screen seem to jump or shake when molecules or atoms are manipulated in the play area. I've noticed that this seems to occ

[2020-07-02 19:43] loganbraywork opened #203 "Loading the sim in Legends of Learning will cause graphic failure in currently running sim"
**Test device**

Windows 10 Laptop

**Operating System**

Windows 10 v.1903

**Browser**

Chrome  83.0.4103.116 & Edge  83.0.478.58

**Problem description**

For https://github.com/phetsims/QA/issues/509

Seen in both Chrome and Edge. Does not seem to occur in Firefox. It seems that if the sim is loaded in the Legends of Learning Harness while the sim is also opened in another tab, the sim used la

[2020-07-13 20:22] Denz1994 commented on #203
The issue here is that there are too many WebGL contexts created in the browser at one time. This seems to be a limitation of the browser. There is a limit on the number of WebGL contexts that the browser can create (16 on Chrome).

This isn't specific to LoL either. This can be reproduced by following the above steps but using a new tab instead of the LoL wrapper.

[2020-07-16 07:43] arouinfar opened #204 "LoL icons/metadata"
For https://github.com/phetsims/QA/issues/509

[2020-07-16 15:01] Denz1994 commented on #202
Initial investigating doesn't indicate that atom positions, destinations, or atomNode translations aren't being updated while in the buckets. Also, this isn't just related to the buckets or atoms because the carousel, page navigation, and resetAllButton is also shaking in the gif. The next steps would be to check for changing Bounds (carousel,layout bounds and play area).

As a side note, I can't

[2020-07-27 13:43] Denz1994 commented on #202
I've exhausted checking for bounds or position changes of all view components on the playground screen while dragging items as described above. These values aren't changing and I can't replicate this behavior locally. I've also tried replicating on two mobile devices, two windows devices, and my primary dev machine (MacBook) with no success. If this was a performance issue it should be evident on

[2020-07-27 15:22] Denz1994 commented on #203
More details: BAM requires 9 WebGL contexts on sim start-up. Each screen was one dialog with 3 contexts all used in the `Molecule3dDialog`. A `Molecule3dDialog` requires one context for the center 3D molecule (the rotating molecule in the dialog) and two contexts for the radio buttons. This is because the center molecule and the radio button molecules are rendered using instances of ThreeNode (see

[2020-07-27 19:18] jonathanolson commented on #203
That sounds reasonable to me.

[2020-07-27 20:24] loganbraywork commented on #202
The laptop I used for testing in which I found this issue has a large screen. This may be the cause of the shaking. I did test this issue when the window is not fully expanded, and the same shaking does occur.

[2020-07-28 16:43] KatieWoe commented on #202
I looked on master on Win 10 Chrome and didn't see anything. But also can't really see it in the gif. As such I'm going to assign @loganbraywork to work with @Denz1994 on this.

[2020-08-26 16:25] Denz1994 commented on #168
Should be verified once more in the latest RC.

[2020-08-26 16:28] Denz1994 commented on #202
Should be verified by the latest [RC](https://phet-dev.colorado.edu/html/build-a-molecule/1.0.0-rc.2/phet/build-a-molecule_en_phet.html).

[2020-08-26 16:33] Denz1994 commented on #203
Refactors were made to reduce the number of WebGL contexts required for the sim on startup. This means sharing ThreeNode instances as much as possible and using static icons for the view types. This should be verified in the latest [RC](https://github.com/phetsims/build-a-molecule/issues/202).

[2020-08-26 17:01] ariel-phet commented on #202
I checked this on Win 10 edge, not seeing anything. Could be device specific, since neither myself, @Denz1994 @KatieWoe has seen this, it is not worth pursuing further. Closing

[2020-08-26 17:01] #202 closed

[2020-08-26 18:20] zepumph opened #205 "PropertyStateHandler dependency registration leaks memory"
A memory leak was outlined and fixed in master over in https://github.com/phetsims/axon/issues/328#issuecomment-681042541. It effects PhET brand. Please follow that link to cherry-pick changes into the next maintenance release of this sim.

[2020-08-26 18:53] KatieWoe commented on #168
Jaspe Arias and Steele Dalton should be added as well for rc.2

[2020-08-26 19:15] samreid commented on #205
On hold until https://github.com/phetsims/axon/issues/328#issuecomment-681071910 is cleared up.

[2020-08-26 19:34] KatieWoe commented on #203
Looks ok to me. Tested with three sims open and then tested with a sim and a LoL sim. @loganbraywork would you test as well since you discovered the issue?

[2020-08-26 20:20] KatieWoe opened #206 "Possible Misordering of Chemical Formula"
For https://github.com/phetsims/QA/issues/538
From Slack:

Should both of these molecules be CHN, even though they are put together differently?

![chnforboth](https://user-images.githubusercontent.com/41024075/91352495-2be1e280-e7a7-11ea-8751-8e1bdb345b4c.gif)

Hydrogen cyanide is usually HCN .
2:14
The order in the chemical formula doesn’t technically matter, though. (edited)

It's that way in t

[2020-08-26 20:27] Denz1994 commented on #206
Also from the same slack thread:

[2020-08-26 20:36] arouinfar commented on #206
@Denz1994 if it is trivial to change the chemical formulas in [collectionMoleculesData.js](https://github.com/phetsims/build-a-molecule/blob/master/js/common/model/data/collectionMoleculesData.js), I'd also like to make these changes:

- [ ] ammonia|H3N  --> NH3
- [ ] phosphine|H3P --> PH3
- [ ] silane|H4Si --> SiH4
- [ ] sulfur dioxide|O2S --> SO2

[2020-08-26 20:38] KatieWoe commented on #206
I'm a bit confused since I think at least some of those are already right? I think I just saw silane come up and it was right.

[2020-08-26 20:41] KatieWoe commented on #206
Ammonia is wrong though. So maybe I saw silane wrong

[2020-08-26 20:41] arouinfar commented on #206
I was assuming that the chemical formula that appears in the collection came directly from collectionMoleculesData.js. I am pretty sure I saw `H3N` and `O2S` earlier today. I'll play with the collections a bit more to make sure.

[2020-08-26 20:44] KatieWoe commented on #206
Looks like an odd mixed bag:
![mixed bag](https://user-images.githubusercontent.com/41024075/91354939-ae1fd600-e7aa-11ea-97c8-585aa27be636.png)

[2020-08-26 20:49] Denz1994 commented on #206
Because these entries come directly from the PubChem database, we would need to review the entries or develop a post-processing step to follow a heuristic for editing the formula names. It seems like PubChem doesn't follow a pattern. It would be reasonable to at the least check the collection box goal molecules.

These are found in collectionMoleculesData.txt mentioned above.

[2020-08-26 21:01] arouinfar commented on #206
Of the five molecules that have an odd chemical formula ordering in collectionMoleculesData.js, three of them appear to be use the more preferable chemical formula ordering in the collection:

![image](https://user-images.githubusercontent.com/8419308/91354888-99434280-e7aa-11ea-8f4b-3a933e93c184.png)
![image](https://user-images.githubusercontent.com/8419308/91355459-68afd880-e7ab-11ea-85e1-f6b3f

[2020-08-26 21:07] KatieWoe commented on #206
Other chemicals that are more complicated seem impacted as well:
![h4n2](https://user-images.githubusercontent.com/41024075/91357020-ce04c900-e7ad-11ea-8adf-ad532af85b73.png)

[2020-08-26 21:13] KatieWoe commented on #206
Wikipedia says the above should be N2H4

[2020-08-26 21:19] KatieWoe commented on #206
Not sure of this one, so posting just in case:
![couldnttellpho](https://user-images.githubusercontent.com/41024075/91358148-8d0db400-e7af-11ea-9e32-25cc0f3c1bbf.png)

[2020-08-26 21:20] arouinfar commented on #206
I don't think there's anything we can or should do about molecular formulas in otherMoleculesData.js. [PubChem](https://pubchem.ncbi.nlm.nih.gov/compound/9321) lists H4N2 as an acceptable formula for Hydrazine. I think PubChem is using a convention where the formula is ordered C > H > N > O.

To be clear, the formulas for hydrogen cyanide and ammonia are not wrong when ordered this way, but they j

[2020-08-26 22:13] arouinfar opened #207 "Bond order is sometimes displayed incorrectly"
For https://github.com/phetsims/QA/issues/538 and possibly related to https://github.com/phetsims/build-a-molecule/issues/151.

Occasionally, a double bond is rendered as a single bond in the ball-and-stick representation. Here are a few instances:

| Molecule | Sim | PubChem 3D |
| --- | --- | --- |
| [Phosgene](https://pubchem.ncbi.nlm.nih.gov/compound/Phosgene) | ![image](https://user-images.gi

[2020-08-27 16:49] arouinfar commented on #207
@Denz1994 these structures are correctly rendered in the Java sim.
![image](https://user-images.githubusercontent.com/8419308/91470964-a156bd00-e852-11ea-97ee-b03104da5768.png)
![image](https://user-images.githubusercontent.com/8419308/91471038-bb909b00-e852-11ea-8d37-8b1eb6b5f53e.png)
![image](https://user-images.githubusercontent.com/8419308/91471123-dc58f080-e852-11ea-84f9-f984feeaed24.png)

[2020-08-27 17:29] arouinfar commented on #207
@Denz1994 I tested several older dev versions, and it doesn't appear to be a new issue. It existed in dev.50 (post- #151) and dev.40 (pre- #151).

[2020-08-27 17:42] arouinfar commented on #207
I think I've figured it out. These molecules have resonance bonding, which means there is a delocalized electron. The most probable location for that electron would be where PubChem shows a double bond.

![image](https://user-images.githubusercontent.com/8419308/91475900-7d4aaa00-e859-11ea-830d-2f2569e48960.png)

![image](https://user-images.githubusercontent.com/8419308/91475950-92273d80-e859-11e

[2020-08-27 17:53] arouinfar commented on #207
On second thought, I am going to reopen and defer. It would be nice to understand the difference between the Java and HTML5 behavior, but it should not impact publication.

[2020-08-27 18:33] Denz1994 opened #208 "Zoom magnification support"
I was testing the zoom magnification feature using the `?supportZoom=true` in BAM. The latest BAM RC doesn't work with this query parameter. More specifically, pinch to zoom and `Cmd +` doesn't work on my MacBook.

Here is the [link](https://phet-dev.colorado.edu/html/build-a-molecule/1.0.0-rc.2/phet/build-a-molecule_all_phet.html?supportZoom=true) that was tested.

@ariel-phet mentioned that this

[2020-08-27 23:18] jessegreenberg commented on #208
Regarding the query parameter, it looks like SHAs for build-a-molecule were taken while the param was still called `zoom` (instead of `supportsZoom`). When `zoom` is used, there is some magnification but it isn't working very well.

I checked out the scenery SHA for 1.0.0-rc.2, and it is from June 19, 2020. The published molecules-and-light scenery SHA with magnification is from July 21. So it loo

[2020-08-28 13:49] Denz1994 commented on #205
Based on @samreid investigation in https://github.com/phetsims/axon/issues/328#issuecomment-681174532 and https://github.com/phetsims/axon/issues/328#issuecomment-681357413 it looks like this sim wasn't affected by a memory leak and a patch isn't essential.

These RC shas also underwent a check for memory leaks in the first RC and no leaks were found. https://github.com/phetsims/QA/issues/509#issu

[2020-08-28 13:49] #205 closed

[2020-08-28 14:36] Denz1994 commented on #168
Credits have been updated.

[2020-08-28 16:33] Denz1994 commented on #206
@arouinfar We have an internal function used to get the formula of molecules this is in `MoleculeStructure.getGeneralFormula`.

More specifically here are some comments from the code:
[code]
This relates to the order of elements in the formula.  Also here are some exception cases for H3N and CHN below.
[code]

I'll continue with the suggested changes you posted above, but I wanted to leave this he

[2020-08-28 16:57] Denz1994 commented on #206
Okay, molecules should be fixed in the above commit. I'll verify with @arouinfar.

[2020-08-28 18:01] Denz1994 commented on #206
Here are the other examples requested above:

![image](https://user-images.githubusercontent.com/13894380/91595787-1816b780-e932-11ea-9136-bc744eb62b91.png)

![image](https://user-images.githubusercontent.com/13894380/91595826-27960080-e932-11ea-86a1-61c4b16cdf8f.png)

![image](https://user-images.githubusercontent.com/13894380/91601001-e9e7a680-e936-11ea-9c4f-ef962d56764a.png)

![image](https://u

[2020-08-28 18:02] Denz1994 commented on #206
@arouinfar Based on the images above do these formulas look correct? If so, we can close this issue.

[2020-08-31 21:47] arouinfar commented on #206
@Denz1994 the screenshot for hydrogen cyanide shows `CHN` instead of `HCN`. The other examples all look good.

[2020-09-02 16:24] arouinfar opened #209 "Sim screenshots"
We're in rc (https://github.com/phetsims/QA/issues/538), so it's definitely time for some screenshots.

[2020-09-02 17:20] arouinfar commented on #209
Screenshots have been committed to master and 1.0, closing.

[2020-09-02 17:20] #209 closed

[2020-09-02 17:24] arouinfar commented on #209
For #155

[2020-09-02 19:09] Denz1994 commented on #206
Apologies, I've posted an image from a broken version. Here are the proper `HCN` molecule and goal text.

![image](https://user-images.githubusercontent.com/13894380/92025905-331c6980-ed2e-11ea-83d2-629581763f74.png)

[2020-09-02 19:09] Denz1994 commented on #206
It looks like this RC has the correct ordering. Thanks for the input. Closing this one.

[2020-09-02 19:09] #206 closed

[2020-09-02 19:10] Denz1994 commented on #168
Closing this one.

[2020-09-05 14:24] Denz1994 commented on #208
This will most likely be captured in a minor release off of master. We can capture this feature when that time comes.

[2020-09-11 20:26] KatieWoe opened #210 "iPad reset all button overlaps answer box"
**Device**
iPad 6th Gen
**OS**
iPadOS 13.7
**Browser**
Safari
**Problem Description**
For https://github.com/phetsims/QA/issues/538. Appears in app and in Safari browser.
I haven't seen this on things like Win 10 Chrome, so may be exclusive to this platform. The answer box seems longer on this platform, and can brush up behind the reset all button. Seen on the first screen with the first challenge

[2020-09-11 20:43] KatieWoe commented on #210
Tried several single levels. Several had this overlap, but none seemed to go further than this. Adding @arouinfar to see if this even needs to be addressed.

[2020-09-11 21:10] arouinfar commented on #210
While not Chromebook, this seems related to https://github.com/phetsims/scenery/issues/935.

@KatieWoe does this happen other iOS devices? Did this happen in earlier dev/rc's? It would be helpful to know if this is a new issue or if it is device/iOS specific.

@Denz1994 looks like there is plenty of padding in the panel, so if you shave off a few px between the collection boxes, we should be able

[2020-09-11 21:14] KatieWoe commented on #210
Saw on my phone and on dev.79. Sorry this got by.

[2020-09-11 22:05] KatieWoe commented on #168
@arouinfar should you be added too?

[2020-09-11 22:22] arouinfar commented on #168
Thanks for checking @KatieWoe, but I'm already credited.

[2020-09-11 22:22] #168 closed

[2020-09-16 23:55] Denz1994 commented on #210
I made some additional room for the resetAllButton. This means slightly moving it down and reducing some of the vertical spacing between the collection box items. This should be fixed in this [version](https://phet-dev.colorado.edu/html/build-a-molecule/1.0.0-rc.3/phet/build-a-molecule_all_phet.html). Can you verify @KatieWoe or @arouinfar?

[2020-09-17 00:21] arouinfar commented on #210
The layout looks good on my laptop, but I'll leave it to @KatieWoe to verify on iPad.

[2020-09-24 19:49] KatieWoe opened #211 "iPadOS 14 Molecules in 3D view don't show up"
**Device**
iPad 6th Gen
**OS**
iPadOS 14
**Browser**
Safari
**Problem Description**
For https://github.com/phetsims/QA/issues/550
Only shows up on iPadOS 14, not on iPadOS 13.7. If you build a molecule and press the 3D button, no image shows up. In either the ball model or the ball and stick model. Taking a picture seems to make it appear, but it flickers and doesn't move like it should.
**Visuals

[2020-09-24 22:24] phet-steele opened #212 "Completing a level while viewing a previous level will not allow you to proceed"
1. Start a game and finish the first level.
2. Move on to the next level, and complete all but one of the answers.
3. Form the last molecule for the last answer, and use finger A to drag and hold this molecule over its answer box. Keep it hovered in place; do not let go of finger A.
4. With finger B, press the yellow arrow to transition back to level 1.

This will cancel the touch interaction on f

[2020-09-24 22:43] arouinfar commented on #211
This look similar to https://github.com/phetsims/charges-and-fields/issues/189

[2020-09-30 18:15] KatieWoe commented on #203
This looks ok in RC3.

[2020-09-30 18:15] #203 closed

[2020-09-30 18:48] KatieWoe opened #213 "Sim is non-interactive while loading another sim in another tab."
**Test device**
Macbook Air
**Operating System**
MacOS 10.15.7
**Browser**
Chrome 85.0.4183.121
**Problem description**
For https://github.com/phetsims/QA/issues/550. Found while looking at https://github.com/phetsims/build-a-molecule/issues/203. I was unable to reproduce this when I tried on a few published sims and sims on master.
If you open the sim in two or three tabs, and the sim seems loade

[2020-09-30 22:43] arouinfar commented on #213
@Denz1994 @KatieWoe I was unable to reproduce this on my Mac, which is running the same macOS and Chrome versions as the test device. I also tried Safari 14 for comparison.

Unless there is a way to reproduce this at least somewhat reliably, I'm inclined to defer.

[2020-09-30 22:47] arouinfar commented on #212
Really nice find @phet-steele! I wonder if this is a Chromebook multitouch issue or a more general multitouch issue. I think it would be helpful to know if it occurs on iOS as well. Not sure if you have access to an iPad @phet-steele so I'll co-assign @KatieWoe.

[2020-10-01 05:00] ariel-phet commented on #211
@Denz1994 I think it would be good for @jonathanolson to be involved in this fix as it appears to be a more general issue...oh iOS updates...

[2020-10-01 18:05] jonathanolson commented on #211
There are other issues going on, but this seems to be resolved by https://github.com/phetsims/mobius/commit/d0ab7e1ea31f37025c56038bac2df757c95fd35c, @Denz1994 can you look into BAM with this if needed? I'm investigating the CAF issues and other details of why this is necessary.

[2020-10-01 20:41] KatieWoe commented on #212
Reproduced on iPadOS 14.0.1. Great catch!

[2020-10-01 21:53] phet-steele commented on #212
I do not have one. 😄

[2020-10-05 17:29] Denz1994 commented on #211
I don't have an iPad to test this out, so QA will have to take the lead on verifying this is longer an issue. I wasn't able to reproduce this issue on macOS Catalina 10.15.5 and Safari 13.1.1 or on iOS 12.4.8. Labeling for qa verification.

[2020-10-05 17:39] arouinfar commented on #211
Looks fixed in macOS 10.15.7/Safari 14.0.

[2020-10-06 16:10] Denz1994 commented on #213
I'm also not able to reproduce consistently. Granted I'm running a Macbook Pro, but I'd agree to defer on this. Most of the performance leg work is done during the startup of the sim. On my machine, this caused the initially loaded sim to lag a bit, but not be completely non-interactive. I had a similar experience with Density. This seems like a more general problem related to sim performance with

[2020-10-06 16:10] #213 closed

[2020-10-06 16:28] Denz1994 commented on #212
Great catch. The issue is centered around what happens to the molecules after the touch event is canceled. Because the molecule intersects with the collection box bounds and the userControlledProperty is false it will accept the molecule. I think we'll just need to check for the current kit to prevent acceptance or maybe force the molecule back to the kit.

I have a touch device I can test this on

[2020-10-07 17:18] Denz1994 commented on #212
The patch above makes it so molecules are only added to boxes if the kit is the currently active kit. This should handle all multi-touch cases that swap kits while dragging is still active. Will have qa verify.

[2020-10-08 03:54] ariel-phet commented on #211
Fixed for me in iOS 14 on iPad Air 2. I will also let QA verify, but this test can now proceed.

[2020-10-08 21:26] KatieWoe commented on #211
This looks good in rc.4

[2020-10-08 21:26] #211 closed

[2020-10-08 21:50] phet-steele commented on #212
@Denz1994 I am not seeing this fix present in 1.0.0-rc.4

[2020-10-08 22:02] KatieWoe commented on #210
This looks good on iPadOS 14

[2020-10-08 22:06] #210 closed

[2020-10-08 22:12] KatieWoe commented on #212
Issue still occurs in rc.4 on iPadOS 14 as well.

[2020-10-09 20:12] Denz1994 commented on #212
The patch above only handled cases where the kit was changed. I thought this would catch collection changes as well. Additional restrictions on dropping completed molecules have been added. This restriction limits accepted molecules to collection boxes that are part of the current active collection.

@ariel-phet asked to be assigned to this one for testing.

Can you verify this [version](https://p

[2020-10-09 20:44] ariel-phet commented on #212
@phet-steele said he will have a little time for this verification

[2020-10-09 21:07] phet-steele commented on #212
This looks fixed in 1.0.0-rc.5!

[2020-10-09 21:07] #212 closed

[2020-10-13 17:55] Denz1994 opened #214 "Sim deployed with partial translations"
It was noted by @oliver-phet that the recently published BAM has a set of translated sims that are partially translated (titles and phet menu). I followed the normal `grunt production` procedures as documented in https://github.com/phetsims/phet-info/blob/master/deployment-info/chipper-2.0.md but after consulting with @jonathanolson and @jbphet it seems to be that this sim pulled java strings earl

[2020-10-13 18:22] Denz1994 commented on #214
@jbphet suggested a motion to remove the translated sims from the website and phet-server, then delete the translated strings in babel. This should give the sim a clean slate. It was also suggested to be careful about removing legit translations that may have been submitted since the last day since the sim went live.

[2020-10-13 18:38] Denz1994 commented on #214
@mattpen and I took a look at the translated sims and determined based on the creation of the translated sims on phet-server no translator submissions were submitted. All the translations were submitted at the same time right when I did the deploy. We went ahead deleted them from phet-server.

Because the en sim page and the translated sim pages are all cached at different levels, tomcat will be d

[2020-10-13 18:50] Denz1994 commented on #214
I removed the java translated strings from babel. At this point, we are awaiting Tomcat to refresh the webpage, which can take at most 24 hours. I will close this issue when that happens.

[2020-10-13 20:41] Denz1994 commented on #214
The BAM sim page has been updated and the partially translated sims have been removed. Thanks, @mattpen, @jbphet, and @jonathanolson for helping out. Closing this one.

[2020-10-13 20:41] #214 closed

[2020-10-14 15:37] Denz1994 commented on #167
The prototype was removed from phet-server and the sim has been published. Closing this issue.

[2020-10-14 15:37] #167 closed

[2020-10-21 18:42] jbphet commented on #178
@DianaTavares contacted me via Slack and said that she was unable to translate the molecule names used in this sim into Spanish through the translation utility (aka Rosetta).  I just logged into Rosetta and brought up the page for build-a-molecule and Spanish, and indeed, the molecule names from `collectionMoleculesData.js` are not available for translation.  Above, @arouinfar recommended that the

[2020-10-27 00:08] ariel-phet commented on #178
@Denz1994 this would probably be good to fix when we add in the new molecule data

[2020-10-27 19:35] oliver-phet commented on #178
Just to add, please let me know when this has been added so that I can inform translators. I just got a report about this from Sandor.

[2020-10-28 16:38] oliver-phet opened #215 "User suggestion: access to all atoms, polyatomic ions"

[2020-10-28 17:09] arouinfar commented on #215
The file size of BAM is 2-3x larger than the typical sim. There are nearly 10,000 molecules in [otherMoleculesData.js](https://github.com/phetsims/build-a-molecule/blob/master/js/common/model/data/otherMoleculesData.js) which only includes the neutral molecules that can be built by the current bucket configurations in the sim. Rebuilding the database is very time consuming and costly. We're curren

[2020-10-28 17:18] oliver-phet commented on #215
Thanks so much, @arouinfar. I'll reply to the user.

[2020-10-28 17:18] #215 closed

[2020-10-30 18:13] jbphet commented on #178
@Denz1994 and I discussed this today and he has a rough plan for how to make the molecules translatable.  I offered to help with testing of the changes, since it will involve making changes to babel that we want to make sure don't get committed, at least not to the master branch.

[2020-11-04 01:45] Denz1994 commented on #178
The strings that were previously used in the collection boxes were pulled from the `CollectionMoleculesData.js` and parsed for the molecule name. These didn't come from the string.json file. Some internal support was implemented  so these "unofficial" strings could be changed under the testing conditions fired from the `stringTest=` query parameter.

The revision here was to add the entries for ea

[2020-11-04 01:45] Denz1994 commented on #178
Assigning to @jbphet for review. I believe this should have fixed the issue.

[2020-11-04 18:05] Denz1994 commented on #178
While reviewing with @jbphet, we thought the implementation detailed above works as expected. These additional strings were tested against currently published "es" strings. @jbphet suggested doing a maintenance release and checking for these strings in the HTML of the built RC. Search for `BUILD_A_MOLECULE/water` for example.

[2020-11-04 20:34] Denz1994 commented on #178
During the build process unused strings are stripped from the build artifact. When the strings are accessed via bracket notation (i.e. `buildAMoleculeStrings[acetylene]`), they don't get registered as accessed strings like when dot notation is used (i.e. `buildAMoleculeStrings.acetylene`).

We don't know what the strings are prior to loading the sim data so, we need to access them via a pseudo Str

[2020-11-04 21:08] Denz1994 commented on #178
Changes have been pushed. I'd suggest @DianaTavares try to translate one of the molecules in the collection boxes like "water" for example.

[2020-11-05 13:41] arouinfar commented on #178
@Denz1994 two of the English strings are formatted like the string key, which is odd.
![image](https://user-images.githubusercontent.com/8419308/98247712-3b14a780-1f31-11eb-8b98-43a5ddb6d7da.png)

Compare to other two-word molecule names:
![image](https://user-images.githubusercontent.com/8419308/98247781-4bc51d80-1f31-11eb-9cea-8dcda64201e1.png)

Unfortunately, this means that the molecule names

[2020-11-05 17:29] DianaTavares commented on #178
the translations are working pretty well:

![image](https://user-images.githubusercontent.com/26031501/98275100-e0dc0c80-1f59-11eb-884b-a64fca307965.png)

And now I have a long list of molecules names to translate in the translation tool.

But @arouinfar is right, the English names are strange:
![image](https://user-images.githubusercontent.com/26031501/98275247-1254d800-1f5a-11eb-9b50-c5948533200

[2020-11-05 18:29] Denz1994 commented on #178
Correct, the English entry didn't have a space for the two strings mentioned above. I'd just like an additional look at this change. In this version the two strings have been fixed. Can you confirm @arouinfar?

https://phet-dev.colorado.edu/html/build-a-molecule/1.0.2-rc.1/phet/build-a-molecule_all_phet.html

[2020-11-06 02:18] ariel-phet commented on #178
@Denz1994 I verified this fix

[2020-11-06 02:30] Denz1994 commented on #178
Strings have been deployed [here](https://phet.colorado.edu/sims/html/build-a-molecule/latest/build-a-molecule_en.html). Closing.

[2020-11-06 02:30] #178 closed

[2020-11-09 15:50] KatieWoe opened #216 "CT bond not found"
[code]

[2020-11-23 23:24] arouinfar opened #217 "Nomenclature standard"
Recently, two teachers have contacted phethelp in regards to nomenclature. In both cases, the user expected the displayed name to be the common name.

| CID | IUPAC traditional name | Name on PubChem entry |
| --- | --- | --- |
| [1045](https://pubchem.ncbi.nlm.nih.gov/compound/1045) | 4-aminobutylamine | putrescine |
| [6584](https://pubchem.ncbi.nlm.nih.gov/compound/Methyl-acetate) | acetic acid

[2020-11-24 19:52] issamali67 commented on #217
PUBCHEM_IUPAC_NAME can give "less simple" names, which may not be the preferred ones. Here is an example: CID 6585, which is peracetic acid in the current and new data bases. If we use IUPAC_NAME then it will appear as ethaneperoxoic acid, which is also the prevalent name. However, pubchem lists it under the title peracetic acid, so I guess peracetic is the preferred name (which is also PUBCHEM_IU

[2020-12-06 14:09] samreid opened #218 "Document why removal must be guarded, or remove the guard"
In https://github.com/phetsims/axon/issues/332 we removed the guard from createObservableArray removal methods.  I added a sim-specific guard in the following commit, but I'm not sure if it should be documented or eliminated.  Assigning to responsible dev to take a look:

https://github.com/phetsims/build-a-molecule/commit/a2cb0776b6b7914cfdb6033e027338a084167005

[2020-12-07 18:36] Denz1994 commented on #218
Guard has been removed. It isn't necessary if we remove the atom from the particle list in the `atomDragCallback` instead of in the `particleRemovedListener`. Thanks for shedding some light on this issue. Closing.

[2020-12-07 18:36] #218 closed

[2020-12-11 18:36] issamali67 opened #219 "New data base checks"
New data base is finished. A total of 23591 molecules (few are single atom molecules will can be filtered). Need to randomly check some of the new molecules (see attached other-molecules.txt).
[other-molecules.txt](https://github.com/phetsims/build-a-molecule/files/5680938/other-molecules.txt)

[2020-12-21 21:59] arouinfar commented on #217
Thanks for the information @issamali67. Let's stick with the `PUBCHEM_IUPAC_TRADITIONAL_NAME`. I'll be sure to make a note about the convention in the Teacher Tips.

[2020-12-21 21:59] #217 closed

[2021-01-14 23:33] muedli opened #220 "RTL languages can have backwards formulas"
Got an email into phethelp:

Attached screenshot:
![rtl-issue](https://user-images.githubusercontent.com/60749003/103816681-9e4eb300-5022-11eb-9885-f34e565d194e.png)

Assigning @ariel-phet for prioritization.

[2021-01-14 23:36] muedli commented on #220
@ariel-phet had this on high priority in the Rosetta repo, so I'm going to put it on high here.

[2021-01-26 21:46] issamali67 commented on #219
Here is the current (legacy) BaM database.
[legacy_other_molecules.txt](https://github.com/phetsims/build-a-molecule/files/5876323/legacy_other_molecules.txt)

[2021-01-27 05:02] arouinfar commented on #204
The sim has been delivered to LoL, closing.

[2021-01-27 05:02] #204 closed

[2021-01-28 19:51] jonathanolson commented on #220
This... looks fixed on master? Running with `?locale=fa` locally:

![image](https://user-images.githubusercontent.com/480878/106190989-8b358b80-6167-11eb-9263-6e09db94d486.png)

@arouinfar thoughts on what to do?

[2021-01-28 21:38] jonathanolson commented on #216
I... haven't been able to reproduce this, and haven't seen it on CT. Should this be closed?

[2021-01-28 21:39] #216 closed

[2021-01-29 01:48] ariel-phet commented on #219
@jonathanolson @issamali67 @arouinfar There seem to be a few issues with the new molecule list. Overall I think the list of new molecules is correct, but the new list has filtered out some legitimate compounds from the original list.

This excel file should provide an easy reference
[BAM new molecules.xlsx](https://github.com/phetsims/build-a-molecule/files/5891017/BAM.new.molecules.xlsx)
- The .t

[2021-02-01 17:38] arouinfar commented on #220
@jonathanolson the subscripts and ordering of elements in a chemical formula look ok in master. However, there are still some serious issues. Coefficients are not being properly handled, and a string like `Goal: 4H2` is being rearranged oddly into `4: goal H2`. The primary learning goal of the Multiple screen if for students to figure out the meaning of coefficients and how they differ from subscr

[2021-02-01 21:34] arouinfar commented on #219
Thanks for creating the spreadsheet @ariel-phet! I spent ~15 minutes checking the first 50 rows in the "Molecules not in updated list from original list" section, see [BAM.new.molecules-AR.xlsx](https://github.com/phetsims/build-a-molecule/files/5906897/BAM.new.molecules-AR.xlsx). About 60% of the compounds appear to have been incorrectly eliminated. The remaining 40% were eliminated because it wa

[2021-02-01 23:10] jonathanolson commented on #220
Both of those issues (the separation and the parenthesis) should both be very solvable issues, I'll look into it!

[2021-02-02 03:12] jonathanolson commented on #220
It looks like a combination of two ways embedding marks were missing:

1. The normal RTL embedding marks were outright missing around the RTL strings. @jbphet I was under the impression that rosetta added RTL marks by default around RTL language strings. Is this incorrect now? I'd like to see how this was possible to end up in our system. @arouinfar if there was anything atypical with the creation

[2021-02-02 03:18] jonathanolson commented on #220
For reference, a single string change was:

Before:
![image](https://user-images.githubusercontent.com/480878/106547344-4c3a6980-64ca-11eb-95c7-0418df9ef99f.png)
After:
![image](https://user-images.githubusercontent.com/480878/106547394-5f4d3980-64ca-11eb-8f94-057a391ad056.png)

202a: Start LTR mark
202b: Start RTL mark
202c: End (one of the above) mark

I'm lazily using a tool I made at https://j

[2021-02-02 17:17] issamali67 commented on #219
I think you guys checked these molecules on pubchem search, and things can be different than what you will find in the SDF files, which are used for filtering. I checked the SDF files for the 1st 100 molecules appearing in the excel file (to include the ones @arouinfar looked at). These 100 divide into 3 categories:

(1) **name not in SDF**: A molecule whose information mostly exist in SDF but its

[2021-02-02 20:02] jbphet commented on #220
It is not incorrect that I know of.  Rosetta is definitely designed to add the RTL embedding marks.  There has been some work on the related file recently, done by @muedli, so I'll ask him to investigate if any of the changes he made may have broken this functionality.

You should be able to safely move them to babel, and you do NOT want to have any sort of an edit trail with your name on it, othe

[2021-02-04 04:17] arouinfar commented on #220
Looks awesome @jonathanolson!

If there's something that needs more discussion, I'd be happy to join in.

[2021-02-04 17:03] jonathanolson commented on #220
Pushed to master in babel, can we trigger a translation build @muedli?

Additionally, I think it's most likely necessary to wrap embedded LTR values (like the molecular formulas) with embedding marks as a general development practice. It might be good to discuss this briefly sometime @jbphet to get your opinion.

[2021-02-04 17:28] muedli commented on #220
Master should be fine if you want to trigger a translation build using the triggerBuild route @jbphet wrote. I'd be happy to assist if necessary.

[2021-02-04 21:14] muedli commented on #220
Actually, I lied @jonathanolson. I need to push a small fix to master before anyone can use localhost to trigger a build.

[2021-02-05 16:28] KatieWoe opened #221 "CT Bond not found"
[code]

[2021-02-05 18:56] issamali67 commented on #219
Found the problem. From the molecules that are filtered out (highlighted in yellow in the attached excel):
(1) there are no buckets in the current BaM sim for 3 molecules. For example, the sim does not allow to have molecules of sulfur and oxygen or boron and fluorine (see column with header "comments 2" in the attached excel). May be in older BaM version this was allowed?
(2) the remaining filter

[2021-02-08 16:32] KatieWoe opened #222 "CT cannot read property atoms of null"
[code]

[2021-02-09 17:01] pixelzoom commented on #221
In 2/4/21 dev meeting, we established that this may be due to CT multi-touch fuzz testing ( `?fuzzPointers=2`) being enabled for phetsims/aqua#106.

[2021-02-10 00:20] jbphet opened #223 "Sound coverage is spotty"
In [version 1.0.2 of this sim](https://phet-dev.colorado.edu/html/build-a-molecule/1.0.2/phet/build-a-molecule_en_phet.html), which is the version of the sim that is live on our site at the time of this writing, sound is enabled, I think because there was a desire to have the "ding" sound play when molecules were correctly built and captured.  Common UI sounds were used in some places, such as for

[2021-02-10 00:20] jbphet commented on #223
Assigning to @kathy-phet to help prioritize.

[2021-02-11 23:31] arouinfar commented on #223
My vote would be to turn on all common UI sounds. The only components that probably don't have a common sound would be the carousel and bucket.

If a user doesn't want to listen to the sound, they can mute it. The vegas-like "ding" is nice feedback, but I wouldn't consider it a pedagogical sound that should be treated differently than other sounds.

[2021-02-18 22:26] jbphet commented on #223
We discussed this in a design meeting on 2/18/2021 and decided that for now we should turn off the UI sounds so that the only sound will be the ding when a molecule is captured.  @jbphet will implement this on master and will propagate to the release branch.  The change will go out in an upcoming release related to the molecule DB.

[2021-03-02 20:35] oliver-phet opened #224 "BaM is taking a very long time to load on multiple platform"
@mattpen found that on his Android and Chromebook devices, BaM takes quite a while to load. Android phone ~20 seconds. Chromebook ~10 seconds.
@KatieWoe can you describe the devices you have tested BaM and note their load performance:

Device and OS Version | Load time
------------- | ------------

[2021-03-02 21:25] KatieWoe commented on #224
Device and OS Version | Load time
------------- | ------------
Win 10 Chrome | Load time 1
Win 10 Firefox | Load time 2
Mac 11 Safari | Load time 3
iPad 14 | Load time 4
ChromeOS | Load time 5
Android Tablet | Load time 6

[2021-03-02 21:56] mattpen commented on #224
Assigning to @jonathanolson since he is the responsible dev for build-a-molecule.

[2021-03-03 23:36] jonathanolson commented on #224
This is partially expected, it has to load a LOT of data. @oliver-phet, any preferences on the balance between load-time of the sim and download size? At a certain level there's a tradeoff, but I could take a look into optimizing things (I'm sure I could help improve things).

[2021-03-05 19:15] oliver-phet commented on #224
@jonathanolson do you have a perspective on why the sim takes _so much longer_ to load on Android and Chrome specifically? When I load the sim on my iPhone (in our iOS app or mobile safari) the sim only takes ~3 seconds to load. I appreciate the tradeoff between load-time and download size, but it is surprising that those two platforms are experiencing such long load times.

[2021-03-22 17:52] jonathanolson commented on #224
I'm not sure. It's a very specific CPU task that allocates a lot of memory. It's probably fairly dependent on the CPU and memory, and heavily dependent on browser optimizations and GC.

[2021-03-22 17:52] jonathanolson commented on #224
I could profile it presumably to see why this might be happening?

[2021-03-22 21:09] oliver-phet commented on #224
Yes, @jonathanolson profiling sounds like the next best step! This would be good to diagnose before our next Chromebook app goes out.

[2021-03-25 16:21] oliver-phet commented on #207
A user report this behavior:

[2021-04-01 17:32] issamali67 commented on #219
I fixed the problem with the filtering code. Still get around 23K molecules in the end. Many of these molecules are created after the first database came out in 2011. Attached is the excel file (contains names, formula and CID only) for checking (I already did some random ones and looks to be fine). Most of these molecules have 3d info (currently downloading this info). Few are only 2d.
[new_filte

[2021-09-20 16:29] KatieWoe opened #225 "CT cannot read properties of undefined reading dragListener"
[code]

[2021-11-16 20:20] markgammon opened #226 "Build a Molecule"

[2021-11-16 23:50] #226 closed

[2021-11-19 17:58] markgammon opened #227 "Decide whether to turn off UI sounds on next publication"
As part of the work done for https://github.com/phetsims/vegas/issues/77, UI sounds got turned on for this simulation.  Before the sim is published again from master, we should decide whether to turn the UI sounds off, leave them on and design and implement sounds for the rest of the interactions, or publish with a partial sound design.

If the decision is to turn them off, this can be accomplishe

[2021-12-02 09:18] hongson23 opened #228 "Can not find phet-io when Running Grunt "build" task"
Hello
Thank for your works,
When I grunt build I have an issue about phet-io
Running "build" task
Fatal error: tsc failed with code: 1
stdout:
error TS5083: Cannot read file 'C:/Users/sonhh/Desktop/new_PHET/phet-io/tsconfig-module.json'.
Please take a look,
Thanks

[2021-12-08 08:24] hongson23 commented on #228
Related to https://github.com/phetsims/phet-info/issues/175

[2021-12-08 08:24] #228 closed

[2021-12-13 21:29] markgammon opened #229 "Build a Molecule - Publish 1.1 with improved molecule database"

[2021-12-15 17:10] KatieWoe commented on #225
Occurs reading other things as well. Example:
[code]

[2022-02-28 16:31] KatieWoe opened #230 "CT cannot add an already existing atom"
[code]

[2022-03-18 15:26] KatieWoe commented on #221
[code]

[2022-03-28 16:17] KatieWoe commented on #222
[code]

[2022-06-02 16:10] KatieWoe opened #231 "CT Need to call node.removeChild() with a Node."
[code]

[2022-06-10 19:07] liam-mulhall commented on #220
I've been going through old GitHub issues and I realized this one fell off my radar. I triggered two different build requests for BAM in the fa locale around 10 AM. (Shouldn't the new builds be up by now?) The build server logs seem to indicate the builds succeeded. I'm still seeing:

![Screenshot from 2022-06-10 10-58-32](https://user-images.githubusercontent.com/60749003/173133472-8c87844e-2f54-

[2022-08-26 16:56] KatieWoe opened #232 "CT Corner overlap on left edge"
[code]

[2022-08-27 16:05] samreid commented on #232
This was introduced by the new layout changes. The content of the button for ?stringTest=xss is only 6.7 but the corner radii are 4, so it is not able to curve the button as requested.  Turning off the button curvature leads to a similar problem in the gradient.

After fixing those, there is still a layout problem like so:

<img width="383" alt="image" src="https://user-images.githubusercontent.co

[2022-10-22 00:07] liammulh commented on #220
@jbphet and I were working on Rosetta 2.0 today and we discovered that Rosetta 1.0 only adds embedding marks when a translation is tested.

Rosetta 1.0 does not add embedding marks when a translation is submitted, to the best of my and @jbphet's knowledge. Perhaps that explains what I was seeing in https://github.com/phetsims/build-a-molecule/issues/220#issuecomment-1152653660?

[2022-10-26 16:39] pixelzoom opened #233 "Sim uses non-standard color for push buttons."
Related to https://github.com/phetsims/calculus-grapher/issues/78 ...

When moving UndoButton to scenery-phet, I noticed that build-a-molecule is using 'yellow' for the baseColor of this push buttons (search for 'yellow').  PhET's standard color for push buttons is PhetColorScheme.BUTTON_YELLOW, which is now the default in UndoButton.

So that build-a-molecule wasn't changed, I added `baseColor: '

[2022-10-26 16:47] pixelzoom opened #234 "Use UndoIcon in this sim."
In https://github.com/phetsims/calculus-grapher/issues/78, we standardized and generalized UndoButton, and factored out UndoIcon.  UndoIcon is implemented as a very specific Shape.   The button looks like this

<img width="67" alt="screenshot_1938" src="https://user-images.githubusercontent.com/3046552/198085993-c9d079d1-d422-4b64-8647-65a27dbc3322.png">

build-a-molecule has RefillButton, which l

[2022-10-26 17:36] arouinfar commented on #234
Thanks @pixelzoom, good to know there is now support for the UndoIcon.

I don't have a preference for one iconic arrow over the other. The refill button behaves differently than the undo button, so I don't think we necessarily need to use UndoIcon here. However, I'll defer to the responsible dev @jonathanolson to decide if there's an implementation benefit to making the switch.

This doesn't have

[2022-10-27 21:37] liammulh commented on #220
@jbphet is going to look into this when he gets a chance.

[2022-11-01 23:14] jbphet commented on #220
I've done some investigation on this and, while I don't have a solution yet, I have some information that should help us work towards one.  Here are some notes:

- On master and in the published versions of this sim, the Persian (fa) and Saudi Arabian Arabic translations (ar_SA) have backwards chemical formulas, while other RTL translations such as Hebrew (iw) and general Arabic (ar) do not.
- One

[2022-11-01 23:19] jbphet commented on #220
@jonathanolson - Are RTL embedding marks being added in the string generation stage?  If so, do you think that *not* adding them to patterns might fix this issue?  It seems to me that it is creating a bit of a "double negative" sort of situation.

Once you've reviewed the notes above and commented, let me know if you'd like to meet to discuss.  I'm happy to do so.  This is marked as high priority

[2022-11-28 23:13] jbphet commented on #223
I have fixed this on master, and it's a simple fix, but I just asked @jonathanolson over Slack whether it was a good time to propagate this fix to the release branch and do a maintenance release, and the short answer is no.  I'll defer this, and put a reminder on my calendar to get back to it in Jan 2023.